{% extends "base.njk" %}

{# variables #}
{% set title        = 'проблемы' %} {# Заголовок #}
{% set category     = 'docs' %} {# категория #}
{% set subcategory  = 'инструменты' %} {# подкатегория #}
{% set segment_del  = 'delete' %} {# подкатегория #}
{% set path = '../' %}

{# <head> #}
{% block head %}
  <title>{{ title | capitalize }} при использовании Nunjucks</title>
  <meta name="description" content="Неприятные ситуации в процессе работы с шаблонизатором Nunjucks" />
{% endblock %}

{# <body> #}
{% block main %}

  <h1>Проблемы при использовании</h1>
  <p>Неудачи, в процессе работы с Nunjucks. Здесь я записал все моменты, с которыми хотелсь бы разобраться.</p>

  <ol>
    <li><a href="1.html">задать имя массива через переменную</a></li>
  </ol>

{% endblock %}