{% extends "base.njk" %}

{% set document   = 'issues' %}
{% set category    = 'docs' %}
{% set subcategory = 'nunjucks' %}
{% set segment     = 'issues' %}
{% set subsegment  = '' %}

{% block head %}
  <title>{{ title | capitalize }} при использовании Nunjucks</title>
  <meta name="description" content="Неприятные ситуации в процессе работы с шаблонизатором Nunjucks" />
{% endblock %}

{% block main %}

  <h1>Проблемы при использовании</h1>
  <p>Неудачи, в процессе работы с Nunjucks. Здесь я записал все моменты, с которыми хотелсь бы разобраться.</p>

  <ol>
    <li><a href="1.html">задать имя массива через переменную</a></li>
  </ol>

{% endblock %}