{% extends "base.njk" %}

{# СТРОГОЕ СООТВЕТСТВИЕ С ИМЕНАМИ В ФАЙЛОВОЙ СИСТЕМЕ #}
{# URL: site / category / subcategory / segment / subsegment / #}
{% set file_name   = '' %}
{% set category    = '' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% block head %}
  <title>Web Technology Reference</title>
  <meta name="description" content="These are my personal notes on web technologies. Everything written here is based on official documentation and my personal experience." />
{% endblock %}

{% block main %}

  <h1>Web docs</h1>

  <ul class="tile">
    {% for category in docs %}
    <li>
      <a href="{{category.link}}" class="link_stretch">{{category.name}}</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}