{% extends "base.njk" %}

{% set document    = 'docs' %}
{% set category    = '' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>Web Technology Reference</title>
  <meta name="description" content="These are my personal notes on web technologies. Everything written here is based on official documentation and my personal experience." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}

{% block main %}

  <h1>Web docs</h1>

  <ul class="tile">
    {% for category in docs %}
    <li>
      <a href="{{category.link}}" class="link_stretch">{{category.name}}</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}