.code-example__toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.XL .code-example__toolbar {
  grid-template-columns: min-content min-content auto;
  grid-gap: 10px;
  padding: 8px 20px;
}

.code-example__toolbar > button[disabled] {
  opacity: 0.4;
}

.code-example .code-example__toolbar > button {
  margin: 0;
  padding: 7px;
}

.XL .code-example .code-example__toolbar > button {
  align-self: end;
  justify-self: start;
  width: 120px;
  padding: 7px;
}