{% extends "examples/base-test.njk" %}

{% block exampleContent %}
{#======================== Демо ========================#}

{% block main %}
пример 2
{% endblock %}

{#======================================================#}
{% endblock %}