{% extends "base.njk" %}

{% set title       = 'DOM (Document Object Model)' %}
{% set description = 'Что такое Document Object Model' %}

{% set document    = 'dom' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'dom' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}