<!DOCTYPE HTML>
<html>
  <head>
    <title>заголовок</title>
  </head>
  <body>
    <h1>заголовок</h1>
    <p>какой-то текст</p>
    <button>кнопка1</button>
    <button>кнопка2</button>
    <button>кнопка3</button>
    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
    <input type="text">
  </body>
</html>