<h1>Строго не равно</h1>
<p>Оператор возвращает true, если операнды не равны, или их типы отличаются друг от друга.</p>

{% set example_id = 'nonidentity' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>true</td>
    <td>значения операндов не равны</td>
  </tr>
  <tr>
    <td>true</td>
    <td>типы операндов разные</td>
  </tr>
  <tr>
    <td>false</td>
    <td>значения операндов и их тип одинаковые</td>
  </tr>
</table>