{% extends "base.njk" %}

{% set title       = 'Элемент <base> в HTML' %}
{% set description = 'Подробная информация об элементе <base>' %}

{% set document    = 'base' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'elements' %}
{% set subsegment  = 'base' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}