{% extends "examples/docs/nunjucks/articles/template-inheritance/base_demo.njk" %}

{% block exampleContent %}
{#======================== Демо ========================#}

{% block head %}

{% endblock %}

{% block main %}
<h1>Контакты</h1>
<p>0-000-000-00-00</b>
<p>post@example.com</p>


{% endblock %}

{#==========================================================#}
{% endblock %}