{% extends "base.njk" %}

{% set document    = 'addition' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'addition' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Оператор 'сложение' в JS (бинарный плюс)</title>
  <meta name="description" content="Как действует бинарный плюс в JavaScript." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}