{% extends "base.njk" %}

{# variables #}
{% set title           = 'addition assignment' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/docs/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Addition assignment operator in JavaScript</title>
  <meta name="description" content="Оператор прибавляет к значению левого операнда значение правого." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Операторы в JavaScript</h1>

  <section class="list">
    {% include 'parts/navigation/js_operators.njk' %}
  </section>

  <section class="content">
    <h2>Addition assignment [ += ]</h2>
    <small>группа: операторы присваивания</small>
    <p>Оператор прибавляет к значению левого операнда значение правого.</p>
    {% set example_id = 'addition_assignment' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
    <table>
      <tr>
        <td>4</td>
        <td>к значению левого операнда <b>x</b> прибавилось значение <b>y</b>, результат присвоился переменной <b>x</b> (2 + 2 = 4).</td>
      </tr>
    </table>
  </section>

{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>
    let main = document.getElementsByTagName('main');
    main[0].classList.add("main_two-columns");
  </script>
{% endblock %}