{% extends "base.njk" %}

{% set file_name   = 'addition' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'addition' %}

{% block head %}
  <title>Оператор 'сложение' в JS (бинарный плюс)</title>
  <meta name="description" content="Как действует бинарный плюс в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>a[name="{{file_name}}"] {background: {{item_color}}}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>Cложение (бинарный плюс)</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}