{% extends "base.njk" %}

{% set file_name   = 'bitwise_xor_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'bitwise_xor_assignment' %}

{% block head %}
  <title>Bitwise XOR assignment operator in JavaScript</title>
  <meta name="description" content="Оператор использует двоичное представление обоих операндов, выполняет над ними побитовую операцию XOR и присваивает результат переменной." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>a[name="{{file_name}}"] {background: {{item_color}}}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>{{file_name | capitalize }}</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}