{% extends "base.njk" %}

{% set document    = 'bitwise_or' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'bitwise_or' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Bitwise OR operator in JavaScript</title>
  <meta name="description" content="Оператор 'побитового ИЛИ'." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}