{% extends "base.njk" %}

{% set document    = 'bitwise_or_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'bitwise_or_assignment' %}

{% block head %}
  <title>Bitwise OR assignment operator in JavaScript</title>
  <meta name="description" content="Оператор использует двоичное представление обоих операндов, выполняет над ними побитовое OR и присваивает результат переменной." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}