{% extends "base.njk" %}

{% set file_name   = 'comma' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'comma' %}

{% block head %}
  <title>Оператор 'запятая' в JS</title>
  <meta name="description" content="Позволяет перечислять выражения, разделяя их этой самой запятой." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>a[name="{{file_name}}"] {background: {{item_color}}}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>Запятая</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}