{% extends "base.njk" %}

{# variables #}
{% set title           = 'conditional operator' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/docs/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Conditional (ternary) operator in JavaScript</title>
  <meta name="description" content="The logical AND operator returns true if both arguments are true, otherwise false." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Conditional (ternary) operator [ ? ]</h1>
  <small>группа: логические операторы</small>
  <p>Единственный оператор в JavaScript, который принимает три операнда.</p>

  {% set example_id = 'conditional_operator' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}

  <section>
    <h2>For example</h2>
    <p>Проверяется условие: если <b>x == 4,</b> значит <b>true</b> (ответ правильный), иначе <b>false</b>.</p>
    {% set example_id = 'conditional_operator_example' %}
    {% set numeration = true %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>

{% endblock %}