{% extends "base.njk" %}

{% set file_name   = 'conditional_operator' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'conditional_operator' %}

{% block head %}
  <title>Conditional (ternary) operator in JavaScript</title>
  <meta name="description" content="The logical AND operator returns true if both arguments are true, otherwise false." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>{{file_name | capitalize }}</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}