{% extends "base.njk" %}

{% set file_name   = 'equality' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'equality' %}

{% block head %}
  <title>Equality operator in JavaScript</title>
  <meta name="description" content="Оператор приводит операнды к одному типу, затем применяет строгое сравнение." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>a[name="{{file_name}}"] {background: {{item_color}}}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>{{file_name | capitalize }}</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}