{% extends "base.njk" %}

{% set file_name   = 'exponentiation' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'exponentiation' %}

{% block head %}
  <title>Exponentiation operator in JavaScript</title>
  <meta name="description" content="Оператор ** возвращает результат первого операнда в степень." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>{{file_name | capitalize }}</h1>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}