{% extends "base.njk" %}

{# variables #}
{% set title        = 'greater than or equal operator' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/docs/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Greater than or equal operator in JavaScript</title>
  <meta name="description" content="Оператор 'больше или равно' возвращает true, если левый операнд больше или равен правому операнду." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Greater than or equal operator [ &gt;= ]</h1>
  <small>группа: операторы сравнения</small>
  <p>Оператор <b>больше или равно ( >= )</b>  возвращает <b>true</b>, если левый операнд больше или равен правому операнду или <b>false</b> если наоборот.</p>

  {% set example_id = 'greater_than_or_equal' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>true</td>
      <td>потому что <b>5</b> больше чем <b>1</b></td>
    </tr>
    <tr>
      <td>true</td>
      <td>потому что <b>4</b> равно <b>4</b></td>
    </tr>
    <tr>
      <td>false</td>
      <td>потому что <b>1</b> не больше и не равен <b>4</b></td>
    </tr>
    <tr>
      <td>false</td>
      <td>потому что <b>3</b> не больше и не равен <b>4</b></td>
    </tr>
  </table>

{% endblock %}