{% extends "base.njk" %}

{% set file_name   = 'identity' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'identity' %}

{% block head %}
  <title>Оператор 'строго равно' в JS</title>
  <meta name="description" content="Оператор возвращает true, если операнды строго равны. В отличии от обычного оператора 'равно', он не не приводит операнды к одному типу. " />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include highlight_item %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}