{% extends "base.njk" %}

{% set file_name   = 'index.html' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = '' %}

{% block head %}
  <title>All operators in JavaScript</title>
  <meta name="description" content="List of all javascript operators with usage examples." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Операторы в JavaScript</h1>

  <section class="list">
    {% include 'parts/navigation/js_operators.njk' %}
  </section>

  <section class="content">
    <p>контент загружается сюда</p>
  </section>

{% endblock %}

{% block inlineScripts %}
  <script>{% include add_class %}</script>
{% endblock %}