{% extends "base.njk" %}

{% set file_name   = 'left_shift_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'left_shift_assignment' %}

{# ===================================== #}

{% block head %}
  <title>Left shift assignment operator in JavaScript</title>
  <meta name="description" content="Left shift assignment moves the specified number of bits to the left and assigns the result to a variable." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <h1>Операторы в JavaScript</h1>
  <section class="list">{% include js_operators %}</section>
  <section class="content">{% include content %}</section>
{% endblock %}

{% block inlineScripts %}
  <script>{% include add_class %}</script>
{% endblock %}