{% extends "base.njk" %}

{% set document    = 'left_shift_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'left_shift_assignment' %}

{# ===================================== #}

{% block head %}
  <title>Left shift assignment operator in JavaScript</title>
  <meta name="description" content="Left shift assignment moves the specified number of bits to the left and assigns the result to a variable." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}