{% extends "base.njk" %}

{% set document    = 'less_than' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'less_than' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Оператор 'меньше' в JS</title>
  <meta name="description" content="Оператор 'меньше' возвращает true, если левый операнд меньше правого операнда." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}