{% extends "base.njk" %}

{% set title       = 'Оператор addition_assignment в JavaScript' %}
{% set description = 'Оператор прибавляет к значению левого операнда значение правого' %}

{% set document    = 'multiplication' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'multiplication' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Оператор 'умножение' в JS</title>
  <meta name="description" content="Оператор возвращает произведение операндов." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}