{% extends "base.njk" %}

{% set document    = 'right_shift_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'right_shift_assignment' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Right shift assignment operator in JavaScript</title>
  <meta name="description" content="Right shift assignment moves the specified number of bits to the right and assigns the result to a variable." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}