{% extends "base.njk" %}

{% set file_name   = 'subtraction_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'subtraction_assignment' %}

{% block head %}
  <title>Subtraction assignment operator in JavaScript</title>
  <meta name="description" content="Оператор вычитает значение правого операнда из переменной и присваивает результат переменной." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include highlight_item %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}