{% extends "base.njk" %}

{# variables #}
{% set title           = 'subtraction' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# ===================================== #}

{% block head %}
  <title>Subtraction operator in JavaScript</title>
  <meta name="description" content="Как действует бинарный минус в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Операторы в JavaScript</h1>

  {# список операторов #}
  <section class="list">
    {% include 'parts/navigation/js_operators.njk' %}
  </section>

  {# контент #}
  <section class="content">
    <h2>{{ title | capitalize }}</h2>
    {% include 'content/docs/javascript/operators/subtraction.njk' %}
  </section>

{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>
    let main = document.getElementsByTagName('main');
    main[0].classList.add("main_two-columns");
  </script>
{% endblock %}