{% extends "base.njk" %}

{# variables #}
{% set title        = 'unary negation' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/docs/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Unary negation in JavaScript</title>
  <meta name="description" content="Как действует унарный минус в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }} [ - ]</h1>
  <small>группа: унарные операторы</small>
  <p>Применяется к одному операнду и меняет знак числа на противоположный.</p>

  {% set example_id = 'unary_negation' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}

{% endblock %}