{% extends "base.njk" %}

{# variables #}
{% set title        = 'unary plus' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/docs/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Unary plus in JavaScript</title>
  <meta name="description" content="Как действует унарный плюс в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }} [ + ]</h1>
  <small>группа: унарные операторы</small>
  <p>Преобразует строковое значение в числовое.</p>

  {% set example_id = 'unary_plus' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>12</td>
      <td>произойдет обычная конкатенация строк</td>
    </tr>
    <tr>
      <td>3</td>
      <td>сначала выполнится преобразование в число, затем сложение</td>
    </tr>
  </table>

{% endblock %}