.code-executed {
  display: grid;
  grid-template-rows: 25px 40px auto 40px;
  padding: 0;
  border: 1px solid;
  font-size: 0.7em;
  margin: 10px;
}

.code-executed::before {
  content: 'browser';
  padding: 5px;
  font-weight: bold;
  text-align: right;
  background: wheat;
}

/* для содержимого code-executed */
.code-executed > .header-test,
.code-executed > .footer-test {
  background: skyblue;
  line-height: 40px;
  padding-left: 10px;
}
main .code-executed .main-test {
  height: 100px;
  padding: 20px
}
.code-executed > .main-test > h1 {
  padding: 0;
}
.code-executed > .main-test table {
  font-size: 1em;
  width: 100%;
}
.code-executed > .main-test tr {
  text-indent: 5px;
}
.code-executed > .main-test tr:first-child {
  background: #eee;
  line-height: 20px;
}