{% extends "base.njk" %}

{% set document    = 'html' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}


{% block head %}
  <title>Справочник по HTML</title>
  <meta name="description" content="Мои заметки по HTML. Выдержки из официальной документации, применение на практике." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Справочник по HTML</h1>
  <p>Мои заметки по HTML. Выдержки из официальной документации, применение на практике.</p>
    
{% endblock %}