{% extends "base.njk" %}

{# variables #}
{% set title        = 'test-page-1' %}
{% set category     = 'справочник' %}
{% set subcategory  = 'технологии' %}
{% set segment      = 'css' %}
{% set subsegment   = 'структурные блоки' %}
{% set path         = '../' %}


{# ===================================== #}

{% block head %}
  <title>test-page-1</title>
  <meta name="description" content="test-page-1" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block main %}

  <section class="banner" name="hero">
    <h1>Заголовок h1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto nostrum at ipsum aut ipsa suscipit ab omnis ad unde</p>
  </section>
  
  <section>
    <h2>Заголовок секции</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vitae quos dolorum aliquid quasi fugit neque quo minima omnis hic rerum, eligendi autem quaerat. Saepe earum consequatur deleniti quam ipsum.</p>
    <ul>
        <li>пункт-1</li>
        <li>пункт-2</li>
        <li>пункт-3</li>
    </ul>
    <h3>Подзаголовок</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, adipisci? Nesciunt obcaecati, incidunt sed explicabo debitis eos ab voluptate dolorum dolore eveniet saepe quisquam, quidem, maxime provident odit minima quo?</p>
  </section>

  <section>
    <h2>Заголовок секции</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vitae quos dolorum aliquid quasi fugit neque quo minima omnis hic rerum, eligendi autem quaerat. Saepe earum consequatur deleniti quam ipsum.</p>
    <h3>Подзаголовок</h3>
    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Первую своего снова маленький его пор дорогу? Ведущими бросил коварных имени даже, взобравшись меня пунктуация. Всемогущая все ручеек путь заглавных?</p>
  </section>

  <section>
    <h2>codeExample</h2>
    <p>Блок для примаеров кода (требуется библиотека prism.js)</p>

  </section>

  <section>
    <table>
      <caption>таблица: цифры + текст</caption>
      <tr>
        <td>2</td>
        <td>сложение двух числел</td>
      </tr>
      <tr>
        <td>11</td>
        <td>объединение двух строк</td>
      </tr>
      <tr>
        <td>11</td>
        <td>если один из аргументов является строкой, то второй будет также преобразован к строке <b>*</b></td>
      </tr>
      <tr>
        <td>0</td>
        <td>другие операторы наоборот преобразуют строки в числа</td>
      </tr>
    </table>
  </section>

  <section>
    <table>
      <caption>таблица: текст + текст</caption>
      <tr>
        <td>текст</td>
        <td>простая страница</td>
      </tr>
      <tr>
        <td>текст</td>
        <td>страница с левым aside</td>
      </tr>
      <tr>
        <td>текст</td>
        <td>страница с левым и правым aside</td>
      </tr>
    </table>
  </section>

{% endblock %}