{% extends "base.njk" %}

{% set document    = 'mark_and_sweep' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'memory_management' %}
{% set subsegment  = 'mark_and_sweep' %}

{% block head %}
  <title>Алгоритм Mark-and-sweep в JavaScript</title>
  <meta name="description" content="Подробно про алгоритм Mark-and-sweep в JavaScript и что он делает." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}