{% extends "base.njk" %}

{% set document    = 'macro' %}
{% set category    = 'docs' %}
{% set subcategory = 'nunjucks' %}
{% set segment     = 'теги' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Макросы в Nunjucks</title>
  <meta name="description" content="Макросы позволяют определить повторно используемые фрагменты." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Макросы в Nunjucks</h1>
  <p>Позволяет определить повторно используемые фрагменты</p>

  {#
  <section>
    <h2>Создание макроса</h2>
    {% set title = 'пример' %}
    {% set description = 'макрос для создания плитки.' %}
    {% set code = 'examples/nunjucks/tags/macro/macro_code.njk' %}
    {% set code_language = 'language-jinja2' %}
    {% include codeExample %}
  </section>

  <section>
    <h2>Результат</h2>
    {% set demo = 'examples/nunjucks/tags/macro/page1_demo.njk' %}
    {% include codeExecuted %}

    {% set demo = 'examples/nunjucks/tags/macro/page2_demo.njk' %}
    {% include codeExecuted %}
  </section>
  #}

{% endblock %}