{% block code %}
  {% raw %}
  &lt;div class="tile"&gt;
    {% for category in docs %}
    &lt;div class="tile__item"&gt;
      &lt;a href="{{category.link}}"&gt;{{category.name | title }}&lt;/a&gt;
    &lt;/div&gt;
    {% endfor %}
  &lt;/div&gt;
  {% endraw %}
{% endblock %}