<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_%D0%A1%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B">CSS-селекторы</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/css-selectors">Знаете ли вы селекторы?</a>
<a data-icon="webformyself" href="https://webformyself.com/30-selektorov-css-kotorye-nuzhno-zapomnit/">30 селекторов CSS, которые нужно запомнить</a>
<a data-icon="webref" href="https://webref.ru/layout/advanced-html-css/complex-selectors">Комплексные селекторы</a>
<a data-icon="w3c" href="https://www.w3.org/TR/selectors-3/">Selectors Level 3 W3C Recommendation</a>
<a data-icon="css-tricks" href="https://css-tricks.com/almanac/selectors/">Selectors (CSS-Tricks)</a>