section {
  background: transparent; /* временно */
}

main > section {
  padding: 5px 10px;
  border-bottom: 20px solid white;
}

/* секция внутри article */
article > section {
    padding: 10px 30px;
    background: #eee;
}