{% extends "base.njk" %}

{% set document    = 'tile' %}
{% set category    = 'docs' %}
{% set subcategory = 'nunjucks' %}
{% set segment     = 'templates' %}
{% set subsegment  = 'tile' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>Шаблон для генерации плитки</title>
  <meta name="description" content="Шаблон для вывода блока 'плитка'." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Tile</h1>
  <p>Шаблон для вывода блока 'плитка'. Герерация контента из JSON.</p>

{% endblock %}