<h1>Деление</h1>
<p>Оператор <em>/</em> возвращает частное двух операндов, где левый - это делимый операнд, a правый - его делитель.</p>

{% set example_id = 'division' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>0.5</td>
    <td>результат деления значения <b>x</b> на зеачение <b>y</b></td>
  </tr>
</table>