{% raw %}
{% extends "parts/base.njk" %}

{% block head %}
  {# стили для текущей страницы #}
{% endblock %}

{% block main %}
  &lt;h1>Вторая страница&lt;/h1>
  &lt;p>Я дочерний шаблон №2&lt;/p>
{% endblock %}
{% endraw %}