<aside class="aside_right">

  {# js_operators #} {% if segment   == 'operators' %}{% include js_operators %}{% endif %}
  {# js_types #}     {% if segment   == 'types' %}{% include js_types %}{% endif %}
  
</aside>