<aside class="aside_left">

  {% if file_name == 'javascript' %}{% include js_docs %}{% endif %}
  {% if segment   == 'types' %}{% include js_types %}{% endif %}
  {% if segment   == 'operators' %}{% include js_operators %}{% endif %}
  {% if segment   == 'methods' %}{% include js_methods %}{% endif %}
  {% if segment   == 'statements' %}{% include js_statements %}{% endif %}
  {% if segment   == 'elements' %}{% include html_elements %}{% endif %}
  {% if segment   == 'selectors' %}{% include css_selectors %}{% endif %}
  {% if segment   == 'http' %}{% include http_contents %}{% endif %}
  
</aside>