<aside class="aside aside_right">

  {# html_elements  #}       {% if segment   == 'elements' %}{% include html_elements %}{% endif %}
  {# js_operators #}         {% if segment   == 'operators' %}{% include js_operators %}{% endif %}
  {# js_methods #}           {% if segment   == 'methods' %}{% include js_methods %}{% endif %}
  {# js_statements #}        {% if segment   == 'statements' %}{% include js_statements %}{% endif %}
  {# js_global_objects #}    {% if segment   == 'global_objects' %}{% include js_global_objects %}{% endif %}
  {# js_memory_management #} {% if segment   == 'memory_management' %}{% include js_memory_management %}{% endif %}

  {# css_lists #}            {% if segment   == 'lists' %}{% include css_lists %}{% endif %}
  {# css_lists #}            {% if segment   == 'nav' %}{% include css_nav %}{% endif %}
  
</aside>