<aside class="aside aside_right">

  {# html_elements  #}  {% if segment   == 'elements' %}{% include html_elements %}{% endif %}
  {# js_operators #} {% if segment   == 'operators' %}{% include js_operators %}{% endif %}
  {# js_types #}     {% if segment   == 'types' %}{% include js_types %}{% endif %}
  {# js_methods #}   {% if segment   == 'methods' %}{% include js_methods %}{% endif %}
  {# js_statements #}   {% if segment   == 'statements' %}{% include js_statements %}{% endif %}
  
</aside>