{% if document == 'number' %}{% include related_links %}{% endif %}
{% if document == 'string' %}{% include related_links %}{% endif %}
{% if document == 'boolean' %}{% include related_links %}{% endif %}
{% if document == 'null' %}{% include related_links %}{% endif %}
{% if document == 'undefined' %}{% include related_links %}{% endif %}
{% if document == 'object' %}{% include related_links %}{% endif %}
{% if document == 'symbol' %}{% include related_links %}{% endif %}
{% if document == 'type_conversions' %}{% include related_links %}{% endif %}