{# шаблон для демонстрации resize observer #}
<div class="split-parent">
  <div id="box-1" data-observe-resizes>
    {# content #}
    {% block exampleContent %} {% include demo %} {% endblock %}
  </div>
</div>