<h1>Больше (>)</h1>
<p>Оператор <b>больше ( > )</b>  возвращает <b>true</b>, если левый операнд больше правого операнда или <b>false</b> если наоборот.</p>

{% set example_id = 'greater_than' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>true</td>
    <td>потому что <b>5</b> больше чем <b>1</b></td>
  </tr>
  <tr>
    <td>false</td>
    <td>потому что <b>1</b> не может быть больше чем <b>5</b></td>
  </tr>
</table>