<h1>Сравнение протоколов передачи веб-контента</h1>

<h2>Цели</h2>
<ul>
  <li>понять возможности и особенности каждой версии HTTP</li>
  <li>понять чем более новые лучше старых</li>
</ul>

<h2>План действий</h2>
<ul>
  <li>определиться со списком исследуемых версий <em class="tip" data-tip="completed">&#10004;</em></li>
  <li>создать тестовую веб-страницу для экспериментов</li>
</ul>

<section>
  <h2>Версии протоколов</h2>

  <table>
    <caption>Различия версий</caption>
    <tr style="background: #dadada; font-weight: bold;">
      <td>Особенности</td>
      <td>HTTP</td>
      <td>HTTP/0.9</td>
      <td>HTTP/1.0</td>
      <td>HTTP/1.1</td>
      <td>SPDY/1.0</td>
      <td>SPDY/2.0</td>
      <td>HTTP/2</td>
      <td>HTTP/3</td>
    </tr>
    <tr>
      <td>год выпуска</td>
      <td>1989</td>
      <td>1991</td>
      <td>1996</td>
      <td>1997</td>
      <td>2009</td>
      <td>2012</td>
      <td>2015</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>создатели</td>
      <td>Tim Berners-Lee</td>
      <td>Tim Berners-Lee</td>
      <td>IETF</td>
      <td>IETF</td>
      <td>Google</td>
      <td>Google</td>
      <td>IETF</td>
      <td><em class="tip" data-tip="версия: gQUIC">Google</em> / <em class="tip" data-tip="версия: QUIC">IETF</em></td>
    </tr>
    <tr>
      <td>мультиплексированные потоки</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>?</td>
      <td>?</td>
      <td><em class="tip" data-tip="#">&#10004;</em></td>
      <td> </td>
    </tr>
    <tr>
      <td>server push</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>?</td>
      <td>?</td>
      <td><em class="tip" data-tip="#">&#10004;</em></td>
      <td> </td>
    </tr>
    <tr>
      <td>двоичный протокол</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>?</td>
      <td>?</td>
      <td><em class="tip" data-tip="#">&#10004;</em></td>
      <td> </td>
    </tr>
    <tr>
      <td>приоритезация потоков</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><em class="tip" data-tip="введена">&#10004;</em></td>
      <td><em class="tip" data-tip="введена">&#10004;</em></td>
      <td><em class="tip" data-tip="улучшена">&#10004;</em></td>
      <td> </td>
    </tr>
    <tr>
      <td>сжатие заголовков</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><em class="tip" data-tip="введено">&#10004;</em></td>
      <td><em class="tip" data-tip="введено">&#10004;</em></td>
      <td><em class="tip" data-tip="улучшено">&#10004;</em></td>
      <td> </td>
    </tr>
    <tr>
      <td>наличие SSL обязательно</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><em class="tip" data-tip="необходим SSL">&#10004;</em></td>
      <td><em class="tip" data-tip="необходим SSL">&#10004;</em></td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>скорость шифрования</td>
      <td>медленно</td>
      <td>медленно</td>
      <td>медленно</td>
      <td>медленно</td>
      <td>быстро</td>
      <td>быстро</td>
      <td>еще быстрее</td>
      <td> </td>
    </tr>
  </table>
</section>

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://habr.com/ru/company/nix/blog/304518/">Как HTTP/2 сделает веб быстрее</a></li>
    <li><a href="https://habr.com/ru/post/438810/">HTTP/3: от корней до кончиков</a></li>
    <li><a href="https://habr.com/ru/news/t/468297/">В Chrome Canary добавили поддержку протокола HTTP/3</a></li>
  </ul>
</section>