.nav__item {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

.nav_vertical > ul > li > .nav__item {
    width: 85%;
    line-height: 2.2em;
    color: #dadada;
    padding: 5px 20px;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

/* hover & focus */
.nav_vertical > ul > li > .nav__item:hover,
.nav_vertical > ul > li > .nav__item:focus {
    padding: 0 20px;
    font-size: 1.5em;
}

.nav_vertical > ul > li > .nav__item:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.5px;
    width: 100%;
    background: #3bc1a0;
    transition: width .5s ease;
}

.nav_horizontal > ul > li {
    text-align: center;
}

.nav_horizontal > ul > li > .nav__item {
    width: 100%;
    font-size: 0.8em;
    line-height: 50px;
    background: #dadada;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
}

/* стили для навигации с модификатором _no-switched */
.nav_no-switched > ul > li > .nav__item {
    padding: 0;
    line-height: 10em;
}
.nav_no-switched > ul > li > .nav__item:after {
    content: "";
    margin-top: 100%;
    float: left;
}