{% extends "base.njk" %}

{# variables #}
{% set title = 'портфолио' %}

{# ===================================== #}

{% block head %}
  <title>Yuri Fedorov - {{ title | capitalize }}</title>
  <meta name="description" content="Работы Юрия Федорова, веб-разработчика из Санкт-Петербурга" />
{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Мои веб-проекты</p>

  <ul class="tile">
    {% for category in portfolio %}
    <li>
      <a href="{{category.link}}" class="link_stretch">{{category.name}}</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}