.related-links {
  padding-inline-start: 0;
}

.related-links > li {
  background: #eee;
  list-style-type: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

.related-links a {
  font-size: auto;
  border-left: 1px solid grey;
  padding-left: 5px;
  text-decoration: none;
}