{% extends "examples/docs/nunjucks/template-inheritance/base_demo.njk" %}

{% block head %}
  <style>
    .header-test {
      background: skyblue !important;
      height: 40px !important;
      display: block;
      box-sizing: border-box;
    }
    .main-test {
      background: yellow !important;
      min-height: 180px !important;
      padding: 20px;
    }
    .footer-test {
      background: skyblue !important;
      height: 40px !important;
      display: block;
    }
  </style>
{% endblock %}

{% block main %}
<h1>Контакты</h1>
<p>дочерний шаблон №2</p>
{% endblock %}