{% include warning_rfc2068 %}

<h1>1.4. Общее описание</h1>
<p><b>Протокол HTTP</b> - это протокол запросов/ответов</p>

<table name="code">
    <caption>Пример HTTP запроса для получения простой HTML страницы</caption>
    <tr>
      <td>запрос</td>
      <td>ответ</td>
    </tr>
    <tr>
        <td>
        <pre>
        GET /test.html HTTP/1.1
        User-Agent: Mozilla/4.0 (compatible; MSIE5.01; Windows NT)
        Host: www.mysite.com
        Accept-Language: ru-ru
        Accept-Encoding: gzip, deflate
        Connection: Keep-Alive
        </pre>
        </td>
        <td>
          <pre>
          HTTP/1.1 200 OK
          Date: Mon, 27 Jul 2009 12:28:53 GMT
          Server: Apache/2.2.14 (Win32)
          Last-Modified: Wed, 22 Jul 2009 19:15:56 GMT
          Content-Length: 88
          Content-Type: text/html
          Connection: Closed

          &lt;html&gt;
            &lt;body&gt;
              &lt;h1&gt;Hello, World!&lt;/h1&gt;
            &lt;/body&gt;
          &lt;/html&gt;
          </pre>
        </td>
    </tr>
</table>

<p>Связь между HTTP и MIME описана в разделе <a href="#">19.4. Различия между HTTP и MIME объектами</a></p>

<section class="link-list">
  <h4>Полезные ссылки:</h4>
  <ul>
    <li><a href="http://student.webcamp.com.ua/rest_student/http">Часть первая. О том, как представить себя браузером.</a></li>
  </ul>
</section>
