<h1>Каталог резины</h1>
  <table border="1">
   <caption>Наличие на складе</caption>
   <tr>
    <th>Радиус</th>
    <th>Марка</th>
    <th>Цена</th>
    <th>Наличие</th>
   </tr>
   <tr><td>R19</td><td>Nokian</td><td>-</td><td>100р</td></tr>
   <tr><td>R19</td><td>Nokian</td><td>-</td><td>100р</td></tr>
   <tr><td>R19</td><td>Nokian</td><td>-</td><td>100р</td></tr>
   <tr><td>R19</td><td>Nokian</td><td>-</td><td>-</td></tr>
   <tr><td>R19</td><td>Hankook</td><td>-</td><td>-</td></tr>
   <tr><td>R17</td><td>Hankook</td><td>-</td><td>-</td></tr>
   <tr><td>R17</td><td>Hankook</td><td>-</td><td>-</td></tr>
   <tr><td>R17</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>R14</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>R14</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>R14</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>R14</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>R14</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
   <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
  </table>