{% extends "base.njk" %}

{# variables #}
{% set title = 'шинка' %}

{# ===================================== #}

{% block head %}
  <title>{{ title | capitalize }} в Санкт-Петербурге</title>
  <meta name="description" content="Сайт-визитка для шиномонтажа" />
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  {# скрою header и footer родительского сайта #}
  <style>
  header, footer {display: none;}
  h1 {font-size: 50px;}
  </style>
{% endblock %}

{% block main %}

  <section class="banner" name="tire-fitting">
    <h1>{{ title | capitalize }}</h1>
    <p><span>на Емельянова 10</span></p>
    <ul class="tile" name="tire-fitting">
      <li><a href="service" class="link_stretch">Услуги</a></li>
      <li><a href="catalog" class="link_stretch">Шины</a></li>
      <li><a href="storage" class="link_stretch">Хранение</a></li>
  </ul>
  </section>

{% endblock %}