{% extends "base.njk" %}

{% set title       = 'Метод sort() в JavaScript' %}
{% set description = 'Метод sort() сортирует элементы массива' %}

{% set document    = 'sort' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'methods' %}
{% set subsegment  = 'sort' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}