<h1>TCP протокол</h1>

<table>
  <caption>Официальная документация</caption>
  <tr style="background: #dadada;">
    <td><b>имя</b></td>
    <td><b>тема</b></td>
    <td><b>переводы</b></td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc793">RFC 793</a></td>
    <td>Transmission Control Protocol (september 1981)</td>
    <td><a href="https://rfc2.ru/793.rfc">RFC 793</a> [RU]</td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc1122">RFC 1122</a></td>
    <td>update (october 1989)</td>
    <td><a href="https://rfc2.ru/1122.rfc">RFC 1122</a> [RU]</td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc3168">RFC 3168</a></td>
    <td>update (september 2001)</td>
    <td><a href="https://rfc2.ru/3168.rfc">RFC 3168</a> [RU]</td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc6093">RFC 6093</a></td>
    <td>update (january 2011)</td>
    <td>не найдено</td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc6528">RFC 6528</a></td>
    <td>update (february 2012)</td>
    <td>не найдено</td>
  </tr>
</table>