/* контейнер списка */
ul[class='list list_tile'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--tile-size), 1fr));
  grid-gap: 10px;
  margin: 0;
  padding-inline-start: 0;
}

/* элементы списка */
ul[class='list list_tile'] > li {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100% - 19px);
  padding-bottom: 100%; /* пропорции блока определяются здесь */
  background: plum;
  box-sizing: border-box;
}

/* временно */
ul[class='list list_tile'] > li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 19px)
}

ul[class='list list_tile'] > li > a:hover {
  background: wheat;
}