/* контейнер списка */
ul[class='list list_tile'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--tile-size), 1fr));
  grid-gap: 5px;
  margin: 0;
  padding-inline-start: 0;
}

/* элементы списка */
ul[class='list list_tile'] > li {
  list-style: none;
  position: relative;
  height: var(--tile-size);
  padding-bottom: 100%;
  background: plum;
  box-sizing: border-box;
}

/* ссылка растягивается на всю площадь */
ul[class='list list_tile'] > li > a {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 40%;
}

/* Breakpoint: C2 (ширина <li> более 150px  ) */
.C2 > a { font-size: 1.5em; }

/* Breakpoint: C3 (ширина <li> более 200px  ) */
.C3 > a { font-size: 2em; }

ul[class='list list_tile'] > li > a:hover {
  background: wheat;
}