ul[class='list list_tile'] {
  display: grid;
  grid-template-columns: repeat(3, var(--tile-size));
  grid-auto-rows: var(--tile-size);
  grid-gap: 5px;
  margin: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: min-content;
}

ul[class='list list_tile'] > li {
  list-style: none;
  background: plum;
  text-align: center;
  padding-top: 40%;
}