{% extends "base.njk" %}

{# variables #}
{% set title = 'шиномонтаж' %}

{# ===================================== #}

{% block head %}
  <title>{{ title | capitalize }} в Санкт-Петербурге</title>
  <meta name="description" content="Сайт-визитка для шиномонтажа" />
{% endblock %}

{% block main %}

  <section class="banner" name="tire-fitting">
    <h1>{{ title | capitalize }}</h1>
    <p><span>Емельянова 10</span></p>
    <ul class="tile" name="tire-fitting">
      <li><a href="service" class="link_stretch">Услуги</a></li>
      <li><a href="catalog" class="link_stretch">Каталог шин</a></li>
      <li><a href="storage" class="link_stretch">Хранение</a></li>
  </ul>
  </section>

{% endblock %}