{% extends "base.njk" %}

{% set title       = 'Set в JavaScript' %}
{% set description = 'Подробно про объект Set в JavaScript' %}

{% set document    = 'set' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'global_objects' %}
{% set subsegment  = 'set' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}