{% extends "base.njk" %}

{% set path = '../' %}

{# variables #}
{% set title        = 'побитовые операторы' %}
{% set description  = 'Побитовые операторы в JavaScript' %}
{% set category     = 'справочник' %}
{% set subcategory  = 'технологии' %}
{% set segment      = 'javascript' %}
{% set code_language = 'language-js' %}

{% block head %}
  <title>Побитовые операторы</title>
  <meta name="description" content="Побитовые операторы в JavaScript." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>

  <section>
    {% set anchor = '#signed-format' %}
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Формат 32-битного целого числа со знаком</a></h2>
    <p>Побитовые операторы интерпретируют операнды как последовательность из 32 битов (нулей и единиц)</p>
    {# продолжить #}
  </section>

{% endblock %}