{% extends "base.njk" %}

{% set path = '../' %}

{# variables #}
{% set title        = 'операторы сравнения и логические значения' %}
{% set description  = 'Полезная информация по JavaScript' %}
{% set category     = 'справочник' %}
{% set subcategory  = 'технологии' %}
{% set segment      = 'javascript' %}

{% set example_dir    = 'examples/javascript/' %}

{# <head> #}
{% block head %}
  <title>{{ subcategory | capitalize }} - {{ title }}</title>
  <meta name="description" content="{{ description | capitalize }}" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1 class="{{ title_class }}">{{ title | capitalize }}</h1>

  <section>
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Логические значения</a></h2>

    <p>Их всего два - true и false.</p>

    {% set example_id = 'comparison1_1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
    

    <p>Результат сравнения можно присвоить переменной:</p>

    {% set example_id = 'comparison1_2' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

  </section>

  <section>
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Сравнение строк</a></h2>
    
    <p>Строки сравниваются побуквенно, у буквы 'Б' номер выше чем у 'А'</p>

    {% set example_id = 'comparison2_1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <b>JavaScript использует кодировку Unicode. В кодировке Unicode обычно код у строчной буквы больше, чем у прописной.</b>
    
    <p>Поэтому регистр имеет значение:</p>

    {% set example_id = 'comparison2_2' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <p>'Я' [код: 1071], 'а' [код: 1072] <a href="http://yoksel.github.io/unicode-table/#0400..04FF%20Cyrillic">таблица</a></p>
    <p>Если строка состоит из нескольких букв, cначала сравниваются первые буквы, потом вторые, и так далее.</p>
    
    {% set example_id = 'comparison2_3' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <p>Здесь первые и вторые буквы одинаковы, решающей будет третья</p>

    {% set example_id = 'comparison2_4' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
    
    <p>Любая буква больше отсутствия буквы</p>

    {% set example_id = 'comparison2_5' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <b>Обычно от пользователя приходят значения в виде строк</b>
    
    <p>При сравнивании чисел ответ будет неверным:</p>

    {% set example_id = 'comparison2_6' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <p>2 оказалось больше 14, потому что строки сравниваются посимвольно, а первый символ '2' больше '1'.</p>
    
    <p>Нужно сначала преобразовать строку в число</p>

    {% set example_id = 'comparison2_7' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

  </section>

  <section>
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Сравнение разных типов</a></h2>
    
    <p>При сравнивании разных типов оба значения преобразуются в число</p>

    {% set example_id = 'comparison3_1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

  </section>

  <section>
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Строгое равенство</a></h2>
    
    <p>Обычный оператор равенства ' == ' не может отличить 0 от false</p>

    {% set example_id = 'comparison4_1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <p>Это следствие того, что операнды разных типов преобразовались к числу. Пустая строка, как и false, при преобразовании к числу дают 0.</p>
    <b>Для проверки равенства без преобразования типов используются операторы строгого равенства === (тройное равно) и !==.</b>
    
    {% set example_id = 'comparison4_2' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

  </section>

  <section>
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Сравнение с null и undefined</a></h2>
    <p>Проблемы могут появится при использовании операторов сравнения, когда один из операндов 'null' или 'undefined'</p>
    <b>Значения null и undefined равны == друг другу и не равны чему бы то ни было ещё.</b>
    <b>При преобразовании в число null становится 0, а undefined становится NaN.</b>
    <h3>Некорректный результат сравнения null с 0</h3>

    {% set example_id = 'comparison5_1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
  
    {% set example_id = 'comparison5_2' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}

    <p>Сравнение приводит null к числу, получается ноль. А при проверке равенства значения null и undefined обрабатываются особым образом: они равны друг другу, но не равны чему-то ещё.</p>
    <p>В результате получается странная с точки зрения здравого смысла ситуация.</p>
    <h3>Несравнимый undefined</h3>

    {% set example_id = 'comparison5_3' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
    
    <a href="https://learn.javascript.ru/comparison#nesravnimyy-undefined">пояснения тут</a>
    <p>Любые сравнения с undefined/null, кроме точного ===, следует делать с осторожностью.</p>
  </section>


{% endblock %}