{% extends "base.njk" %}

{% set path = '../' %}

{# variables #}
{% set title        = 'преобразование типов' %}
{% set description  = 'операторы для преобразования типов в javascript' %}
{% set category     = 'справочник' %}
{% set subcategory  = 'технологии' %}
{% set segment      = 'javascript' %}
{% set code_language = 'language-js' %}

{# <head> #}
{% block head %}
  <title>{{ subcategory | capitalize }} - {{ title }}</title>
  <meta name="description" content="{{ description | capitalize }}" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1 class="{{ title_class }}">{{ title | capitalize }}</h1>
  <p>В JS есть 3 типа преобразований: к строке, числу, логическому типу.</p>

  <section>
    {% set anchor = '#strokovoe-preobrazovanie' %}
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Строковое преобразование</a></h2>
    <p>Функция <b>alert</b> преобразует значение в строку.</p>
    {# types_conversion1_1 #}
    {% set title = 'Пример' %}
    {% set name  = 'types_conversion1_1' %}
    {% set code  = 'examples/javascript/types-conversion1_1.njk' %}
    {% include codeExample %}
    <p>Оператор "<b>+</b>" тоже применяется для преобразования в строку.</p>
    <p>Если один из его аргументов строка, то и другой преобразуется в строку:</p>
    {% set title = 'Пример' %}
    {% set name  = 'types_conversion1_2' %}
    {% set code  = 'examples/javascript/types-conversion1_2.njk' %}
    {% include codeExample %}
  </section>
  
  <section>
    {% set anchor = '#chislennoe-preobrazovanie' %}
    <h2><a href="{{resource}}{{anchor}}" title="{{link_title}}">Численное преобразование</a></h2>
    <p>Преобразовать строку к числу в явном виде можно с помощью <b>Number(val)</b> или используя унарный плюс "<b>+</b>".</p>
    {# types_conversion1_1 #}
    {% set title = 'Пример с Number(val)' %}
    {% set name  = 'types_conversion2_1' %}
    {% set code  = 'examples/javascript/types-conversion2_1.njk' %}
    {% include codeExample %}
    {% set title = 'Пример с унарным плюсом "+"' %}
    {% set name  = 'types_conversion2_2' %}
    {% set code  = 'examples/javascript/types-conversion2_2.njk' %}
    {% include codeExample %}
  </section>

{% endblock %}