{% extends "base.njk" %}

{% set document    = 'apps' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% block head %}
  <title>Простейший фильтр на JavaScript</title>
  <meta name="description" content="List of all javascript operators with usage examples." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Моя коллекция JS приложений</h1>
  <p>Полный список всех приложений, написанных на JS</p>
  {% include 'parts/navigation/js_apps.njk' %}

{% endblock %}