{% extends "base.njk" %}

{% set title       = 'Простейший фильтр на JavaScript' %}
{% set description = 'Список всех операторов JavaScript с примерами использования ' %}

{% set document    = 'apps' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Моя коллекция JS приложений</h1>
  <p>Полный список всех приложений, написанных на JS</p>
  {% include 'parts/navigation/js_apps.njk' %}

{% endblock %}