<h1>&lt;head&gt;</h1>
{% set example_id = 'head' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = true %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = false %}
{% set demo       = 'head-demo.njk' %}
{% include codeExample %}