<h1>&lt;{{file_name}}&gt;</h1>
<p>Шапка (верхний колонтикул) сайта или раздела веб-страницы</p>
{% set example_id = 'header' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = true %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = false %}
{% set demo       = false %}
{% include codeExample %}