<h1>&lt;html&gt;</h1>
{% set example_id  = 'html' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = 'html-demo.njk' %}
{% include codeExample %}