<h1>Список элементов (тегов)</h1>

<section>
  <h2>&lt;html&gt;</h2>
  {% set example_id = 'html' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = true %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = false %}
  {% set demo       = 'html-demo.njk' %}
  {% include codeExample %}
</section>

<section>
  <h2>&lt;head&gt;</h2>
  {% set example_id = 'head' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = true %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = false %}
  {% set demo       = 'head-demo.njk' %}
  {% include codeExample %}
</section>

<section>
  <h2>&lt;title&gt;</h2>
  {% set example_id = 'title' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = true %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = false %}
  {% set demo       = 'title-demo.njk' %}
  {% include codeExample %}
</section>