<h1>&lt;{{file_name}}&gt;</h1>
{% set example_id  = 'style' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}