<h1>&lt;title&gt;</h1>
{% set example_id = 'title' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = true %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = false %}
{% set demo       = 'title-demo.njk' %}
{% include codeExample %}