<h1>Остаток от деления</h1>
<p>Оператор <em>%</em> нужен чтобы найти остаток от деления.</p>

{% set example_id = 'remainder' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}