<h1>Основы компьютерных сетей</h1>
<p>Здесь я попробую разобраться как устроен интернет</p>

<section>
  <hr>
  <h4>Источники знаний:</h4>
  <ol>
    <li><a href="https://habr.com/ru/post/307252/">Основы компьютерных сетей. Тема №1. Основные сетевые термины и сетевые модели</a></li>
    <li><a href="https://habr.com/ru/post/307714/">Основы компьютерных сетей. Тема №2. Протоколы верхнего уровня</a></li>
    <li><a href="https://habr.com/ru/post/308636/">Основы компьютерных сетей. Тема №3. Протоколы нижних уровней (транспортного, сетевого и канального)</a></li>
    <li><a href="https://habr.com/ru/post/312340/">Основы компьютерных сетей. Тема №4. Сетевые устройства и виды применяемых кабелей</a></li>
    <li><a href="https://habr.com/ru/post/314484/">Основы компьютерных сетей. Тема №5. Понятие IP адресации, масок подсетей и их расчет</a></li>
    <li><a href="https://habr.com/ru/post/319080/">Основы компьютерных сетей. Тема №6. Понятие VLAN, Trunk и протоколы VTP и DTP</a></li>
  </ol>
</section>