<h1>Основы компьютерных сетей</h1>
<p>Отличная серия образовательных статей c хабра от пользователя под ником <a href="https://habr.com/ru/users/solid_93/">@solid_93</a></p>
<h2>Темы</h2>
<ul>
  <li><a href="theme1.html">Тема №1. Основные сетевые термины и сетевые модели</a></li>
  <li><a href="theme2.html">Тема №2. Протоколы верхнего уровня</a></li>
  <li><a href="theme3.html">Тема №3. Протоколы нижних уровней (транспортного, сетевого и канального)</a></li>
  <li><a href="theme4.html">Тема №4. Сетевые устройства и виды применяемых кабелей</a></li>
  <li><a href="theme5.html">Тема №5. Понятие IP адресации, масок подсетей и их расчет</a></li>
  <li><a href="theme6.html">Тема №6. Понятие VLAN, Trunk и протоколы VTP и DTP</a></li>
  <li><a href="theme7.html">Тема №7. Протокол связующего дерева: STP</a></li>
  <li><a href="theme8.html">Тема №8. Протокол агрегирования каналов: Etherchannel</a></li>
</ul>
<p>К сожалению на этом серия статей закончилась, а жаль... последующие темы придется изучать самостоятельно</p>
<ul>
  <li><a href="#">Маршрутизация: статическая и динамическая на примере RIP, OSPF и EIGRP.</a></li>
  <li><a href="#">Трансляция сетевых адресов: NAT и PAT.</a></li>
  <li><a href="#">Протоколы резервирования первого перехода: FHRP.</a></li>
  <li><a href="#">Безопасность компьютерных сетей и виртуальные частные сети: VPN.</a></li>
  <li><a href="#">Глобальные сети и используемые протоколы: PPP, HDLC, Frame Relay.</a></li>
  <li><a href="#">Введение в IPv6, конфигурация и маршрутизация.</a></li>
  <li><a href="#">Сетевое управление и мониторинг сети.</a></li>
</ul>