<h1>HTTPS</h1>
<p>Расширение протокола HTTP с поддержкой шифрования для повышения безопасности.</p>
<b>HTTPS не является отдельным протоколом. Это обычный HTTP, работающий через шифрованные транспортные механизмы SSL и TLS <br><small><a href="https://ru.wikipedia.org/wiki/HTTPS">источник</a></small></b>