<h1>Протоколы верхнего уровня</h1>

<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://habr.com/ru/post/307252/">Основы компьютерных сетей. Тема №2. Протоколы верхнего уровня</a></li>
  </ul>
</section>