<h1>Основные сетевые термины и сетевые модели</h1>

<section>
  <h2>Что такое сеть?</h2>
  <p><b>Сеть</b> - совокупность устройств и систем, которые соеденены друг с другом и общаются между собой.</p>

  <table>
    <caption>Компоненты сети</caption>
    <tr>
      <td><b>оконечные узлы</b></td>
      <td><b>промежуточные устройства</b></td>
      <td><b>сетевые среды</b> </td>
    </tr>
    <tr>
      <td>
        <p>устройства, которые передают и/или принимают какие-либо данные</p>
        <ul>
          <li>компьютеры</li>
          <li>телефоны</li>
          <li>сервера</li>
          <li>телевизоры</li>
          <li>и т.д.</li>
        </ul>
      </td>
      <td>
        <p>устройства, которые соединяют оконечные узлы между собой</p>
        <ul>
          <li>коммутаторы</li>
          <li>концентраторы</li>
          <li>модемы</li>
          <li>маршрутизаторы (роутеры)</li>
          <li>точки доступа Wi-Fi</li>
        </ul>
      </td>
      <td>
        <p>среды, в которых происходит непосредственная передача данных</p>
        <ul>
          <li>кабели медные (посредством электрических сигналов)</li>
          <li>кабели оптоволоконные (посредством световых имульсов)</li>
          <li>беспроводные устройства (посредством радиоволн)</li>
          <li>сетевые карты</li>
          <li>коннекторы</li>
          <li>воздушная среда передачи</li>
        </ul>
      </td>
    </tr>
  </table>
</section>



<h2>Сетевые модели</h2>
<ul>
  <li>модель OSI (эталонная модель, нужно знать как теорию)</li>
  <li>модель TCP/IP (используется на практике)</li>
</ul>
<h3>OSI</h3>
<p>Эталонная модель состоит из <a href="https://www.iso.org/ics/35.100/x/">7 уровней</a>:</p>
<table>
  <tr>
    <td><b>Levels</b> </td>
    <td><b>Тип данных</b></td>
    <td><b>Функции</b></td>
    <td><b>Примеры</b></td>
  </tr>
  <tr>
    <td>Application Layer</td>
    <td>Protocol Data Units ("данные")</td>
    <td>доступ к сетевым службам</td>
    <td>HTTP, FTP, POP3, WebSocket</td>
  </tr>
  <tr>
    <td>Presentation Layer</td>
    <td>Protocol Data Units ("данные")</td>
    <td>представление и шифрование данных</td>
    <td>ASCII, EBCDIC</td>
  </tr>
  <tr>
    <td>Session Layer</td>
    <td>Protocol Data Units ("данные")</td>
    <td>управление сеансом связи</td>
    <td>RPC, PAP, L2TP</td>
  </tr>
  <tr>
    <td>Transport Layer</td>
    <td>сегменты (для TCP) / дейтаграммы (для UDP)</td>
    <td>прямая связь между конечными пунктами и надёжность</td>
    <td>TCP, UDP, SCTP, PORTS</td>
  </tr>
  <tr>
    <td>Network Layer</td>
    <td>IP пакеты (или просто "пакеты")</td>
    <td>определение маршрута и логическая адресация</td>
    <td>IPv4, IPv6, IPsec, AppleTalk</td>
  </tr>
  <tr>
    <td>Data Link Layer</td>
    <td>биты / кадры</td>
    <td>физическая адресация</td>
    <td>PPP, IEEE 802.22, Ethernet, DSL, ARP, сетевая карта.</td>
  </tr>
  <tr>
    <td>Physical Layer</td>
    <td>биты</td>
    <td>работа со средой передачи, сигналами и двоичными данными</td>
    <td>USB, кабель («витая пара», коаксиальный, оптоволоконный), радиоканал</td>
  </tr>
</table>

<h4>Процесс взаимодействий</h4>
<p>Пример клиента и сервера, который находится <b>в одной локальной сети</b>.</p>
<table id="osi_table">
  <style>
    #osi_table {margin-top: 40px;}
    #osi_table td {border: none;}
    #osi_table h3 {text-transform: uppercase; font-size: 20px; margin-bottom:0}
    .osi_table_bottom {font-size: 40px;}
    #osi_table_encapsulation, #osi_table_deencapsulation {width: 50%;}
    #osi_table_encapsulation td:before {content: '\2B07'; display: block; font-size: 40px;}
    #osi_table_deencapsulation td:before {content: '\2B06'; display: block; font-size: 40px;}
  </style>
  <tr>
    <td class="osi_table_tittle"><h3>Клиент</h3><small>процесс инкапсуляции</small></td>
    <td class="osi_table_tittle"><h3>Сервер</h3><small>процесс деинкапсуляции</small></td>
  </tr>
  <tr>
    <td id="osi_table_encapsulation">
      <ol class="list_no-marked">
        <li>
          <table>
            <tr>
              <td>
                <h4>Application Layer</h4>
                <ul>
                  <li>пользователь набирает адрес сайта</li>
                  <li>используется <b>протокол HTTP</b></li>
                  <li>упаковка и переход на следующий уровень</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Presentation Layer</h4>
                <ul>
                  <li>данные структурируются</li>
                  <li>данные приводятся в формат, который может быть прочитан на сервере</li>
                  <li>упаковка и переход на следующий уровень</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Session Layer</h4>
                <ul>
                  <li>создается сессия между компьютером и сервером</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Transport Layer</h4>
                <ul>
                  <li>установление соединения и контроль за принятыми данными</li>
                  <li>используется <b>протокол TCP</b> (требуется надежное соединение, т.к. это веб-сервер)</li>
                  <li>указываем порт, на который будем стучаться и порт источника (чтобы сервер знал, куда отправлять ответ)</li>
                  <li><b>стандартно — это 80 порт</b>, а не на почтовый сервер</li>
                  <li>упаковка и переход на следующий уровень</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Network Layer</h4>
                <ul>
                  <li>указывается, на какой адрес отправлять пакет</li>
                  <li>адрес назначения: пусть адрес сервера будет <b>192.168.1.2</b></li>
                  <li>адрес источника: пусть адрес компьютера <b>192.168.1.1</b></li>
                  <li>упаковка и переход на следующий уровень</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Data Link Layer</h4>
                <ul>
                  <li>добавляются физические адреса источника и назначения</li>
                  <li><b>MAC-адрес компьютера</b></li>
                  <li><b>MAC-адрес сервере</b></li>
                </ul>
                <p><b>!!!</b> если бы компьютер и сервер находились в разных сетях, то адресация работала по-другому</p>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Physical Layer</h4>
                <ul>
                  <li>полученные биты конвертируются в электрические сигналы и отправляются на сервер (если это витая пара)</li>
                  <li>далее какое-то время сигнал идет по проводам</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
      </ol>
    </td>
    <td id="osi_table_deencapsulation">
      <ol class="list_no-marked">
        <li>
          <table>
            <tr>
              <td>
                <h4>Application Layer</h4>
                <ul>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Presentation Layer</h4>
                <ul>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Session Layer</h4>
                <ul>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Transport Layer</h4>
                <ul>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Network Layer</h4>
                <ul>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Data Link Layer</h4>
                <ul>
                  <li>проверяется MAC-адрес назначения (ему ли это адресовано)</li>
                  <li>если да, то проверяется кадр на целостность и отсутствие ошибок</li>
                  <li>если все прекрасно и данные целы, он передает их вышестоящему уровню</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <td>
                <h4>Physical Layer</h4>
                <ul>
                  <li>электрический сигнал подошел к серверному железу</li>
                  <li>сингнал конвертируются в понятную битовую последовательность для канального уровня</li>
                </ul>
              </td>
            </tr>
          </table>
        </li>
      </ol>
    </td>
  </tr>
</table>

<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://habr.com/ru/post/307252/">Основы компьютерных сетей. Тема №1. Основные сетевые термины и сетевые модели</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%B0%D1%8F_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_OSI">Сетевая модель OSI</a></li>
  </ul>
</section>