<h1>Протоколы верхнего уровня</h1>
<p>Фактически сейчас используется упрощенная сетевая модель <b>TCP/IP</b>, которая в отличии от <b>OSI</b> состоит из 4-х уровней: <i>application</i>, <i>transport</i>, <i>internet</i> и <i>link or network interface</i>.</p>
<img src="https://www.secplicity.org/wp-content/uploads/2019/02/osi_vs_tcpip.png" alt="OSI vs TCP/IP">
<ul>
  <li><b>Application Layer</b> - компетенция програмистов</li>
  <li><b>Data Flow Layer</b> - компетенция системных администраторов</li>
</ul>
<table>
  <caption>Список протоколов уровня Application</caption>
  <tr>
    <td><b>протокол</b></td>
    <td><b>описание</b></td>
  </tr>
  <tr>
    <td title="HyperText Transport Protocol">HTTP</td>
    <td>протокол передачи данных, используемый обычно для получения информации с веб-сайтов</td>
  </tr>
  <tr>
    <td >DNS</td>
    <td>компьютерная распределённая система для получения информации о доменах</td>
  </tr>
  <tr>
    <td title="Dynamic Host Configuration Protocol">DHCP</td>
    <td> сетевой протокол, позволяющий сетевым устройствам автоматически получать IP-адрес и другие параметры, необходимые для работы в сети TCP/IP</td>
  </tr>
  <tr>
    <td>SSH</td>
    <td>-</td>
  </tr>
  <tr>
    <td>SMTP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>SNMP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>SCP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>SMB</td>
    <td>-</td>
  </tr>
  <tr>
    <td>FTP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>POP3</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Telnet</td>
    <td>-</td>
  </tr>
  <tr>
    <td>TFTP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>NFS</td>
    <td>-</td>
  </tr>
  <tr>
    <td>RTSP</td>
    <td>-</td>
  </tr>
  <tr>
    <td>BGP</td>
    <td>-</td>
  </tr>
</table>

<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://habr.com/ru/post/307714/">Основы компьютерных сетей. Тема №2. Протоколы верхнего уровня</a></li>
  </ul>
</section>