/* main в 2 колонки */
.main_two-columns {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 50px auto;
  grid-column-gap: 20px;
}

.main_two-columns > h1, p {
  grid-column: 1 / -1;
}

.main_two-columns > .list {
  background: #eee; /*временно*/
  grid-column: 1;
  padding: 10px;
}

.main_two-columns > .list ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.main_two-columns > .list li {
  display: grid;
  grid-template-columns: 80px auto;
  grid-column-gap: 10px;
  background: white;
  font-size: 15px;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-decoration: none;
}

.main_two-columns > .list li:hover {
  background: yellow;
}

.main_two-columns > .list a {
  font-weight: bold;
  text-decoration: none;
}

.main_two-columns > .content {
  background: #eee; /*временно*/
  padding: 10px 30px;
  grid-column: 2;
  grid-row: 2;
}