{% block code %}
"arrayTest": [{
  "id": "#1",
  "buttons": [{"num": "1"}, {"num": "2"}, {"num": "3"}]
}, {
  "id": "#2",
  "buttons": [{"num": "1"}, {"num": "2"}]
}, {
  "id": "#3",
  "buttons": [{"num": "1"}]
}, {
  "id": "#4",
  "buttons": [{"num": "1"}]
}]
{% endblock %}