/* с указанием всех классов, где используются переменные */
/* правило именования: имяБлока_имя-свойства */

:root{
  --asideTop-height: 30px; /* .aside_top | .aside_left | .aside_right | .banner */
  --asideLeft-width: 50px; /* .aside_left | .aside_top */
  --asideRight-width: 50px; /* .aside-right | .aside_top */
  --main_padding-left: 20px; /* .main | .banner */
  --main_padding-right: 20px; /* .main | .banner */
  --tile-size: 120px; /* .list_tile */
  --backside-color: greenyellow; /* .tile_flip */
}