{# ШАБЛОН codeExample #}
{# class="line-numbers" - для включения нумераций строк #}

<div class="code-example">

  {# ПРИМЕЧАНИЯ #}
  {# [1] {% set html = 'path/html.njk' %} - успех в случае верного указания пути к шаблону #}
  {# [2] {% set html = 'ewawbnf' %} - true, но будет ошибка т.к. путь к шаблону не корректный #}
  {# [3] {% set html = '' %} - false, т.к это строка пустая #}

  {# вывести toolbar если demo=true ( см. примечание - условие [1] ) #}

    {# HTML #}
    {# вывести html если html=true  #}
    {% if html %}
      {% if demo %}{# вывести кнопку HTML, только если demo=true (иначе в простых примерах она тоже появится) #}
        {# Чтобы не засорять основной style.css, селекторы :checked задаю инлайново #}
        {# Они нужны только внутри блока и больше нигде! #}
        {# выводить style только если demo=true #}
        <style>input[name=button]:checked ~ #{{example_id}}-html-code {z-index: 2;}</style>
        <input type="radio" name="button" id="{{example_id}}-html-checkbox">
        <label for="{{example_id}}-html-checkbox" onclick>HTML</label>
      {% endif %}
      <div id="{{example_id}}-html-code" class="code">
        {# вывести КОД html если html=true  #}
        {% if html %}
          {% if numeration %}{# вывести нумерацию строк если numeration=true #}
          <pre class="line-numbers">
            <code class="language-html">{% include example_dir + example_id + '.html' %}</code>
          </pre>
          {% else %}{# иначе вывести без класса "line-numbers" #}
          <pre>
            <code class="language-html">{% include example_dir + example_id + '.html' %}</code>
          </pre>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {# NJK #}
    {# вывести njk если njk=true  #}
    {% if njk %}
      {% if demo %}{# вывести кнопку NJK, только если demo=true (иначе в простых примерах она тоже появится) #}
        {# Чтобы не засорять основной style.css, селекторы :checked задаю инлайново #}
        {# Они нужны только внутри блока и больше нигде! #}
        {# выводить style только если demo=true #}
        <style>[id='{{example_id}}-njk-checkbox']:checked ~ #{{example_id}}-njk-code {z-index: 2;}</style>
        <input type="radio" name="button" id="{{example_id}}-njk-checkbox">
        <label for="{{example_id}}-njk-checkbox" onclick>NJK</label>
      {% endif %}
      <div id="{{example_id}}-njk-code" class="code">
        {# вывести КОД njk если njk=true #}
        {% if njk %}
          {% if numeration %}{# вывести нумерацию строк если numeration=true #}
          <pre class="line-numbers">
            <code class="language-jinja2">{% include example_dir + example_id + '.njk' %}</code>
          </pre>
          {% else %}{# иначе вывести без класса "line-numbers" #}
          <pre><code class="language-jinja2">{% include example_dir + example_id + '.njk' %}</code></pre>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {# CSS #}
    {# вывести КОД css если css=true  #}
    {% if css %}
      {% if demo %}{# вывести кнопку CSS, только если demo=true (иначе в простых примерах она тоже появится) #}
        {# Чтобы не засорять основной style.css, селекторы :checked задаю инлайново #}
        {# Они нужны только внутри блока и больше нигде! #}
        {# выводить style только если demo=true #}
        <style>[id='{{example_id}}-css-checkbox']:checked ~ #{{example_id}}-css-code {z-index: 2;}</style>
        <input type="radio" name="button" id="{{example_id}}-css-checkbox">
        <label for="{{example_id}}-css-checkbox" onclick>CSS</label>
      {% endif %}
      <div id="{{example_id}}-css-code" class="code">
        {# вывести КОД css если css=true #}
        {% if css %}
          {% if numeration %}{# вывести нумерацию строк если numeration=true #}
          <pre class="line-numbers">
            <code class="language-css">{% include example_dir + example_id + '.css' %}</code>
          </pre>
          {% else %}{# иначе вывести без класса "line-numbers" #}
          <pre>
            <code class="language-css">{% include example_dir + example_id + '.css' %}</code>
          </pre>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {# JS #}
    {# вывести js если js=true  #}
    {% if js %}
      {% if demo %}{# вывести кнопку JS, только если demo=true (иначе в простых примерах она тоже появится) #}
        {# Чтобы не засорять основной style.css, селекторы :checked задаю инлайново #}
        {# Они нужны только внутри блока и больше нигде! #}
        {# выводить style только если demo=true #}
        <style>[id='{{example_id}}-js-checkbox']:checked ~ #{{example_id}}-js-code {z-index: 2;}</style>
        <input type="radio" name="button" id="{{example_id}}-js-checkbox">
        <label for="{{example_id}}-js-checkbox" class="js-button" onclick>JS</label>
      {% endif %}
      <div id="{{example_id}}-js-code" class="code">
        <span class="run-js" title="Run" onclick="{{example_id}}()"></span>
        {# вывести КОД js если js=true #}
        {% if js %}
          {% if numeration %}{# вывести нумерацию строк если numeration=true #}
          <pre class="line-numbers">
            <code class="language-js">{% include example_dir + example_id + '.js' %}</code>
            {# вывести содержимое js в тег script, для возможности выполнения (для примеров с нумерацией) #}
            <script>function {{example_id}}() { {% include example_dir + example_id + '.js' %}
}</script>
          </pre>
          {% else %}{# иначе вывести без класса "line-numbers" #}
          <pre>
            <code class="language-js">{% include example_dir + example_id + '.js' %}</code>
            {# вывести содержимое js в тег script, для возможности выполнения (для примеров без нумерации) #}
            <script>function {{example_id}}() { {% include example_dir + example_id + '.js' %}
}</script>
          </pre>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {# DEMO #}
    {% if demo %}{# вывести demo если demo=true  #}
      {# вывести кнопку demo, только если demo=true #}
      {# Чтобы не засорять основной style.css, селекторы :checked задаю инлайново #}
      {# Они нужны только внутри блока и больше нигде! #}
      {# выводить style только если demo=true #}
      <style>[id='{{example_id}}-demo-checkbox']:checked ~ #{{example_id}}-demo {z-index: 2;}</style>
      <input type="radio" name="button" id="{{example_id}}-demo-checkbox">
      <label for="{{example_id}}-demo-checkbox" class="demo_button" onclick>DEMO</label>

      {# вывести блок demo если demo=true #}
      {% if demo %}
        <div id="{{example_id}}-demo" class="demo">
          {% include example_dir + demo %}
        </div>
      {% endif %}

      {# включить режим split если demo=true и split=true #}
      {% if demo and split %}
      <div id="{{example_id}}-demo" class="demo split-parent">
        <div id="box-1" data-observe-resizes>
          {% include example_dir + demo %}
        </div>
      </div>
      {% endif %}

    {% endif %}

</div>