.list_no-marked {
  padding: 1px;
}

.list_no-marked > li {
  list-style-type: none;
  margin-bottom: 1px;
  background-color: white;
}

.list_no-marked > li:hover {
  background-color: rgb(196, 238, 255);
  cursor: pointer;
}

.list_no-marked > li > a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
}