.list_no-marked {
  padding: 1px;
  margin: 0;
}

.list_no-marked > li {
  list-style-type: none;
  margin-bottom: 1px;
  background-color: white;
}

.list_no-marked > li > a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
}

.list_no-marked > li > a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}