/* временно расположить в ряд по три code-example */
.wrapper_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* code-example БЕТА версия */
.code-example-beta {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 150px; /* для 4 табов + 1 (150px) */
  grid-template-rows: auto auto max-content;
  grid-gap: 1px 2px;
  box-sizing: border-box;
}

/* чтобы не вмешиваться в оригинальные стили prism.js все переопределения я делаю в style.css */
/* это нужно для того, чтобы при скачивании новой конфигурации prism.js не приходилось каждый раз лезть в prism.css */

/* убрать margin у блока с кодом */
.code-example-beta pre[class*=language-] {
  margin: 0;
}

/* изменить z-index у reviewer (иначе он не будет работать в codeExample) */
.prism-previewer {
  z-index: 2;
}

.code-example-beta > label {
  background: black;
  color: white;
  padding: 7px;
  text-align: center;
  height: 20px;
  cursor: pointer;
}

/* кнопка demo всегда справа */
.code-example-beta > label[class="demo_button"] {
  grid-column: 5;
}

.code-example-beta > label:hover {
  background: silver;
  color: black;
}

/* скрыть инпуты */
input[name=button] {
  z-index: 99;
  grid-row: 2; /* не трогать */
  display: none;
}

/* кнопка для запуска js скриптов */
/* кнопка JS = relative */
.js-button {position: relative;}

/* позиция + стили для кнопки run-js */
.run-js {
  position: absolute;
  top: 4;
  bottom: 4;
  right: 4;
  padding: 4px 5px 4px 7px;
  background: white;
  color: black;
  opacity: 0.8;
}

.run-js:after {
  content: '\0025B6'; /* play */
}

.run-js:hover{
  background: black;
  color: white;
  opacity: 1;
}



/* активная кнопка меняет цвет */
input[name=button]:checked + label {
  background: orange;
}

.code {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 3; /* не трогать */
  background:#2d2d2d; /* цвет из prism.js - #2d2d2d */
  overflow-x: auto;
  z-index: 0; /* не трогать */
}

.demo {
  grid-column: 1 / -1;
  grid-row: 3; /* не трогать */
  overflow-x: auto;
  padding: 0 10px;
  background: white;
  border: 1px solid;
  z-index: 1;
}