  <ul class="tile">
    <li><p>обычный text</p></li>
    <li><a href="#">обычный link</a></li>
    <li><a href="#" class="link_stretch">link_stretch</a></li>
    <li>
      <a href="#" class="link_stretch"></a>
    </li>
    <li>
      <p>обычный text</p>
      <button>button</button>
    </li>
  </ul>