{% extends "base.njk" %}

{% set title       = 'Создание плитки с помощью HTML и CSS' %}
{% set description = 'Варианты реализации элементов плитки с помощью CSS и HTML' %}

{% set document    = 'tile' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'tile' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}


{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}