{% extends "base.njk" %}

{# variables #}
{% set document    = 'tile_flip' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'tile' %}
{% set subsegment  = '' %}

{# ===================================== #}

{% block head %}
  <title>Creating a tile using HTML and CSS</title>
  <meta name="description" content="Варианты реализации элементов плитки с помощью CSS и HTML." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>.tile_flip (модификатор)</h1>
  <p>Модификатор <b>flip</b> добавляет возможность переворачивать элементы при наведении мышы.</p>
  <p>Добавляя модификатор <b>_flip</b>, все элементы содержащие контейнер <b>.back</b> станут переворачиватся при наведении курсора (в примере ниже - это третий элемент).</p>

  {% set example_id = 'tile_flip' %}
  {% set numeration = false %}
  {% set split      = true %}
  {% set html       = true %}
  {% set njk        = false %}
  {% set css        = true %}
  {% set js         = false %}
  {% set demo       = 'tile_flip-demo.njk' %}
  {% include codeExample %}

  <h2>Полезные ссылки</h2>
  <ul>
    <li><a href="https://freefrontend.com/css-flip-cards/">16 CSS Flip Cards</a></li>
  </ul>
 
{% endblock %}

{% block inlineScripts %}
  <script>{% include split_init %}</script>
{% endblock %}