{% include warning_rfc2068 %}
<h1>2. Письменные соглашения и обобщенная грамматика</h1>

<section id="augmented_bnf">
  <h2>2.1. Увеличенная нормальная запись Бекуса-Наура (BNF)</h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolores, numquam, unde quasi vel adipisci similique esse magni iste rerum nesciunt tenetur minima officia autem sunt, quaerat voluptatem facere deleniti!
</section>

<section id="basic_rules">
  <h2>2.2. Основные правила</h2>
</section>
