<h1>HTTP</h1>
<b>Все описанной на этой странице выдержки из официальной документации по HTTP/1.1, переведенной на русский <a href="https://rfc2.ru/2068.rfc">RFC 2068 [RUS]</a>. <br><br> <b>Является конспектом для личного пользования!</b> </b>
<table>
  <caption>Официальная документация</caption>
  <tr style="background: #dadada;">
    <td><b>имя</b></td>
    <td><b>тема</b></td>
    <td><b>переводы</b></td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc1945">RFC 1945</a></td>
    <td>HTTP/1.0</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="https://www.w3.org/Protocols/rfc2068/rfc2068">RFC 2068</a></td>
    <td>HTTP/1.1</td>
    <td style="background: yellow;"><a href="https://rfc2.ru/2068.rfc">RFC 2068 [RUS]</a></td>
  </tr>
  <tr>
    <td><a href="https://tools.ietf.org/html/rfc7540">RFC 7540</a></td>
    <td>HTTP/2</td>
    <td style="background: yellow;"><a href="http://book.itep.ru/4/45/http2.htm">RFC 7540 [RUS]</a></td>
  </tr>
</table>

  <ul>
    <li><em>1.3.</em> <a href="#terminology">терминология</a> </li>
    <li><a href="#http_versions">версии HTTP</a></li>
    <li><a href="#url">URL-адреса</a></li>
    <li>методы</li>
    <li>коды состояния</li>
    <li>формат HTTP-сообщений, заголовки</li>
    <li>формат сообщений запроса</li>
    <li>Формат сообщений ответа</li>
    <li>инструменты для просмотра сетевого трафика по HTTP</li>
    <li>использование HTTP во фреймворках и библиотеках</li>
    <li>соединения HTTP</li>
    <li>реализация соединения на стороне сервера</li>
    <li>идентификация и аутентификация</li>
    <li>HTTPS</li>
    <li>кэширование</li>
  </ul>

</section>


  <h4>Подробнее об HTTP/2</h4>
  <ul>
    <li><small><a href="https://www.cossa.ru/152/129649/">Что такое протокол HTTP/2 и чем он полезен для сайтов?</a></small></li>
    <li><small><a href="https://habr.com/ru/company/selectel/blog/278167/">HTTP/2: готовимся к переходу</a></small></li>
    <li><small><a href="https://habr.com/ru/company/yandex/blog/222951/">Совместный эксперимент команд Яндекс.Почты и Nginx: действительно ли SPDY ускорит интернет?</a></small></li>
    <li><small><a href="https://habr.com/ru/post/221427/">Разъяснение http2</a></small></li>
  </ul>
</section>

<section id="url">
  <h2>URL-адреса</h2>
</section>


<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://code.tutsplus.com/ru/tutorials/http-the-protocol-every-web-developer-must-know-part-1--net-31177">HTTP: Протокол, который должен знать каждый веб-разработчик (Часть 1)</a></li>
    <li><a href="https://code.tutsplus.com/ru/tutorials/http-the-protocol-every-web-developer-must-know-part-2--net-31155">HTTP: Протокол, который должен знать каждый веб-разработчик (Часть 2)</a></li>
    <li><a href="https://habr.com/ru/post/215117/">Простым языком об HTTP</a></li>
    <li><a href="https://rfc2.ru/">Русские переводы RFC</a></li>
  </ul>
</section>