<b>Оригинал: <a href="https://www.w3.org/Protocols/rfc2068/rfc2068">Hypertext Transfer Protocol -- HTTP/1.1</a></b>

<h1>1.1. Цель</h1>

<p>Целью спецификации <b>RFC 2068</b> является устранение недостатков более раннего протокола HTTP/1.0</p>


<table>
    <caption>Возможности ранних версий</caption>
    <tr style="background: #dadada;">
        <td><b>версия</b></td>
        <td><b>описание</b></td>
    </tr>
    <tr>
        <td>HTTP/0.9</td>
        <td>простой протокол для передачи необработанных данных через интернет</td>
    </tr>
    <tr>
        <td>HTTP/1.0</td>
        <td>
        <b>улучшения:</b>
        <ul>
            <li>MIME-подобный формат для сообщений, содержащий метаинформацию о передаваемых данных</li>
        </ul>
        <b>недостатки:</b>
        <ul>
            <li>плохо учитывал особенности работы с прокси-серверами (hierarchical proxies);</li>
            <li>кэшированием;</li>
            <li>постоянными соединениями;</li>
            <li>виртуальными хостами (virtual hosts);</li>
        </ul>
        </td>
    </tr>
    <tr style="background: yellow;">
        <td>HTTP/1.1</td>
        <td>
        <p>cодержит более строгие требования, чем HTTP/1.0, гарантирующие надежную реализацию возможностей.</p>
        </td>
    </tr>
    <tr>
        <td>HTTP/2</td>
        <td>современный протокол, позволяет <b>увеличить</b> скорость загрузки страницы</td>
    </tr>
</table>