{% include warning_rfc2068 %}

<h1>10. Описания кодов состояния</h1>

<p>Самые популярные коды выделил цветом</p>

<section id="informational-1xx">
  <table>
    <caption>10.1. 1xx — Информационные коды</caption>
    <tr>
      <td><b>100</b> Continue</td>
      <td></td>
    </tr>
    <tr>
      <td><b>101</b> Switching Protocols</td>
      <td></td>
    </tr>
  </table>
</section>

<section id="successful-2xx">
  <table>
    <caption>10.2. 2xx — Успешные коды</caption>
    <tr style="background: gold;">
      <td><b>200</b> OK</td>
      <td> &#128077; (все ОК)</td>
    </tr>
    <tr>
      <td><b>201</b> Created</td>
      <td></td>
    </tr>
    <tr>
      <td><b>202</b> Accepted</td>
      <td></td>
    </tr>
    <tr>
      <td><b>203</b> Non-Authoritative Information</td>
      <td></td>
    </tr>
    <tr>
      <td><b>204</b> No Content</td>
      <td></td>
    </tr>
    <tr>
      <td><b>205</b> Reset Content</td>
      <td></td>
    </tr>
    <tr>
      <td><b>206</b> Partial Content</td>
      <td></td>
    </tr>
  </table>
</section>

<section id="redirection-3xx">
  <table>
    <caption>10.3. 3xx — Коды перенаправления</caption>
    <tr>
      <td><b>300</b> Multiple Choices</td>
      <td></td>
    </tr>
    <tr>
      <td><b>301</b> Moved Permanently</td>
      <td></td>
    </tr>
    <tr>
      <td><b>302</b> Moved Temporarily</td>
      <td></td>
    </tr>
    <tr>
      <td><b>303</b> See Other</td>
      <td></td>
    </tr>
    <tr>
      <td><b>304</b> Not Modified</td>
      <td></td>
    </tr>
    <tr>
      <td><b>305</b> Use Proxy</td>
      <td></td>
    </tr>
  </table>
</section>

<section id="client_error-4xx">
  <table>
    <caption>10.4. 4xx — Коды ошибок клиента</caption>
    <tr>
      <td><b>400</b> Bad Request</td>
      <td></td>
    </tr>
    <tr>
      <td><b>401</b> Unauthorized</td>
      <td></td>
    </tr>
    <tr>
      <td><b>402</b> Payment Required</td>
      <td></td>
    </tr>
    <tr>
      <td><b>403</b> Forbidden</td>
      <td></td>
    </tr>
    <tr style="background: gold;">
      <td><b>404</b> Not Found</td>
      <td></td>
    </tr>
    <tr>
      <td><b>405</b> Method Not Allowed</td>
      <td></td>
    </tr>
    <tr>
      <td><b>406</b> Not Acceptable</td>
      <td></td>
    </tr>
    <tr>
      <td><b>407</b> Proxy Authentication Required</td>
      <td></td>
    </tr>
    <tr>
      <td><b>408</b> Request Timeout</td>
      <td></td>
    </tr>
    <tr>
      <td><b>409</b> Conflict</td>
      <td></td>
    </tr>
    <tr>
      <td><b>410</b> Gone</td>
      <td></td>
    </tr>
    <tr>
      <td><b>411</b> Length Required</td>
      <td></td>
    </tr>
    <tr>
      <td><b>412</b> Precondition Failed</td>
      <td></td>
    </tr>
    <tr>
      <td><b>413</b> Request Entity Too Large</td>
      <td></td>
    </tr>
    <tr>
      <td><b>414</b> Request-URI Too Long</td>
      <td></td>
    </tr>
    <tr>
      <td><b>415</b> Unsupported Media Type</td>
      <td></td>
    </tr>
  </table>
</section>

<section id="server_error-5xx">
  <table>
    <caption>10.5. 5xx — Коды ошибок сервера</caption>
    <tr style="background: gold;">
      <td><b>500</b> Internal Server Error</td>
      <td></td>
    </tr>
    <tr>
      <td><b>501</b> Not Implemented</td>
      <td></td>
    </tr>
    <tr style="background: gold;">
      <td><b>502</b> Bad Gateway</td>
      <td></td>
    </tr>
    <tr>
      <td><b>503</b> Service Unavailable</td>
      <td></td>
    </tr>
    <tr>
      <td><b>504</b> Gateway Timeout</td>
      <td></td>
    </tr>
    <tr>
      <td><b>505</b> HTTP Version Not Supported</td>
      <td></td>
    </tr>
  </table>
</section>