<h1>1.3. Терминология</h1>

<section id="terminology">
  <style>#terminology td:first-child {background: #eee;}</style>
  <table>
    <tr>
      <td><b>connection</b> (соединение)</td>
      <td>виртуальный канал транспортого уровня, установленный между двумя программами с целью связи</td>
    </tr>
    <tr>
      <td><b>message</b> (сообщение)</td>
      <td>основной модуль HTTP связи, состоящей из структурной последовательности октетов, соответствующих синтаксису, определенному в <a href="#">разделе 4</a>  и передаваемых по соединению</td>
    </tr>
    <tr>
      <td><b>request</b> (запрос)</td>
      <td>любое HTTP сообщение, содержащее запрос, определяемый в <a href="#">разделе 5</a></td>
    </tr>
    <tr>
      <td><b>response</b> (ответ)</td>
      <td>любое HTTP сообщение, содержащее ответ, определяемый в <a href="#">разделе 5</a></td>
    </tr>
    <tr>
      <td><b>resource</b> (ресурс)</td>
      <td>сетевой объект данных или сервис, который может быть идентифицирован URI, определеляемым в <a href="#">разделе 3.2</a></td>
    </tr>
    <tr>
      <td><b>entity</b> (объект)</td>
      <td>объект состоит из метаинформации в форме полей заголовка объекта и содержания в форме тела объекта, как описано в <a href="">разделе 7</a></td>
    </tr>
    <tr>
      <td><b>representation</b> (представление)</td>
      <td>объект включенный в ответ, и подчиняющийся обсуждению содержимого (Content Negotiation), что описано в <a href="">разделе 12</a></td>
    </tr>
    <tr>
      <td><b>content negotiation</b> (обсуждение содержимого)</td>
      <td>механизм для выбора соответствующего представления во время обслуживания запроса, как описано в <a href="#">разделе 12</a></td>
    </tr>
    <tr>
      <td><b>variant</b> (вариант)</td>
      <td>ресурс может иметь одно, или несколько представлений, связанных с ним в данный момент (каждое из этих представлений называется "вариант")</td>
    </tr>
    <tr>
      <td><b>client</b> (клиент)</td>
      <td>программа, которая устанавливает соединения с целью посылки запросов</td>
    </tr>
    <tr>
      <td><b>user agent</b> (агент пользователя)</td>
      <td>клиент, который инициирует запрос. Как правило браузеры, редакторы, роботы (spiders), или другие инструментальные средства пользователя.</td>
    </tr>
    <tr>
      <td><b>server</b> (сервер)</td>
      <td>приложение, которое слушает соединения, принимает запросы на обслуживание и посылает ответы</td>
    </tr>
    <tr>
      <td><b>origin server</b> (первоначальный сервер)</td>
      <td>сервер, на котором данный ресурс постоянно находится или должен быть создан</td>
    </tr>
    <tr>
      <td><b>proxy</b> (прокси-сервер)</td>
      <td>программа-посредник, которая действует и как сервер, и как клиент с целью создания запросов от имени других клиентов</td>
    </tr>
    <tr>
      <td><b>gateway</b> (шлюз)</td>
      <td>сервер, который действует как посредник для некоторого другого сервера.</td>
    </tr>
    <tr>
      <td><b>tunnel</b> (туннель)</td>
      <td>программа-посредник, которая поддерживает соединение</td>
    </tr>
    <tr>
      <td><b>cache</b> (кэш)</td>
      <td>локальная память, в которой программа хранит сообщения ответов, и в которой располагается подсистема, управляющая хранением, поиском и стиранием сообщений</td>
    </tr>
    <tr>
      <td><b>cachable</b> (кэшируемый)</td>
      <td>ответ является кэшируемым, если кэшу разрешено сохранить копию ответного сообщения для использования при ответе на последующие запросы</td>
    </tr>
    <tr>
      <td><b>first-hand</b> (непосредственный)</td>
      <td>ответ считается непосредственным, если он приходит непосредственно от первоначального сервера без ненужной задержки, возможно через один или несколько прокси-серверов</td>
    </tr>
    <tr>
      <td><b>explicit expiration time</b> (точное время устаревания)</td>
      <td>время, определенное первоначальным сервером и показывающее кэшу, когда объект больше не может быть возвращен кэшем клиенту без дополнительной проверки правильности</td>
    </tr>
    <tr>
      <td><b>heuristic expiration time</b> (эвристическое время устаревания)</td>
      <td>время устаревания, назначенное кэшем, если не указано точное время устаревания</td>
    </tr>
    <tr>
      <td><b>age</b> (возраст)</td>
      <td>возраст ответа - время, прошедшее с момента отсылки, или успешной проверки ответа первоначальным сервером</td>
    </tr>
    <tr>
      <td><b>freshness lifetime</b> (время жизни)</td>
      <td>отрезок времени между порождением ответа и временем устаревания</td>
    </tr>
    <tr>
      <td><b>fresh</b> (свежий)</td>
      <td>ответ считается свежим, если его возраст еще <b>не превысил</b> время жизни.</td>
    </tr>
    <tr>
      <td><b>stale</b> (просроченный)</td>
      <td>ответ считается просроченным, если его возраст <b>превысил</b> время жизни.</td>
    </tr>
    <tr>
      <td><b>semantically transparent</b> (семантически прозрачный)</td>
      <td>говорят, что кэш ведет себя "семантически прозрачным" образом в отношении специфического ответа, когда использование кэша не влияет ни на клиента запроса, ни на первоначальный сервер, но повышает эффективность</td>
    </tr>
    <tr>
      <td><b>validator</b> (указатель правильности)</td>
      <td>элемент протокола (например, метка объекта или Last-Modified time), который используется, чтобы выяснить, является ли находящаяся в кэше копия эквивалентом объекта</td>
    </tr>
    <tr>
      <td><b>eng</b> (rus)</td>
      <td>-</td>
    </tr>
  </table>
</section>