{% include warning_rfc2068 %}

<h1>3.2. Универсальные Идентификаторы Ресурсов (URI)</h1>

<section id="general_syntax">
</section>
<h2>3.2.1. Общий синтаксис</h2>
<table>
  <caption>Строение URL</caption>
  <tr>
    <td>protocol</td>
    <td>HTTP или HTTPS</td>
  </tr>
  <tr>
    <td>host</td>
    <td>www.yuricoder.com</td>
  </tr>
  <tr>
    <td>port</td>
    <td>по умолчанию 80 (или 443 для HTTPS)</td>
  </tr>
  <tr>
    <td>resource path</td>
    <td>это локальный путь к ресурсу на сервере</td>
  </tr>
  <tr>
    <td>query</td>
    <td>отображается если метод запроса GET</td>
  </tr>
</table>

<table>
  <caption>URL бывает двух видов</caption>
  <tr>
    <td>absolute</td>
    <td>scheme://domain/</td>
  </tr>
  <tr>
    <td>relative</td>
    <td>/path/resource</td>
  </tr>
</table>

<section id="http_url">
  <h2>3.2.2. HTTP URL</h2>
  <blockquote>
    <p>HTTP схема используется для доступа к сетевым ресурсам при помощи протокола HTTP.</p>
    <cite><a href="https://rfc2.ru/2068.rfc/print#p3.2.2">пункт 3.2.2.</a> спецификации RFC 2068</cite>
  </blockquote>
  <h3>Синтаксис</h3>
  <pre>
  http_URL       = "http:" "//" host [ ":" port ] [ abs_path ]

  host           =  допустимое доменное имя машины
                    или IP адрес (в точечно-десятичной форме),
                    как определено в разделе <a href="https://rfc2.ru/1123.rfc/print#p2.1">2.1 RFC 1123</a> 

  port           = *DIGIT
  </pre>
  
  <h3>Запомнить</h3>
  <ul>
    <li><em>DIGIT</em> - любая US-ASCII цифра от 1 до 9</li>
    <li>если <em>port</em> пуст или не задан - используется порт <em>80</em></li>
    <li>ресурс размещеный на сервере, ожидает TCP соединения на порте 80, компьютера <em>host</em> , и запрашиваемый URI ресурса <em>abs_path</em></li>
    <li>использования IP адресов в URL <em class="should">следует</em> избегать, когда это возможно</li>
    <li>eсли <em>abs_path</em> не представлен в URL, он <em class="must">должен</em> рассматриваться как <em>"/"</em> при вычислении <a href="#">Request-URI</a> (раздел 5.1.2).</li>
  </ul>
</section>

<section id="url_comparison">
  <h2>3.2.3. Сравнение URI</h2>

  <p>Cледующие три URI эквивалентны:</p>
  <pre>
  http://abc.com:80/~smith/home.html
  http://ABC.com/%7Esmith/home.html
  http://ABC.com:/%7esmith/home.html
  </pre>

</section>

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://wiki.rookee.ru/url/">https://wiki.rookee.ru/url/</a></li>
    <li><a href="http://old.istu.ru/files/material-static/1668/tspd-lect-02.pdf">Точечно-десятичное представление IP адреса</a> <em>PDF</em></li>
  </ul>
</section>