{% include warning_rfc2068 %}

<h1>3.2.1. Общий синтаксис</h1>
<img src="https://cdn.tutsplus.com/net/authors/jeremymcpeak/http1-url-structure.png" alt="url syntax">

<br>
<br>

<table>
  <caption>Строение URL</caption>
  <tr>
    <td>protocol</td>
    <td>HTTP или HTTPS</td>
  </tr>
  <tr>
    <td>host</td>
    <td>www.yuricoder.com</td>
  </tr>
  <tr>
    <td>port</td>
    <td>по умолчанию 80</td>
  </tr>
  <tr>
    <td>resource path</td>
    <td>это локальный путь к ресурсу на сервере</td>
  </tr>
  <tr>
    <td>query</td>
    <td>отображается если метод запроса GET</td>
  </tr>
</table>

<table>
  <caption>URL бывает двух видов</caption>
  <tr>
    <td>absolute</td>
    <td>-</td>
  </tr>
  <tr>
    <td>relative</td>
    <td>localhost:3000/docs/</td>
  </tr>
</table>