{% block code %}
{% raw %}

{% extends "base.njk" %}

{% block main %}
&lt;h1>Прайс лист&lt;/h1>
&lt;table>
  &lt;tr>&lt;td>Виды работ&lt;/td>&lt;td>Стоимость&lt;/td>&lt;/tr>
  &lt;tr>&lt;td>Строительство фундамента&lt;/td>&lt;td>&lt;b>2500$&lt;/b></td>&lt;/tr>
  &lt;tr>&lt;td>Монтаж стен и перекрытий&lt;/td>&lt;td>&lt;b>4000$&lt;/b>&lt;/td>&lt;/tr>
  &lt;tr>&lt;td>Кровельные работы&lt;/td>&lt;td>&lt;b>3000$&lt;/b>&lt;/td>&lt;/tr>
&lt;/table>
{% endblock %}

{% endraw %}
{% endblock %}