.tip[data-tip] {
  position: relative;
  background: wheat;
  border: 1px solid #fc0;
  padding: 0 3px;
}

.tip[data-tip]:hover {
  background: #fc0;
  text-decoration: underline;
  cursor: pointer;
}

.tip[data-tip]:hover::after {
  content: attr(data-tip);
  position: absolute;
  border: 1px solid #fc0;
  width: max-content;
  padding: 3px 6px;
  background: #fffea1;
  font-weight: 100;
  top: -26px;
}