.tip {
  position: relative;
  background: cornsilk;
}

.tip:hover {
  background: #fc0;
  cursor: help;
}

.tip[data-tip-text]:hover::after {
  color: black;
  content: attr(data-tip-text);
  position: absolute;
  border: 1px solid #fc0;
  width: max-content;
  padding: 3px 6px;
  background: #fffea1;
  font-weight: 100;
  top: -30px;
  right: -20px;
  left: 0;
  z-index: 999;
}

.tip[data-tip-image]:hover::after {
  background: red;
  content: url(../http);
  position: absolute;
}

.tip_highlight { background: chartreuse; }
.tip_highlight:hover { background: lime; }