<h1>Конструкция <em>switch</em></h1>

<p>Внутри конструкции <em>switch</em> содержится один или более блоков <em>case</em>.</p>

<div class='columns columns_three'>
  <section>
    <h2>Синтаксис</h2>
    {% set example_id  = 'switch_statement' %}
    {% set numeration  = false %}
    {% set split       = false %}
    {% set html        = false %}
    {% set njk         = false %}
    {% set css         = false %}
    {% set js          = true %}
    {% set demo        = false %}
    {% include codeExample %}
  </section>
</div>