/* тег <footer> только один на странице, поэтому для чистоты html-кода использую селектор тега (вместо создания класса) */
footer {
    flex: 1 100%; /* не трогать */
    order: 5; /* не трогать */
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: skyblue;
}