{% include warning_rfc2068 %}

<h1>9. Определения методов (Method Definitions)</h1>
<h2>9.1. Безопасные и Idempotent методы</h2>

<section id="safe_methods">
  <h3>9.1.1. Безопасные методы</h3>
  <blockquote>
    <p>Программе следует информировать пользователя о любых действиях, которые могут иметь непредсказуемое значение для него или других лиц</p>
    <p>Было принято соглашение, что методы <b>GET и HEAD</b> никогда не должны иметь иного значения, кроме загрузки. Эти методы следует рассматривать как "безопасные"</p>
    <cite><a href="https://rfc2.ru/2068.rfc/print#p9.1.1">пункт 9.1.1.</a> спецификации RFC 2068</cite>
  </blockquote>
</section>

<section id="idempotent_methods">
  <h3>9.1.2. Idempotent методы</h3>
  <p>Методы GET, HEAD, PUT и DELETE обладают свойством <b>"idempotence"</b></p>
  <p>P.S. пока я так и не понял что это за свойство.....</p>
</section>

<section id="options">
  <h2>9.2. OPTIONS</h2>
  <p>Метод <b>OPTIONS</b> предназначен для получения поддерживаемых сервером возможностей</p>
</section>

<section id="get">
  <h2>9.3. GET</h2>
  <p>Метод <b>GET</b> предназначен для получения существующего ресурса.  В URL-адресе содержится вся необходимая информация для определения местонахождения и возвращения ресурса сервером.</p>

</section>

<section id="head">
  <h2>9.4. HEAD</h2>
  <p>Метод <b>HEAD</b> подобен GET, однако не передается тело сообщения (только заголовки)</p>
</section>

<section id="post">
  <h2>9.5. POST</h2>
  <p>Метод <b>POST</b> предназначен для создания нового ресурса. Запросы по методу POST обычно содержат данные для создания нового ресурса.</p>
</section>

<section id="put">
  <h2>9.6. PUT</h2>
  <p>Метод <b>PUT</b> предназначен для обновления существующего ресурса. В содержимом могут находиться обновленные данные для ресурса.</p>
</section>

<section id="delete">
  <h2>9.7. DELETE</h2>
  <p>Метод <b>DELETE</b> предназначен для удаления существующего ресурса.</p>
</section>

<section id="trace">
  <h2>9.8. TRACE</h2>
  <p>Метод <b>TRACE</b> используется для получения от сервера информации о «прыжках»</p>
  <a href="https://rfc2.ru/2068.rfc/print#p9.8">подробнее</a>
</section>