{% extends "base.njk" %}

{% set title       = 'Навигация с модификатором checklist' %}
{% set description = 'Навигация в виде чеклиста' %}

{% set document    = 'nav_checklist' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'nav' %}
{% set subsegment  = 'nav_checklist' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}