{% extends "base.njk" %}

{% set title       = 'Left shift assignment operator in JavaScript' %}
{% set description = 'Left shift assignment moves the specified number of bits to the left and assigns the result to a variable' %}

{% set document    = 'left_shift_assignment' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'left_shift_assignment' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}