{% extends "base.njk" %}

{% set title       = 'DOM свойства' %}
{% set description = 'Что из себя представляют HTML свойства' %}

{% set document    = 'properties' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'properties' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}