{% extends "base.njk" %}

{% set document    = 'properties' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'properties' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>DOM свойства</title>
  <meta name="description" content="Что из себя представляют HTML свойства" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}