{% extends "base.njk" %}

{# variables #}
{% set title           = 'tile' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'css' %}
{% set segment_del     = 'delete' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам #}
{% set example_dir    = 'examples/css/tile/' %}

{# ===================================== #}

{% block head %}
  <title>Creating a tile using HTML and CSS</title>
  <meta name="description" content="Варианты реализации элементов плитки с помощью CSS и HTML." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
  <style>
  /* только для этой страницы */
  .wrapper_grid {
    display: grid;
  }

  .XL > .wrapper_grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .wrapper_grid > section {
    padding: 0 1em 5px 1em;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .wrapper_grid > section:nth-child(3) {
    grid-column: 1 / -1;
  }

  .wrapper_grid > section > h4 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .XL > .wrapper_grid > section {
    margin-left: 0;
    margin-right: 0;
  }
  </style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Element "Tile"</h1>
  <p>Варианты реализации элементов плитки с помощью CSS и HTML.</p>

  <div class="wrapper_grid">

   <section>
      <h2>.tile</h2>
      <p>Блок, содержащий элементы квадратной формы (наподобие плитки)</p>
      <p>Плитка - это по сути список элементов, поэтому я решил сделать его на основе <b>&lt;ul&gt;</b> и <b>&lt;li&gt;</b>.</p>

      {% set example_id = 'tile' %}
      {% set numeration = false %}
      {% set split      = true %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = false %}
      {% set demo       = 'tile-demo.njk' %}
      {% include codeExample %}
    </section>

  </div>
 
{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}