{% extends "base.njk" %}

{# variables #}
{% set title           = 'tile' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'css' %}
{% set segment_del     = 'delete' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам #}
{% set example_dir    = 'examples/css/tile/' %}

{# ===================================== #}

{% block head %}
  <title>Creating a tile using HTML and CSS</title>
  <meta name="description" content="Варианты реализации элементов плитки с помощью CSS и HTML." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <section class="banner" name="tile">
    <h1>Tile</h1>
    <p>Блок, содержащий элементы строго квадратной формы</p>
    <img src="/img/docs/css/tile/tile.png" alt="">
  </section>

  <h2>Варианты реализации:</h2>
  <ul class="tile tile_flip">
    <li>
      <!-- лицевая сторона -->
      <div class="front">
        <a>.tile_flip</a>
      </div>
      <!-- обратная сторона -->
      <div class="back">
        <a href="tile_flip.html">подробнее</a>
      </div>
    </li>
  </ul>

  <h2>Процесс верстки</h2>
  <section>
    <h3>Контейнер</h3>
    <p>Плитка по сути является списком элементов квадратной формы (другие формы тут не рассматриваю).</p>
    <p>В качестве контейнера я использовал тег <b>&lt;ul&gt;</b>, в котором теги <b>&lt;li&gt;</b> являются квадратными плитками.</p>
    <ol>
      <li>для <b>&lt;ul&gt;</b> задаю класс <b>.tile</b></li>
      <li>сбрасываю дефолтные стили для &lt;ul&gt;</li>
      <li>делаю грид-контейнер</li>
    </ol>
    <p>На этом все...</p>
    {# Примемер контейнера для блока "плитка" #}
    {% set example_id = 'tile-container' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = true %}
    {% set njk        = false %}
    {% set css        = true %}
    {% set js         = false %}
    {% include codeExample %}
  </section>

  <section>
    <h3>Элементы</h3>
    <p>Здесь я не стал придерживаться <a href="https://ru.bem.info/methodology/quick-start/#%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82">правил БЭМ</a> и использовал селектор <b>.tile > li</b> (вместо <b>.tile__item</b>). Пунктов (плиток) может быть много и мне не хотелось 'раздувать' html код этим классом, добавляя его к каждому &lt;li&gt;.</p>
    <p>Для того чтобы <b>&lt;li&gt;</b> принял форму квадрата нужно выставить высоту на 0 и задать отступ в 100% от ширины родителя элемента:</p>
    <ul>
      <li>height: 0;</li>
      <li>padding-bottom: 100%;</li>
    </ul>
    <q>При указании поля в процентах, значение считается от ширины родителя элемента <small>(узнал на <a href="https://webref.ru/css/padding-bottom">webref.ru</a>)</small></q>
    
    <p>Чтобы все потомки позиционировались относительно своего &lt;li&gt; контейнера добавлю:</p>
    <ul>
      <li>position: relative;</li>
    </ul>
    <p>Все остальное это визуальная составляющая.</p>
    {# Примемер элемента блока "плитка" #}
    {% set example_id = 'tile__item' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = true %}
    {% set njk        = false %}
    {% set css        = true %}
    {% set js         = false %}
    {% set demo       = 'tile__item-demo.njk' %}
    {% include codeExample %}
  </section>

  <section>
    <h3>Когда весь элемент является ссылкой</h3>
    <p>Сделать ссылкой непосредственно элемент-плитку <b>&lt;li&gt;</b> можно путем растягивания <b>&lt;a&gt;</b> на всю площадь родителя.</p>
    <p>Вначале хотел использовать селектор <b>.tile a</b>, но в таком случае абсолютно все ссылки растянутся.</p>
    <p>Чтобы сохранить возможность добавления, в рамках одно контейнера <b>.tile</b>, разных видов ссылок я добавил к &lt;a&gt; класс <b>.link_stretch</b>.</p>
  </section>
  {% set example_id = 'full-size-link' %}
  {% set numeration = false %}
  {% set split      = true %}
  {% set html       = true %}
  {% set njk        = false %}
  {% set css        = true %}
  {% set js         = false %}
  {% set demo       = 'full-size-link-demo.njk' %}
  {% include codeExample %}

{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}