{% extends "base.njk" %}

{% set document    = 'css' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>Справочник по CSS</title>
  <meta name="description" content="Мои заметки по использованию CSS." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Справочник по CSS</h1>

{% endblock %}