{% extends "base.njk" %}

{% set title       = 'Справочник по CSS' %}
{% set description = 'Мои заметки по стилизации в CSS' %}

{% set document    = 'css' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Справочник по CSS</h1>

{% endblock %}