{% include warning_rfc2068 %}

<h1>1.2. Требования</h1>
<p>Фразы в спецификации <b>RFC 2068</b>, используемые для определения требований к реализации протокола:</p>

<table class="no-border">
  <tr>
    <td><em class="must">MUST</em></td>
    <td>данное требование спецификации необходимо обеспечить в любом случае</td>
  </tr>
  <tr>
    <td><em class="should">SHOULD</em></td>
    <td>данное требование спецификации должно быть обеспечено, если этому не препятствуют серьезные причины</td>
  </tr>
  <tr>
    <td><em class="may">MAY</em></td>
    <td>данное требование спецификации является опциональным и может быть либо реализовано на свое усмотрение</td>
  </tr>
</table>

<h2>Резюме</h2>

<table>
    <tr>
        <td style="background: tomato; text-transform: uppercase;"><b>реализация несовместима</b></td>
        <td style="background: lightgreen; text-transform: uppercase;"><b>реализация полностью совместима</b></td>
    </tr>
    <tr>
        <td style="background: tomato; ">если нарушено хотя бы требование спецификации с пометкой <b>MUST</b></td>
        <td style="background: lightgreen;">если соблюдены все требования спецификации с пометкой <b>MUST</b> и <b>SHOULD</b></td>
    </tr>
</table>