.columns {
  display: grid;
  grid-gap: 10px;
}

.columns_two {
  grid-template-columns: 1fr 1fr;
}

.columns_three {
  grid-template-columns: 1fr 1fr 1fr;
}

.columns > section {
  background-color: #dadada;
  padding: 10px;
  margin: 0;
}