{% extends "base.njk" %}

{% set document    = 'aside' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'elements' %}
{% set subsegment  = 'aside' %}

{% block head %}
  <title>Элемент &lt;{{document}}&gt;</title>
  <meta name="description" content="Подробная информация об элементе &lt;{{document}}&gt;" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include highlight_item %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}