{% extends "base.njk" %}

{% set document    = 'meta' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'elements' %}
{% set subsegment  = 'meta' %}

{% block head %}
  <title>Элемент &lt;{{document}}&gt;</title>
  <meta name="description" content="Подробная информация об элементе &lt;{{document}}&gt;" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}