.tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  grid-gap: 10px;
  margin-block-start: 0; /* reset */
  margin-block-end: 0; /* reset */
  padding-inline-start: 0; /* reset */
  list-style-type: none; /* reset */
}


/* tire-fitting */
.tile[name='tire-fitting'] {
  grid-template-columns: repeat(3, 100px);
  align-self: center;
}

.MD .tile[name='tire-fitting'] {
  grid-template-columns: repeat(3, 250px);
}

.tile[name='tire-fitting'] > li {
  background: rgba(0, 0, 0, 0.5)
}

.tile[name='tire-fitting'] > li > a {
  color: white;
  font-size: 2em;
}