{% extends "base.njk" %}

{% set document    = 'attribute_selectors' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'selectors' %}
{% set subsegment  = 'attribute_selectors' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Селекторы по атрибуту</title>
  <meta name="description" content="Выбирают элементы по атрибуту" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}