{% extends "base.njk" %}

{% set file_name   = 'class_selectors' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'selectors' %}
{% set subsegment  = 'class_selectors' %}

{% block head %}
  <title>Селекторы по классу</title>
  <meta name="description" content="Выбирают элементы по классу" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include selectors_style %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}