{% extends "base.njk" %}

{% set document    = 'type_selectors' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'selectors' %}
{% set subsegment  = 'type_selectors' %}

{% block head %}
  <title>Селекторы по типу</title>
  <meta name="description" content="CSS селекторы по типу выбирают элементы по имени узла" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}