{% extends "base.njk" %}

{% set title       = 'Универсальные селекторы' %}
{% set description = 'Особый вид селекторов' %}

{% set document    = 'universal_selectors' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'selectors' %}
{% set subsegment  = 'universal_selectors' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}