<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></li>
<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/types#bulevyy-logicheskiy-tip">Булевый (логический) тип</a></li>
<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/logical-operators">Логические операторы</a></li>