<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/types#bulevyy-logicheskiy-tip">Булевый (логический) тип</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/logical-operators">Логические операторы</a>