<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/object">Объекты</a>
<a data-icon="quiz-typeofnan" href="https://quiz.typeofnan.dev/deep-object-mutability/">Deep Object Mutability</a>