<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></li>
<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/object">Объекты</a></li>
<li>{% include quiz_typeofnan_dev %}<a target="_blank" href="https://quiz.typeofnan.dev/deep-object-mutability/">Deep Object Mutability</a></li>