<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Symbol">Symbol</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/symbol">Тип данных Symbol</a>