/* контейнер */
ul[class='tile'] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  grid-gap: 5px; /* расстояние между элементами */
  margin-block-start: 0; /* default - 1em */
  margin-block-end: 0; /* default - 1em */
  padding-inline-start: 0; /* default - 40px */
  list-style-type: none; /* default - disc */
}

/* элементы */
ul[class='tile'] > li {
  position: relative;
  padding-bottom: 100%; /* делает элементы строго квадратными */
  background: darkgray;
}

ul[class='tile'] > li > a {
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 40%;
  transition: 0.5s;
  cursor: pointer;
}

ul[class='tile'] > li > a:hover {
  background: wheat;
}