  <ul class="tile">
    <li>текст</li>
    <li><p>текст</p></li>
    <li><a href="#">ссылка</a></li>
    <li><a href="#" class="link_stretch">ссылка</a></li>
    <li>
      <a href="#" class="link_stretch">ссылка</a>
      <p>текст</p>
    </li>
  </ul>