<ul class="tile">
  <li><a href="#">.com</a>
  <li><a href="#">.dev</a>
  <li><a href="#">.org</a>
  <li><a href="#">.biz</a>
  <li><a href="#">.info</a>
  <li><a href="#">.net</a>
  <li><a href="#">.ru</a>
  <li><a href="#">.au</a>
</ul>