  <ul class="tile">
    <li>text</li>
    <li><a href="#">link</a></li>
    <li><a href="#" class="link_stretch">link_stretch</a></li>
    <li>
      <a href="#" class="link_stretch"></a>
      <p>text</p>
      <p>text</p>
      <p>text</p>
    </li>
  </ul>