<ul class="tile tile_flip">

  <li>
    <a href="#">.com</a>
  </li>

  <li>
    <div>
      <a href="#">.dev</a>
      <p>qqqqqqqqqqqqqqqqqqqq</p>
    </div>
  </li>

  <li>
    <div class="front">
      <a href="#">.org</a>
      <p>01234567890123456789</p>
    </div>
    <div class="back">
      <p>back side</p>
      <button>кнопка</button>
    </div>
  </li>

  <li>
    <a href="#">.biz</a>
  </li>

  <li>
    <a href="#">.info</a>
  </li>

  <li>
    <a href="#">.net</a>
  </li>

  <li>
    <a href="#">.ru</a>
  </li>

  <li>
    <a href="#">.au</a>
  </li>

</ul>