.tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  grid-gap: 10px;
  margin-block-start: 0; /* reset */
  margin-block-end: 0; /* reset */
  padding-inline-start: 0; /* reset */
  list-style-type: none; /* reset */
}