<ul class="tile">
  <li>
    <a href="#">.com</a>
  </li>
  <li>
    <a href="#">.dev</a>
  </li>
  <li>
    <a href="#">.org</a>
  </li>
  <li>
    <a href="#">.biz</a>
  </li>
  <li>
    <a href="#">.info</a>
  </li>
  <li>
    <a href="#">.net</a>
  </li>
  <li>
    <a href="#">.ru</a>
  </li>
  <li>
    <a href="#">.au</a>
  </li>
</ul>