.tile > li {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 100%;
  background: #eee;
  outline: 1px solid #dadada;
}

.tile > li > p,
.tile > li > a {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}