{% extends "base.njk" %}

{% set document    = '' %}
{% set category    = 'docs' %}
{% set subcategory = 'nunjucks' %}
{% set segment     = 'templates' %}
{% set subsegment  = 'code-example' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Все необходимое для вывода примеров html, js, css и других примеров кода." />
  <script src="{{split_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>codeExample - TEST</h1>


    <section>
      <h4>Code (with line numbering)</h4>
      {% set example_id = 'example1' %}
      {% set numeration = true %}
      {% set split      = false %}
      {% set html       = false %}
      {% set njk        = false %}
      {% set css        = false %}
      {% set js         = true %}
      {% set demo       = false %}
      {% include codeExample %}
    </section>
    
    {#
    <section>
      <h4>Код (без нумерациии строк)</h4>
      {% set example_id = 'example2' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = false %}
      {% set njk        = false %}
      {% set css        = false %}
      {% set js         = true %}
      {% set demo       = false %}
      {% include codeExample %}
    </section>
    #}

  
  {#

    <section>
      <h4>Код (с нумерацией строк) + Toolbar</h4>
      {% set example_id = 'example3' %}
      {% set numeration = true %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = true %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example3-demo.njk' %}
      {% include codeExample %}
    </section>

    <section>
      <h4>Код (без нумерациии строк) + Toolbar</h4>
      {% set example_id = 'example4' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = true %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example4-demo.njk' %}
      {% include codeExample %}
    </section>


    <section>
      <h4>Код (с нумерацией строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example5' %}
      {% set numeration = true %}
      {% set split      = true %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example5-demo.njk' %}
      {% include codeExample %}
    </section>

    <section>
      <h4>Код (без нумерации строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example6' %}
      {% set numeration = false %}
      {% set split      = true %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = false %}
      {% set demo       = 'example6-demo.njk' %}
      {% include codeExample %}
    </section>

  #}

  {#
  <h2>Список нерешенных задач:</h2>
  <ol>
    <li>* на iPad класс .code отображается криво</li>
    <li>** можно создать только один split-блок на странице (причина: в файле split_init аргументами функции Split являются идентификаторы '#box-1', '#box-2', '#box-3'). Когда на странице появляется второй split блок - то идентификаторы дублируются.</li>
  </ol>
  #}


{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}