{% extends "base.njk" %}

{# variables #}
{% set title           = 'codeExample (описание)' %}
{% set category        = 'docs' %}
{% set subcategory     = 'nunjucks' %}
{% set segment         = 'мои шаблоны' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/nunjucks/templates/code-example/' %}

{# <head> #}
{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Все необходимое для вывода примеров html, js, css и других примеров кода." />
  <link rel="stylesheet" href="/beta.min.css">
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{# <body> #}
{% block main %}

  <h1>codeExample</h1>
  <p>Шаблон для демонстрации html, js, css и прочих примеров кода.</p>
  <a href="code-example-test.html">ТЕСТЫ</a>

  <section>
    <h4></h4>
    {% set example_id = 'code_example' %}
    {% set numeration = true %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = true %}
    {% set css        = true  %}
    {% set js         = false %}
    {% set demo       = 'code_example_demo.njk'  %}
    {% include codeExample %}
  </section>

{% endblock %}