<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/array-methods#filter">Метод filter()</a></li>
<li>{% include medium_icon %}<a target="_blank" href="https://medium.com/@stasonmars/%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%BE-%D0%BF%D1%80%D0%BE-%D0%BC%D0%B5%D1%82%D0%BE%D0%B4-filter-%D0%B2-javascript-1fcb239a0d74">Подробно про метод filter() в JavaScript</a></li>