<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze">Object.freeze()</a></li>
<li>{% include basicweb_icon %}<a href="https://basicweb.ru/javascript/js_object_freeze.php">JavaScript метод freeze()</a></li>