<a data-icon="habr" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze">Object.freeze()</a>
<a data-icon="basicweb" href="https://basicweb.ru/javascript/js_object_freeze.php">Object.freeze()</a>