<a data-icon="mdn" href="https://learn.javascript.ru/array-methods#sort-fn">Метод sort()</a>
<a data-icon="learn-js" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">Array.prototype.sort()</a>
<a data-icon="quiz-typeofnan" href="https://quiz.typeofnan.dev/array-sort-comparison/">Array Sort Comparison</a>