<li>{% include learn_javascript_icon %}<a href="https://learn.javascript.ru/array-methods#sort-fn">Метод sort()</a></li>
<li>{% include mdn_icon %}<a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">Array.prototype.sort()</a></li>
<li>{% include no_icon %}<a href="https://quiz.typeofnan.dev/array-sort-comparison/">Array Sort Comparison</a></li>