{% extends "base.njk" %}

{# variables #}
{% set title           = 'lists' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'css' %}
{% set segment_del     = 'delete' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам #}
{% set example_dir    = 'examples/css/lists/list_tile/' %}

{# ===================================== #}

{% block head %}
  <title>Tiled list options</title>
  <meta name="description" content="Примеры оформления списков с помощью CSS и БЭМ." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
  <style>
  /* только для этой страницы */
  .wrapper_grid {
    display: grid;
  }

  .XL > .wrapper_grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .wrapper_grid > section {
    padding: 0 1em 5px 1em;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .XL > .wrapper_grid > section {
    margin-left: 0;
    margin-right: 0;
  }
  </style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>list_tile</h1>
  <p>Примеры оформления списков с помощью CSS и БЭМ.</p>

  <div class="wrapper_grid">

   <section>
      <h2>Только ссылка</h2>
      <p>Плитка содержит только ссылку, которая растягивается на всю плющадь родителя.</p>
      <ol>
        <li>
          <span>Размер шрифта увеличивается вместе с плиткой;</span>
          <details>
            <summary>как я это сделал?</summary>
            <div>
              <p>Изначально я хотел чтобы при увеличении квадратов, шрифт увеличивался плавно.</p>
              <b>Что-то похожее на это:</b>
              <br><small>ширина родителя: <b>100px</b> (min-width)</small>
              <br><small>ширина родителя: <b>113.6px</b> (увеличенная ширина при ресайзе)</small>
              <br><small>остаток: <b>13.6px</b> (на столько пикселей увеличилась ширина)</small>
              <br><small>font-size: calc( 1em + остаток) /* получился font-size: 29.6px (дефолтные 16px(1em) + 13.6) */</small>
              <p>Подумать над этим позже...</p>
              <br><br><b>Пока что я сделал вот так:</b>
              <br><small>Шрифт меняется прерывисто на брекпоинтах <b>width: 150px</b> и <b>width: 200px</b></small>
              <br><small>1) в теге &lt;li&gt; я задал 2 брекпоинта C2 и С3: <b>data-breakpoints='{"C2":150,"C3":200}'</b> (числа это пиксели)</small>
              <br><small>2) в CSS для этих брекпоинтов я задал стили:</small>
              <br><br><small>.C2 > a { font-size: 1.5em; }</small>
              <br><small>.C3 > a { font-size: 2em; }</small>
              <br>
              <p>P.S. актуально если используется <b>auto-fit</b> при построении колонок</p>
              
            </div>
          </details>
        </li>
      </ol>
      {% set example_id = 'list_tile_with_link' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = false %}
      {% set demo       = 'list_tile_with_link-demo.njk' %}
      {% include codeExample %}
    </section>

    <section>
      <h2>Ссылка + текст</h2>
      {% set example_id = 'list_tile_link_and_text' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = false %}
      {% set demo       = 'list_tile_link_and_text-demo.njk' %}
      {% include codeExample %}
    </section>

  </div>
 
{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}