<h1>Объявление функций</h1>
<p>Здесь я попытаюсь понять какие бывают способы объявления функций, когда лучше использовать тот или иной способ, а так-же прочие тонкости.</p>

<section>
  <h2>Способы объявления</h2>

  <ul class="cards">
    <li>{% include 'content/docs/javascript/functions/definition/method_1.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_2.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_3.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_4.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_5.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_6.njk' %}</li>
    <li>{% include 'content/docs/javascript/functions/definition/method_7.njk' %}</li>
  </ul>

</section>


<section id="function-definition">
  <h2>Function definition</h2>
  <p>через ключевое слово 'function'</p>
  {% set example_id  = 'function_definition' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
  <p>При вызове функции <em>funcName()</em>, значения в скобках копируются в локальную переменную <em>arg</em>, затем используются в теле функции.</p>
</section>

<section id="function-expression">
  <h2>Function expressions</h2>
  <p>в виде выражения</p>
  {% set example_id  = 'function_expression' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
</section>