{# стили для таблиц с селекторами #}
{# чтобы не захламлять внешний css #}
.selectors {
  margin: 20px;
}

.selectors > a:hover {
  background: yellow;
}

.selectors > table td:first-child {
  background: wheat;
  width: 15px;
}
.selectors > table td:nth-child(2) {
  width: 200px;
}