<h4>This is DEMO (example-5)</h4>
<p>Demo с возможностью управлять шириной контейнера</p>
<p>Специально для демонстрации <a href="https://philipwalton.github.io/responsive-components/">Responsive компонентов</a></p>