<h1>Веб-инспектор Google Chrome</h1>

<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://habr.com/ru/post/143767/">Вся правда о Chrome (и не только) Web Inspector. Часть 1</a></li>
  </ul>
</section>