{% extends "base.njk" %}

{% set document    = 'nunjucks' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegmen   = '' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>{{ category | capitalize }} - {{ title | capitalize }}</title>
  <meta name="description" content="Полезная информация по использованию шаблонизатора Nunjucks" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1 class="{{ title_class }}">Справочник по Nunjucks</h1>
  <p>Полезная информация по использованию шаблонизатора Nunjucks</p>
  {% include 'parts/navigation/nunjucks_list.njk' %}

{% endblock %}