{% extends "base.njk" %}

{# variables #}
{% set title           = 'codeExecution' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'nunjucks' %}
{% set segment         = 'мои шаблоны' %}
{% set subsegment_del  = 'delete' %}

{# <head> #}
{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Запуск примеров кода в блоке, имитированном под окно браузера." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{# <body> #}
{% block main %}

  <h1>Имитация окна браузера</h1>
  <p>Запуск примеров кода в блоке, имитированном под окно браузера.</p>

{% endblock %}