.breadcrumbs {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, max-content);
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  list-style: none;
  padding-left: 5px;
  font-size: 0.8em;
  color: whitesmoke;
}

.breadcrumbs li > a {
  display: inline-block;
  padding-right: 3px;
  color: whitesmoke;
  font-size: 14px;
}

.breadcrumbs li > span {
  color: whitesmoke;
  font-size: 14px;
  padding-right: 15px;
}

.breadcrumbs li:first-child > a {
  background-image: url(img/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
  width: 15px;
  height: 15px;
  color: transparent;
  box-sizing: border-box;
}

.breadcrumbs li:after {
  display: inline-block;
  width: 10px;
  content: "/";
}

.breadcrumbs li:last-child:after {
  content: none;
}