{% extends "base.njk" %}

{% set file_name   = 'theme3' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'basics_computer_networking' %}
{% set subsegment  = 'theme3' %}

{% block head %}
  <title>Протоколы нижних уровней (транспортного, сетевого и канального)</title>
  <meta name="description" content="Подробно о протоколах нижнего уровня" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}