{% extends "base.njk" %}

{% set file_name   = 'theme2' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'basics_computer_networking' %}
{% set subsegment  = 'theme2' %}

{% block head %}
  <title>Протоколы верхнего уровня</title>
  <meta name="description" content="Подробно о протоколах верхнего уровня" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}