{% extends "base.njk" %}

{% set document    = 'theme7' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'basics_computer_networking' %}
{% set subsegment  = 'theme7' %}

{% block head %}
  <title>Протокол связующего дерева: STP</title>
  <meta name="description" content="Что такое протакол STP" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}