{% extends "base.njk" %}

{% set document    = 'theme4' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'basics_computer_networking' %}
{% set subsegment  = 'theme4' %}

{% block head %}
  <title>Сетевые устройства и виды применяемых кабелей</title>
  <meta name="description" content="Подробно о сетевых истройствах и проводах" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}