<h1>&lt;{{document}}&gt;</h1>

Типичный путь человека в интернете: просмотр страницы, переход по ссылке, загрузка новой страницы. 
На сайтах-одностраничниках этапа загрузки новой страницы нет — все изменения происходят на единственной странице приложения. 
<br><br>
Всё ради того, чтобы пользователь как можно быстрее увидел контент.
А что если бы можно было загрузить новую страницу ещё до того, как человек перейдёт по ссылке? 
<br><br>
Есть 2 инструмента, которые могут помочь в этом:
<br><br>
quicklink  — ищет на странице видимые ссылки и, если браузер в данный момент не занят какими-то тяжеловесными операциями, подгружает страницы, на которые эти ссылки ведут: <a href="https://github.com/GoogleChromeLabs/quicklink">https://github.com/GoogleChromeLabs/quicklink</a>
<br><br>
instant.pаgе — если пользователь наводит курсор мыши на ссылку и держит его там 65 мс, то страница, на которую ведёт ссылка, подгружается: <a href="https://instant.page/2">https://instant.page/2</a>