<h1>&lt;{{file_name}}&gt;</h1>
<p>Применяется для статей сайта, сообщений блога и форума, комментариев.</p>
{% set example_id  = 'article' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}

<p>Элемент &lt;article&gt; обязательно должен содержать &lt;h1&gt;, &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; &lt;h5&gt; или &lt;h6&gt;</p>