<h1>&lt;{{document}}&gt;</h1>
<p>Для боковых панелей, рекламных блоков, элементов навигации</p>
{% set example_id  = 'aside' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}