<h1>&lt;{{file_name}}&gt;</h1>
<p>Внутри &lt;body&gt; находится весь контент, отображаемый в окне браузера.</p>
{% set example_id  = 'body' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}

<p>Элементы &lt;head&gt; и &lt;body&gt; располагаются на одном уровне.</p>