<h1>Список элементов (тегов)</h1>

<table class="table_html-tag">
  <caption>Основные элементы</caption>
  <tr>
    <td>html</td>
    <td>корневой элемент</td>
  </tr>
  <tr>
    <td>body</td>
    <td>тело документа</td>
  </tr>
</table>

<table class="table_html-tag">
  <caption>Метаданные документа</caption>
  <tr>
    <td class="tip" data-tip-text="#">head</td>
    <td>контейнер для: base, link, meta, style и title</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">base</td>
    <td>базовый URL</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">link</td>
    <td>подключение внешних ресурсов</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">meta</td>
    <td>метаданные для поисковиков</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">style</td>
    <td>стили CSS в теле документа</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">title</td>
    <td>заголовок страницы</td>
  </tr>
</table>

<table class="table_html-tag">
  <caption>Секционирование контента</caption>
  <tr>
    <td class="tip" data-tip-text="#">address</td>
    <td>контактные данные для article или body</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">article</td>
    <td>применяется для статей, сообщений блога и комментариев</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">aside</td>
    <td>боковая панель</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">footer</td>
    <td>футер</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">header</td>
    <td>шапка</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">h1, h2, h3, h4, h5, h6</td>
    <td>заголовки</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">hgroup</td>
    <td>группа заголовков</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">main</td>
    <td>основной контент</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">nav</td>
    <td>навигация</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">section</td>
    <td>секция чего либо</td>
  </tr>
</table>

<table class="table_html-tag">
  <caption>Семантика контента</caption>
  <tr>
    <td class="tip" data-tip-text="#">a</td>
    <td>ссылка</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">abbr</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">b</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">bdi</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">bdo</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">br</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">blockquote</td>
    <td>цитата</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="от англ. cite — цитировать">cite</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">code</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">dd</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">dir</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">div</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="Description List">dl</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">dt</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">data</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">dfn</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">em</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">i</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">kbd</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">mark</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">q</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">rb</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">rp</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">rt</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">rtc</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">ruby</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">s</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">samp</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">small</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">span</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">strong</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">sub</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">sup</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">time</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">tt</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">u</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">var</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">wbr</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">figcaption</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">figure</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">hr</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">li</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">ol</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">ul</td>
    <td>-</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">p</td>
    <td>абзац</td>
  </tr>
  <tr>
    <td class="tip" data-tip-text="#">pre</td>
    <td>-</td>
  </tr>
</table>