<h1>&lt;{{file_name}}&gt;</h1>
<p>Подвал (нижний колонтикул) сайта или раздела веб-страницы</p>
{% set example_id = 'footer' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = true %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = false %}
{% set demo       = false %}
{% include codeExample %}