<h1>&lt;{{document}}&gt;</h1>
<p>Задает метаданные для веб-страницы, предназначенные для браузеров и поисковых систем</p>
{% set example_id  = 'meta' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}