{% extends "base.njk" %}

{% set title       = 'Work-1' %}
{% set description = 'Work-1' %}

{% set document    = 'work1' %}
{% set category    = 'portfolio' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{# block main %}{% include content %}{% endblock #}