<h1>object</h1>
{% set example_id  = 'object_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

<section>
  <h2>Deep Object Mutability</h2>
  {% set example_id  = 'deep_object_mutability' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
  
  <small>JavaScript knowledge quizzes by <a href="https://quiz.typeofnan.dev/deep-object-mutability/">Nick Scialli</a></small>
  <h3><em class="tip tip_red" data-tip-text="пока не понятно почему результат 'Daffodil' ">&#10007;</em> Объяснение</h3>
  <p><em><a href="methods/freeze.html">Object.freeze</a></em> выполнит поверхностное замораживание объекта, но не защитит глубокие свойства от изменения. В этом примере мы не сможем мутировать <em>user.age</em>, но у нас нет проблем с мутированием <em>user.pet.name</em>. Если мы чувствуем, что нам нужно защитить объект от мутации "полностью вниз", мы можем рекурсивно применить <em>Object.freeze</em> или использовать существующую библиотеку "deep freeze".</p>
</section>