details > summary {
  width: fit-content;  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
  outline-style: none;  /* удалить обводку при фокусе */
  cursor: pointer;
  color: blue;
  line-height: 30px;
}

details > ul {
  padding-inline-start: 0;
} 

details li {
  background: #eee;
  margin-bottom: 5px;
  padding: 5px 10px;
  list-style-type: none;
}

details li em {
  float: right;
}

details > div {
  margin-top: 10px;
  background: wheat;
  padding: 10px 25px;
}

/* нестандартный псевдоэлемент Google Chrome */
details > summary::-webkit-details-marker { 
  display: none;
}