table {
  /*width: calc(100% + var(--main_padding-right));*/ /* не трогать */
  width: 100%;
  border-collapse: collapse; /* не трогать */
  /*margin: 5px 0 40px -10px;*/ /* не трогать */
  font-size: 0.9em;
  margin: 10px 0 30px 0;
}

table caption {
  text-align: left;
  text-indent: 10px;
  font-weight: bold;
  line-height: 2em;
  background: black;
  color: white;
}

table[name="code"] td {
  width: 50%;
  border: 1px solid white;
  padding: 5px 20px 5px 10px;
  background: #2d2d2d;
  color: white;
}

table td > pre {
  margin-top: -5px; /* переопределение padding <td> */
  margin-right: -20px; /* переопределение padding <td> */
  margin-bottom: -5px; /* переопределение padding <td> */
  margin-left: -10px; /* переопределение padding <td> */
  padding: 15px;
}