table {
  width: calc(100% + var(--main_padding-right)); /* не трогать */
  border-collapse: collapse; /* не трогать */
  /*margin: 5px 0 40px -10px;*/ /* не трогать */
  font-size: 0.9em;
}

table caption {
  text-align: left;
  text-indent: 10px;
  font-weight: bold;
  line-height: 2em;
}

table td {
  border: 1px solid #eee;
  padding: 5px 20px 5px 10px;
}

table td:first-child {
  padding: 5px 10px;
  background: wheat;
}