{% extends "base.njk" %}

{# variables #}
{% set title = 'about me' %}

{# ===================================== #}

{% block head %}
  <title>Yuri Fedorov - {{ title | capitalize }}</title>
  <meta name="description" content="Я люблю создавать красивые и удобные сайты для людей" />
{% endblock %}

{% block main %}

  <h1>{{title | capitalize }}</h1>
  <p>Я люблю создавать красивые и удобные сайты для людей</p>
  <p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Свой текстами последний власти рукопись осталось запятой предупреждал возвращайся рекламных скатился свою? Снова сбить над, путь пунктуация всемогущая злых ведущими?</p>

{% endblock %}