{% extends "base.njk" %}

{% set document    = 'about' %}
{% set category    = '' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% block head %}
  <title>About me</title>
  <meta name="description" content="About me" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{# include content #}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}