{% extends "base.njk" %}

{% block head %}
  <title>My personal notes of web development</title>
  <meta name="description" content="Веб-разработчик из Санкт-Петербурга" />
{% endblock %}

{% block main %}

  <section class="banner" name="hero">
    <h1>Yuri Fedorov</h1>
    <p>Not a web developer yet, but I'll be one soon</p>
  </section>

  <p>content.</p>
  
{% endblock %}