{% extends "base.njk" %}

{# variables #}
{% set title        = 'проблемы' %} {# Заголовок #}
{% set category     = 'docs' %} {# категория #}
{% set subcategory  = 'инструменты' %} {# подкатегория #}
{% set segment_del  = 'delete' %} {# подкатегория #}
{% set path = '../' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/nunjucks/issues/issue-1/' %}

{# <head> #}
{% block head %}
  <title>Не возможно задать имя массива через переменную</title>
  <meta name="description" content="Неприятные ситуации в процессе работы с шаблонизатором Nunjucks" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{# <body> #}
{% block main %}

  <h1>задать имя массива через переменную</h1>
  <p>Если сделать так, как я описал - то будет ошибка "Template render error"</p>

  <section>
    <h2>Шаблон блока tile</h2>
    <p>хочу задать массив docs через переменную - вот так { { array } } и чтобы на это место подставилось нужное значение.</p>
    {# example1 #}
    {% set example_id = 'example1' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = true %}
    {% set css        = false %}
    {% set js         = false %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>

  <section>
    <h2>Страница, где будет блок tile</h2>
    <p>генерация будет на основе data.json, поэтому хотелось бы просто указать имя массива и ниже вставить блок (всего 2 строки).</p>
    {# example2 #}
    {% set example_id = 'example2' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = true %}
    {% set css        = false %}
    {% set js         = false %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>

  <section>
    <h2>Собственно data.json</h2>
    <p>Пример массива.</p>
    {# example2 #}
    {% set example_id = 'example3' %}
    {% set numeration = false %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = true %}
    {% set css        = false %}
    {% set js         = false %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>

{% endblock %}