{% extends "base.njk" %}

{% set document    = 'conventions_and_grammar' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'http' %}
{% set subsegment  = 'conventions_and_grammar' %}

{% block head %}
  <title>2. Письменные соглашения и обобщенная грамматика</title>
  <meta name="description" content="Запись Бекуса-Наура (BNF) и основные правила" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}