{% extends "base.njk" %}

{% set document    = 'http_version' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'http' %}
{% set subsegment  = 'http_version' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>3.1. Версия HTTP</title>
  <meta name="description" content="Подробно о версиях HTTP" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}