{% extends "base.njk" %}

{% set document    = 'purpose' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'http' %}
{% set subsegment  = 'purpose' %}

{% block head %}
  <title>1.1. Цель</title>
  <meta name="description" content="Цель спецификации RFC 2068" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}