{% extends "base.njk" %}

{% set document    = 'status_code_definitions' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'http' %}
{% set subsegment  = 'status_code_definitions' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>10. Описания кодов состояния</title>
  <meta name="description" content="Описание кодов ответа сервера" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}