{% extends "base.njk" %}

{% set document    = 'terminology' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = 'http' %}
{% set subsegment  = 'terminology' %}

{% block head %}
  <title>1.3. Терминология</title>
  <meta name="description" content="Терминология HTTP" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}