{% extends "base.njk" %}

{% set document    = 'symbol' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'global_objects' %}
{% set subsegment  = 'symbol' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Тип symbol в JavaScript</title>
  <meta name="description" content="Подробно о типе symbol в JavaScript" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}