{% extends "base.njk" %}

{% set title       = 'Селекторы по атрибуту' %}
{% set description = 'Выбирают элементы по атрибуту' %}

{% set document    = 'attribute_selectors' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'selectors' %}
{% set subsegment  = 'attribute_selectors' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}