{% extends "base.njk" %}

{% set title       = 'Мои закладки' %}
{% set description = 'Полезная информация, которую необходимо изучить' %}

{% set document    = 'bookmarks' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Мои закладки</h1>
  {% include 'parts/navigation/bookmarks.njk' %}

{% endblock %}