<h1>&lt;{{document}}&gt;</h1>
<p>Устанавливает связь с внешними файлами: css, fonts, icons</p>
{% set example_id  = 'link' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}