{% extends "base.njk" %}

{% set file_name   = 'statements' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'statements' %}
{% set subsegment  = '' %}

{% block head %}
  <title>Инструкции в JavaScript</title>
  <meta name="description" content="Список инструкций в JavaScript." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Инструкции в JavaScript</h1>

  <section class="content">
    <input type="search" placeholder='поиск не работает'>
    <button>Найти</button>
  </section>

{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}