{% extends "base.njk" %}

{% set document    = 'switch' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'statements' %}
{% set subsegment  = 'switch' %}

{% block head %}
  <title>Конструкция switch в JavaScript</title>
  <meta name="description" content="Конструкция включает в себя один или несколько блоков case и необезательный блок default" />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include highlight_item %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}


{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}