{% extends "base.njk" %}

{% set document    = 'switch' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'statements' %}
{% set subsegment  = 'switch' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Конструкция switch в JavaScript</title>
  <meta name="description" content="Конструкция включает в себя один или несколько блоков case и необезательный блок default" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}