<h1>{{file_name | capitalize }}</h1>
<p>Оператор прибавляет к значению левого операнда значение правого.</p>

{% set example_id = 'addition_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<table>
  <tr>
    <td>4</td>
    <td>к значению левого операнда <b>x</b> прибавилось значение <b>y</b>, результат присвоился переменной <b>x</b> (2 + 2 = 4).</td>
  </tr>
</table>