<h1>{{file_name | capitalize }}</h1>
<p>Оператор 'побитовое исключающее ИЛИ'</p>

{% set example_id = 'bitwise_xor' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}