<p>Оператор 'побитового И'</p>

{% set example_id = 'bitwise_and' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}