<p>Оператор использует двоичное представление обоих операндов, выполняет над ними побитовую операцию AND, затем присваивает результат переменной.</p>

{% set example_id = 'bitwise_and_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}