<h2>{{ file_name | capitalize }}</h2>
<p>Позволяет перечислять выражения, разделяя их запятой.</p>

{% set example_id = 'comma' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<p>Каждое из них вычисляется и отбрасывается, за исключением последнего, которое возвращается.</p>
<b>Запятая имеет самый низкий приоритет [ 1 ]</b>