<p>Единственный оператор в JavaScript, который принимает три операнда.</p>

{% set example_id = 'conditional_operator' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<section>
  <h2>For example</h2>
  <p>Проверяется условие: если <b>x == 4,</b> значит <b>true</b> (ответ правильный), иначе <b>false</b>.</p>
  {% set example_id = 'conditional_operator_example' %}
  {% set numeration = true %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
</section>