<p>Уменьшает значение на 1, существуют два вида декремента и действуют они по-разному.</p>

<section>
  <h2>Postfix decrement</h2>
  <p>Уменьшает значение на 1, но при этом возвращает старое значение.</p>
  {% set example_id = 'postfix_decrement' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>1</td>
      <td>значение <b>i</b> уменьшилось на 1 и сохранилось в <b>a</b> , а вывелось старое</td>
    </tr>
    <tr>
      <td>2</td>
      <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно уменьшилось</td>
    </tr>
  </table>
</section>

<section>
  <h2>Prefix decrement</h2>
  <p>Уменьшает значение на 1 и возвращает новое значение.</p>
  {% set example_id = 'prefix_decrement' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>2</td>
      <td>значение <b>i</b> уменьшилось на 1 и сохранилось в <b>a</b> , вывелось уже измененное</td>
    </tr>
    <tr>
      <td>2</td>
      <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно уменьшилось</td>
    </tr>
  </table>
</section>