<p>Оператор <em>**</em> возвращает результат первого операнда в степень.</p>

{% set example_id = 'exponentiation' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}