<p>Оператор <em>===</em> возвращает true, если операнды строго равны. В отличии от обычного оператора <em>==</em>, он не не приводит операнды к одному типу.</p>

{% set example_id = 'identity' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>true</td>
    <td>обычный оператор <b>равно</b> привел операнды к одному типу и сравнил (1 равен 1)</td>
  </tr>
  <tr>
    <td>false</td>
    <td>оператор <b>строгое равно</b> не приводит операнды к одному типу, поэтому false (число 1 не равно строке '1')</td>
  </tr>
  <tr>
    <td>true</td>
    <td>число 1 равно числу 1</td>
  </tr>
</table>