<h2>{{ file_name | capitalize }}</h2>
<p>Увеличивает значение на 1, существуют два вида инкремента и действуют они по-разному.</p>

<section>
  <h3>Postfix increment</h3>
  <p>Увеличивает значение на 1, но при этом возвращает старое значение.</p>
  {% set example_id = 'postfix_increment' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>1</td>
      <td>значение <b>i</b> увелилось на 1 и сохранилось в <b>a</b> , а вывелось старое</td>
    </tr>
    <tr>
      <td>2</td>
      <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно увеличилось</td>
    </tr>
  </table>
</section>

<section>
  <h3>Prefix increment</h3>
  <p>Увеличивает значение на 1 и возвращает новое значение.</p>
  {% set example_id = 'prefix_increment' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>2</td>
      <td>значение <b>i</b> увелилось на 1 и сохранилось в <b>a</b> , вывелось уже измененное</td>
    </tr>
    <tr>
      <td>2</td>
      <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно увеличилось</td>
    </tr>
  </table>
</section>

<b>Инкремент/декремент можно применить только к переменной: 5++ даст ошибку.</b>