<p>Оператор <em>&lt;=</em>  возвращает <b>true</b>, если левый операнд меньше или равен правому операнду или <b>false</b> если наоборот.</p>

{% set example_id = 'less_than_or_equal' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>true</td>
    <td>потому что <b>5</b> меньше чем <b>10</b></td>
  </tr>
  <tr>
    <td>true</td>
    <td>потому что <b>10</b> равно <b>10</b></td>
  </tr>
  <tr>
    <td>false</td>
    <td>потому что <b>20</b> не меньше и не равен <b>10</b></td>
  </tr>
  <tr>
    <td>false</td>
    <td>потому что <b>11</b> не меньше и не равен <b>10</b></td>
  </tr>
</table>