<p>Оператор <b>меньше ( &lt; )</b>  возвращает <b>true</b>, если левый операнд меньше правого операнда или <b>false</b> если наоборот.</p>

{% set example_id = 'less_than' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>false</td>
    <td>потому что <b>5</b> не может быть меньше чем <b>1</b></td>
  </tr>
  <tr>
    <td>true</td>
    <td>потому что <b>1</b> меньше <b>5</b></td>
  </tr>
</table>