<p>Оператор логического И возвращает <b>true</b>, если оба аргумента истинны, а иначе – <b>false</b>.</p>

{% set example_id = 'logical_and' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<section>
<h2>For example</h2>
<p>Если ВСЕ аргументы <b>true</b>, то выводится сообщение 'success'.</p>
{% set example_id = 'logical_and_example' %}
{% set numeration = true %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
</section>