<h1>Умножение</h1>
<p>Оператор <em>*</em> возвращает произведение операндов.</p>

{% set example_id = 'multiplication' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>4</td>
    <td>произведение двух операндов <b>x</b> и <b>y</b> (2 * 2 = 4)</td>
  </tr>
</table>