<h2>{{ file_name | capitalize }}</h2>
<p>Оператор умножает переменную на значение правого операнда и присваивает результат переменной.</p>

{% set example_id = 'multiplication_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>20</td>
    <td>сначала значение левого операнда <b>x</b> умножилось на значение правого <b>y</b>, полученный результат присвоился <b>x</b></td>
  </tr>
</table>