<h1>{{file_name | capitalize }}</h1>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence">Таблица приоритетов MDN</a> <span>(где, 20 - высокий, 1 - низкий)</span>
