<p>Оператор делит переменную на значение правого операнда и присваивает остаток переменной.</p>

{% set example_id = 'remainder_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<table>
  <tr>
    <td>1</td>
    <td>сначала значение левого операнда <b>x</b> было поделено на значение правого <b>y</b> ( 10 / 3 = 9 ), остаток ( 1 ) присвоился <b>x</b></td>
  </tr>
</table>