<h2>{{ file_name | capitalize }}</h2>
<p>Оператор перемещает указанное количество битов вправо и присваивает результат переменной.</p>

{% set example_id = 'right_shift_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}