<h1>Вычитание (бинарный минус)</h1>
<p>Оператор <em>-</em> иначе называют "бинарный минус".</p>

{% set example_id  = 'subtraction' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}