<h2>{{ file_name | capitalize }}</h2>
<p>Оператор вычитания иначе называют "бинарный минус".</p>

{% set example_id  = 'subtraction' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}