<h2>{{ file_name | capitalize }}</h2>
<p>Оператор вычитает значение правого операнда из переменной и присваивает результат переменной.</p>

{% set example_id = 'subtraction_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<table>
  <tr>
    <td>50</td>
    <td>из левого операнда <b>x</b> вычли значение <b>y</b>, результат присвоился переменной <b>x</b>.</td>
  </tr>
</table>