<h2>{{ file_name | capitalize }}</h2>
<p>Применяется к одному операнду и меняет знак числа на противоположный.</p>

{% set example_id = 'unary_negation' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}

<p>Унарный минус конвертирует строку в число.</p>