{% extends "base.njk" %}

{% set document    = 'HTML заметки' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Identity operator in JavaScript</title>
  <meta name="description" content="Оператор возвращает true, если операнды строго равны. В отличии от обычного оператора 'равно', он не не приводит операнды к одному типу. " />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>HTML заметки</h1>
  <p>список заметок про html</p>

  <ol>
    <li><a href="blocks-placement">расположение блоков на странице</a>
    <li></li>
  </ol>

{% endblock %}