{% extends "base.njk" %}

{% set title       = 'test-page-3' %}
{% set description = 'test-page-3' %}

{% set document    = 'test-page-3' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'structural_blocks' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{# include aside_top #}{% endblock %}
{% block aside_left %}{# include aside_left #}{% endblock %}
{% block aside_right %}{# include aside_right #}{% endblock %}
{% block aside_bottom %}{# include aside_bottom #}{% endblock %}

{% block main %}{# include content #}{% endblock %}

