<a data-icon="learn-js" href="https://learn.javascript.ru/types">Типы данных</a>
<a data-icon="medium" href="https://medium.com/devschacht/javascript-typeof-43591ab15bef">Разбираемся в проверке JavaScript-типов с помощью typeof</a>
<a data-icon="habr" href="https://habr.com/ru/post/161205/">Ликбез по типизации в языках программирования</a>