<h1>Вопросы по JavaScript</h1>

<section>
  <h2>TypeOfNaN JavaScript Quizzes</h2>
  <nav class="nav_checklist">
    <a href="methods/sort.html#array-sort-comparison" data-completed>Array Sort Comparison</a>
    <a href="global_objects/set.html#set-of-objects" data-completed>A Set of Objects</a>
    <a href="global_objects/object.html#deep-object-mutability" data-completed>Deep Object Mutability</a>
    <a href="#" data-uncompleted>Prototypal Inheritance</a>
    <a href="#" data-uncompleted>Console Log Fetch</a>
    <a href="#" data-uncompleted>Promise.all Resolve Order</a>
    <a href="#" data-uncompleted>Reduce Math</a>
    <a href="#" data-uncompleted>Short-Circuit Notification(s)</a>
    <a href="#" data-uncompleted>Spread and Rename</a>
    <a href="#" data-uncompleted>Array Method Binding</a>
    <a href="#" data-uncompleted>Set Uniqueness and Ordering</a>
    <a href="#" data-uncompleted>IIFE, HOF, or Both</a>
    <a href="#" data-uncompleted>Array-to-Object Efficiency</a>
    <a href="#" data-uncompleted>Batman v. Superman</a>
    <a href="#" data-uncompleted>Object Keys, Object Values</a>
    <a href="#" data-uncompleted>Basic Recursion</a>
    <a href="#" data-uncompleted>Function Equality</a>
    <a href="#" data-uncompleted>Object Property Equality</a>
    <a href="#" data-uncompleted>Function Function Syntax</a>
    <a href="#" data-uncompleted>Object Property Mutation</a>
    <a href="#" data-uncompleted>Greatest Number in an Array</a>
    <a href="#" data-uncompleted>Function Argument Mutation</a>
    <a href="#" data-uncompleted>Map letters to numbers</a>
    <a href="#" data-uncompleted>Pass by Value</a>
    <a href="#" data-uncompleted>Hoisting</a>
    <a href="#" data-uncompleted>Event Scheduling</a>
    <a href="#" data-uncompleted>String Operations and Array Destructuring</a>
    <a href="#" data-uncompleted>Object Cloning (JSON.parse + JSON.stringify)</a>
    <a href="#" data-uncompleted>Object Cloning (JSON.parse + JSON.stringify) Comparison</a>
    <a href="#" data-uncompleted>Object Cloning (Object.assign) Comparison</a>
    <a href="#" data-uncompleted>Combining Different Types</a>
    <a href="#" data-uncompleted>Copying Arrays</a>
    <a href="#" data-uncompleted>Deleting Properties from an Object</a>
    <a href="#" data-uncompleted>Equality and Identity Operators</a>
    <a href="#" data-uncompleted>String Methods</a>
    <a href="#" data-uncompleted>The Walking Dead</a>
    <a href="#" data-uncompleted>Array Compare</a>
    <a href="#" data-uncompleted>Global Local</a>
    <a href="#" data-uncompleted>Console Log Constructors</a>
    <a href="#" data-uncompleted>Arrow Functions</a>
    <a href="#" data-uncompleted>Async/Await</a>
    <a href="#" data-uncompleted>Curly Q</a>
    <a href="#" data-uncompleted>Floating-Point Precision</a>
    <a href="#" data-uncompleted>Reduce Object</a>
    <a href="#" data-uncompleted>Off to the Races</a>
    <a href="#" data-uncompleted>Two Many Dots?</a>
    <a href="#" data-uncompleted>Operator Associativity</a>
    <a href="#" data-uncompleted>Using Array#flat</a>
  </nav>
</section>