<h1>Вопросы по JavaScript</h1>

<section>
  <h2>TypeOfNaN JavaScript Quizzes</h2>
  <nav>
    <a href="#">link-1</a>
    <a href="#">link-2</a>
    <a href="#">link-3</a>
    <a href="#">link-4</a>
    <a href="#">link-5</a>
  </nav>

</section>

<section>
  <h2>TypeOfNaN JavaScript Quizzes</h2>
  <ul class="list list_checklist">
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="methods/sort.html#array-sort-comparison">Array Sort Comparison</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="global_objects/set.html#set-of-objects">A Set of Objects</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="global_objects/object.html#deep-object-mutability">Deep Object Mutability</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">Prototypal Inheritance</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">Console Log Fetch</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">Promise.all Resolve Order</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
    <li><em class="tip tip_red" data-tip-text="пока не понятно">&#10007;</em> <a href="#">----------------</a></li>
  </ul>
</section>