<h1>Не равно</h1>
<p>Оператор возвращает true, если операнды не равны.</p>

{% set example_id = 'inequality' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>false</td>
    <td>5 равно 5</td>
  </tr>
  <tr>
    <td>false</td>
    <td>содержимое строк одинаковое</td>
  </tr>
  <tr>
    <td>true</td>
    <td>содержимое строк разное</td>
  </tr>
  <tr>
    <td>true</td>
    <td>5 не равно 4</td>
  </tr>
</table>