.code-example {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 табов равной ширины */
  grid-template-rows: auto auto max-content;
  grid-gap: 1px 2px;
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* чтобы не вмешиваться в оригинальные стили prism.js все переопределения я делаю в style.css */
/* это нужно для того, чтобы при скачивании новой конфигурации prism.js не приходилось каждый раз лезть в prism.css */

/* убрать margin у блока с кодом */
.code-example pre[class*=language-] {
  margin: 0;
  min-height: 30px; /* чтобы не появлялась вертикальная полоса прокрутки из-за кнопки[class='run-js'] */
  position: relative;
  font-size: 0.8em; /* немного уменьшил шрифт кода на маленьких экранах */
}

.MD > .code-example pre[class*=language-] {
  font-size: 1em;
}

/* изменить z-index у reviewer (иначе он не будет работать в codeExample) */
.prism-previewer {
  z-index: 2;
}

/* кнопка 'copy' видна всегда (в оригинале opacity: 0;)*/
div.code-toolbar > .toolbar {
  opacity: 1 !important;
}

.code-example label {
  background: black;
  color: white;
  padding: 7px 10px;
  text-align: left;
  height: 20px;
  cursor: pointer;
}

.code-example label:hover {
  background: silver;
  color: black;
}

/* скрыть инпуты */
.code-example input[name=button] {
  display: none;
  z-index: 99;
  grid-row: 2; /* не трогать */
}

/* позиция + стили для кнопки run-js */
.code-example .run-js {
  position: absolute;
  top: 25;
  right: .2em;
  padding: 5px 14px;
  box-sizing: border-box;
  background: white;
  color: black;
  opacity: 0.3;
  transition: 1s;
  border-radius: .5em;
  z-index: 99;
}

.code-example .run-js:after {
  content: '\0025B6'; /* play */
}

.code-example .run-js:hover{
  background: black;
  color: white;
  opacity: 1;
}



/* активная кнопка меняет цвет */
.code-example input[name=button]:checked + label {
  background: orange;
}

.code-example .code {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 3; /* не трогать */
  background:#2d2d2d; /* цвет из prism.js - #2d2d2d */
  overflow-x: auto;
  z-index: 0; /* не трогать */
  position: relative;
}

.code-example .demo {
  grid-column: 1 / -1;
  grid-row: 3; /* не трогать */
  overflow-x: auto;
  padding: 10px;
  background: white;
  border: 1px solid;
  z-index: 1;
}