<h1>{{file_name | capitalize }}</h1>
<p>Если хотя бы один аргумент <b>true</b>, то возвращается <b>true</b>, иначе <b>false</b> .</p>

{% set example_id = 'logical_or' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}


<h2>For example</h2>
<p>Если один из аргументов <b>true</b>, то выводится сообщение 'success'.</p>
{% set example_id = 'logical_or_example' %}
{% set numeration = true %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>b = '0'</td>
    <td>Если значение аргумента не логического типа (true или false), то в целях вычисления оно к нему приводится автоматически. <br><br> Число 1 воспринимается как <b>true</b>, число 0 <b>false</b>. </td>
  </tr>
</table>