{% extends "base.njk" %}

{# variables #}
{% set title           = 'codeExample (test)' %}
{% set category        = 'docs' %}
{% set subcategory     = 'nunjucks' %}
{% set segment         = 'мои шаблоны' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'parts/blocks-beta/code-example-beta/examples/' %}

{# <head> #}
{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Все необходимое для вывода примеров html, js, css и других примеров кода." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
  <style>
  /* только для этой страницы */
  .wrapper_grid {
    display: grid;
  }

  .XL > .wrapper_grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .wrapper_grid > section {
    background: #eee;
    padding: 0 1em 5px 1em;
    margin-top: 10px;
  }

  .wrapper_grid > section > h4 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .XL > .wrapper_grid > section {
    margin-left: 0;
    margin-right: 0;
  }
  </style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{# <body> #}
{% block main %}

  <h1>codeExample - ТЕСТЫ</h1>

  <div class="wrapper_grid">

    <section>
      <h4>Код (с нумерацией строк)</h4>
      {% set example_id = 'example1' %} {# требуется для работы кнопок checkbox/label #}
      {% set numeration = true %} {# true = включен / false = отключен #}
      {% set split      = false %} {# true = включеy / false = отключена #}
      {% set html       = false %} {# путь к примеру html #}
      {% set njk        = false %} {# путь к примеру njk #}
      {% set css        = false %} {# путь к примеру css #}
      {% set js         = true %} {# путь к примеру js #}
      {% set demo       = false %}
      {% include codeExample_beta %}
    </section>

    <section>
      <h4>Код (без нумерациии строк)</h4>
      {% set example_id = 'example2' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = false %}
      {% set njk        = false %}
      {% set css        = false %}
      {% set js         = true %}
      {% set demo       = false %}
      {% include codeExample_beta %}
    </section>

  </div>

  <div class="wrapper_grid">

    <section>
      <h4>Код (с нумерацией строк) + Toolbar</h4>
      {% set example_id = 'example3' %}
      {% set numeration = true %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = true %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example3-demo.njk' %}
      {% include codeExample_beta %}
    </section>

    <section>
      <h4>Код (без нумерациии строк) + Toolbar</h4>
      {% set example_id = 'example4' %}
      {% set numeration = false %}
      {% set split      = false %}
      {% set html       = true %}
      {% set njk        = true %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example4-demo.njk' %}
      {% include codeExample_beta %}
    </section>

  </div>

  <div class="wrapper_grid">

    <section>
      <h4>Код (с нумерацией строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example5' %}
      {% set numeration = true %}
      {% set split      = true %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = true %}
      {% set demo       = 'example5-demo.njk' %}
      {% include codeExample_beta %}
    </section>

    <section>
      <h4>Код (без нумерации строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example6' %}
      {% set numeration = false %}
      {% set split      = true %}
      {% set html       = true %}
      {% set njk        = false %}
      {% set css        = true %}
      {% set js         = false %}
      {% set demo       = 'example6-demo.njk' %}
      {% include codeExample_beta %}
    </section>

  </div>

  <br>
  <hr>

  <h2>Список нерешенных задач:</h2>
  <ol>
    <li>* на iPad класс .code отображается криво</li>
    <li>** можно создать только один split-блок на странице (причина: в файле split_init аргументами функции Split являются идентификаторы '#box-1', '#box-2', '#box-3'). Когда на странице появляется второй split блок - то идентификаторы дублируются.</li>
  </ol>



{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}