{% extends "base.njk" %}

{# variables #}
{% set title           = 'codeExample (test)' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'nunjucks' %}
{% set segment         = 'мои шаблоны' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set examples_dir    = 'parts/blocks-beta/code-example-beta/examples/' %}

{# <head> #}
{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Все необходимое для вывода примеров html, js, css и других примеров кода." />
  <link rel="stylesheet" href="/beta.min.css">
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <script src="{{split_js}}" async></script>
  <style>
  /* только для этой страницы */
  .wrapper_grid {
    display: grid;
  }

  .XXL > .wrapper_grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .wrapper_grid > section {
    background: #eee;
    padding: 0 1em 5px 1em;
  }
  </style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{# <body> #}
{% block main %}

  <h1>codeExample - ТЕСТЫ</h1>

  <div class="wrapper_grid">

    <section title="Демонстрация одного примера">
      <h4>Код (с нумерацией строк)</h4>
      {% set example_id = 'example1' %} {# требуется для работы кнопок checkbox/label #}
      {% set numeration = 'true' %} {# true = включена / '' (пустая строка) = отключена #}
      {% set split      = '' %} {# true = включен / '' (пустая строка) = отключен #}
      {% set html       = 'example1' %} {# путь к примеру html #}
      {% set njk        = '' %} {# путь к примеру njk #}
      {% set css        = '' %} {# путь к примеру css #}
      {% set js         = '' %} {# путь к примеру js #}
      {# путь js:         parts/blocks-beta/code-example-beta/examples/example1/javascript.js #}
      {% set demo       = '' %}
      {% include codeExample_beta %}
    </section>

    <section title="Демонстрация одного примера">
      <h4>Код (без нумерациии строк)</h4>
      {% set example_id = 'example2' %}
      {% set numeration = '' %}
      {% set split      = '' %}
      {% set html       = 'example2' %}
      {% set njk        = '' %}
      {% set css        = '' %}
      {% set js         = '' %}
      {% set demo       = '' %}
      {% include codeExample_beta %}
    </section>

  </div>

  <div class="wrapper_grid">

    <section title="Демонстрация нескольких примеров (html + js + css и т.д.). Возможен запуск JS скриптов.">
      <h4>Код (с нумерацией строк) + Toolbar</h4>
      {% set example_id = 'example3' %}
      {% set numeration = 'true' %}
      {% set split      = '' %}
      {% set html       = 'example3' %}
      {% set njk        = 'example3' %}
      {% set css        = 'example3' %}
      {% set js         = 'example3' %}
      {% set demo       = 'parts/blocks-beta/code-example-beta/examples/example3-demo.njk' %}
      {% include codeExample_beta %}
    </section>

    <section title="Демонстрация нескольких примеров (html + js + css и т.д.). Возможен запуск JS скриптов.">
      <h4>Код (без нумерациии строк) + Toolbar</h4>
      {% set example_id = 'example4' %}
      {% set numeration = '' %}
      {% set split      = '' %}
      {% set html       = 'example4' %}
      {% set njk        = 'example4' %}
      {% set css        = 'example4' %}
      {% set js         = 'example4' %}
      {% set demo       = 'parts/blocks-beta/code-example-beta/examples/example4-demo.njk' %}
      {% include codeExample_beta %}
    </section>

  </div>

  <div class="wrapper_grid">

    <section title="Демонстрация responsive-компонентов с возможностью изменения ширины контейнера DEMO">
      <h4>Код (с нумерацией строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example5' %}
      {% set numeration = 'true' %}
      {% set split      = 'true' %}
      {% set html       = 'example5' %}
      {% set njk        = '' %}
      {% set css        = 'example5' %}
      {% set js         = 'example5' %}
      {% set demo       = 'parts/blocks-beta/code-example-beta/examples/example5-demo.njk' %}
      {% include codeExample_beta %}
    </section>

    <section title="Демонстрация responsive-компонентов с возможностью изменения ширины контейнера DEMO">
      <h4>Код (без нумерации строк) + Toolbar + Responsive Демо</h4>
      {% set example_id = 'example6' %}
      {% set numeration = '' %}
      {% set split      = 'true' %}
      {% set html       = 'example6' %}
      {% set njk        = '' %}
      {% set css        = 'example6' %}
      {% set js         = '' %}
      {% set demo       = 'parts/blocks-beta/code-example-beta/examples/example6-demo.njk' %}
      {% include codeExample_beta %}
    </section>

  </div>

  <br>
  <hr>

  <h2>Список нерешенных задач:</h2>
  <ol>
    <li>* на iPad класс .code отображается криво</li>
    <li>** можно создать только один split-блок на странице (причина: в файле split_init аргументами функции Split являются идентификаторы '#box-1', '#box-2', '#box-3'). Когда на странице появляется второй split блок - то идентификаторы дублируются.</li>
  </ol>



{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}