{% extends "base.njk" %}

{# variables #}
{% set title           = 'codeExample (описание)' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'nunjucks' %}
{% set segment         = 'мои шаблоны' %}
{% set subsegment_del  = 'delete' %}

{# <head> #}
{% block head %}
  <title>Демонстрация примеров кода на сайте</title>
  <meta name="description" content="Все необходимое для вывода примеров html, js, css и других примеров кода." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{# <body> #}
{% block main %}

  <h1>codeExample</h1>
  <p>Шаблон для демонстрации html, js, css и прочих примеров кода.</p>
  <a href="code-example-test.html">ТЕСТЫ</a>

  <section>
    <h4></h4>
    {% set example_id = 'code_example' %} {# требуется для работы кнопок checkbox/label #}
    {% set numeration = 'true' %} {# true = включена / '' (пустая строка) = отключена #}
    {% set split = '' %} {# true = включен / '' (пустая строка) = отключен #}
    {% set html = '' %} {# путь к примеру html #}
    {% set njk = 'examples/nunjucks/templates/code-example/code-example.njk' %} {# путь к примеру njk #}
    {% set css = '' %} {# путь к примеру css #}
    {% set js = '' %} {# путь к примеру js #}
    {% set demo = '' %}
    {% include codeExample_beta %}
  </section>

{% endblock %}