{% extends "base.njk" %}

{# variables #}
{% set title = 'Web Developer' %}


{# ===================================== #}

{% block head %}
  <title>Yuri Fedorov - {{ title | capitalize }}</title>
  <meta name="description" content="Веб-разработчик из Санкт-Петербурга" />
{% endblock %}

{% block main %}

  <section class="banner" name="hero">
    <h1>Yuri Fedorov</h1>
    <p><span>{{ title }}</span></p>
  </section>

  <p>content</p>
  
{% endblock %}