.split-parent {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  background: #eee;
}

.split-parent > div[id="box-1"],
.split-parent > div[id="box-2"],
.split-parent > div[id="box-3"] {
  background: wheat;
}

.gutter {
  border-left: 1px solid;
  border-right: 1px solid;
  cursor: ew-resize;
  margin: 0 10px;
}