<h1>{{file_name | capitalize }}</h1>
<p>Оператор делит переменную на значение правого операнда и присваивает результат переменной.</p>

{% set example_id = 'division_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}
<table>
  <tr>
    <td>5</td>
    <td>сначала значение левого операнда <b>x</b> было поделено на значение правого <b>y</b>, полученный результат присвоился <b>x</b></td>
  </tr>
</table>