{% extends "base.njk" %}

{% set title       = 'HTML атрибуты' %}
{% set description = 'Для чего нужны HTML атрибуты' %}

{% set document    = 'attributes' %}
{% set category    = 'docs' %}
{% set subcategory = 'html' %}
{% set segment     = 'attributes' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}