<h1>Сравнение версий HTTP</h1>

<h2>Цели</h2>
<ul>
  <li>понять возможности и особенности каждой версии HTTP</li>
  <li>понять чем более новые лучше старых</li>
</ul>

<h2>План действий</h2>
<ul>
  <li>определиться со списком исследуемых версий <em class="green">&#10004;</em></li>
  <li>создать тестовую веб-страницу для экспериментов</li>
</ul>

<section>
  <h2>Версии HTTP</h2>

  <table>
    <caption>Различия версий</caption>
    <tr style="background: #dadada;">
      <td></td>
      <td>HTTP</td>
      <td>HTTP/0.9</td>
      <td>HTTP/1.0</td>
      <td>HTTP/1.1</td>
      <td><em class="tip" data-tip="основан на SPDY">HTTP/2</em></td>
      <td><em class="tip" data-tip="основан на QUIC">HTTP/3</em></td>
    </tr>
    <tr>
      <td>год выпуска</td>
      <td>1989</td>
      <td>1991</td>
      <td>1996</td>
      <td>1997</td>
      <td>2015</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>создатели</td>
      <td>Tim Berners-Lee</td>
      <td>Tim Berners-Lee</td>
      <td>IETF</td>
      <td>IETF</td>
      <td>Google</td>
      <td><em class="tip" data-tip="версия: gQUIC">Google</em> / <em class="tip" data-tip="версия: QUIC">IETF</em></td>
    </tr>
    <tr>
      <td>item3</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>
</section>