<h1>Сравнение версий HTTP</h1>

<h2>Цели</h2>
<ul>
  <li>понять возможности и особенности каждой версии HTTP</li>
  <li>понять чем более новые лучше старых</li>
</ul>

<h2>План действий</h2>
<ul>
  <li>определиться со списком исследуемых версий</li>
  <li>создать тестовую веб-страницу для экспериментов</li>
</ul>

<section>
  <h2>Версии HTTP</h2>
  <table>
    <tr style="background: #dadada;">
      <td style="width: 50px;"><b>год</b></td>
      <td><b>версия</b></td>
      <td><b>примечание</b></td>
    </tr>
    <tr>
      <td>1989</td>
      <td>HTTP</td>
      <td>created by Tim Berners-Lee</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>HTTP/0.9</td>
      <td></td>
    </tr>
    <tr>
      <td>1996</td>
      <td>HTTP/1.1</td>
      <td></td>
    </tr>
    <tr>
      <td>1997</td>
      <td>HTTP/1.1</td>
      <td></td>
    </tr>
    <tr>
      <td>2015</td>
      <td>HTTP/2</td>
      <td>основан на <b>SPDY</b>, разработанной в Google</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>HTTP/3</td>
      <td>основан на <b data-tip="экспериментальный интернет-протокол, разработанный Google">QUIC</b>, разработанной в Google</td>
    </tr>
  </table>
</section>