{% extends "base.njk" %}

{% set document    = 'variables' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'variables' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Переменные в JavaScript</title>
  <meta name="description" content="Как объявить переменную в JS и зачем это нужно." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}