.aside_left {
  flex: var(--asideLeft-width) 0 0; /* не трогать */
  order: 2; /* не трогать */
  background: rgb(233, 230, 230); /* временно */
  display: none;
  z-index: 3; /* должен быть выше чем у .aside_top */
  padding: 20px;
}

.LG > .aside_left {
  display: block;
}


/* это по идее должно быть не здесь */
.aside_left ul {
  min-width: 250px;
  padding-inline-start: 0;
}

.aside_left ul > li {
  background: #eee;
  margin-bottom: 5px;
  list-style-type: none;
}

.aside_left a {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  text-decoration: none;
}

.aside_left a:hover {
  background: #fff;
}

.aside_left li em {
  float: right;
}