.aside_left {
  flex: var(--asideLeft-width) 0 0; /* не трогать */
  order: 2; /* не трогать */
  background: rgb(233, 230, 230); /* временно */
  display: none;
  z-index: 3; /* должен быть выше чем у .aside_top */
}

.LG > .aside_left {
  display: block;
}