{% extends "base.njk" %}

{% set file_name   = 'optimization' %}
{% set category    = 'docs' %}
{% set subcategory = 'optimization' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% block head %}
  <title>Справочник по оптимизации</title>
  <meta name="description" content="Информация связанная с оптимизацией кода." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Справочник по оптимизации</h1>
  {% include 'parts/navigation/optimization.njk' %}

{% endblock %}