.aside_right {
  flex: var(--asideLeft-width) 0 0; /* не трогать */
  order: 4; /* не трогать */
  background: rgb(233, 230, 230); /* временно */
  display: none;
  z-index: 3; /* должен быть выше чем у .aside_top */
  padding: 20px;
}

.LG > .aside_right {
  display: block;
}


/* это по идее должно быть не здесь */
.aside_right ul {
  min-width: 250px;
  padding-inline-start: 0;
}

.aside_right ul > li {
  background: #eee;
  margin-bottom: 5px;
  list-style-type: none;
}

.aside_right a {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  text-decoration: none;
}

.aside_right a:hover {
  background: #fff;
}

.aside_right li em {
  float: right;
  margin-left: 10px; /* чтобы не прилипало к тексту ссылки */
}

.aside_right a > em {
  line-height: 20px;
}
