.aside_right {
  flex: 0 0 var(--asideRight-width); /* не трогать */
  order: 4; /* не трогать */
  background: pink; /* временно */
  display: none;
  z-index: 1; /* должен быть выше чем у .aside_top */
  padding: 20px;
}

.LG > .aside_right {
  display: block;
}

/* это по идее должно быть не здесь */
.aside_right ul {
  min-width: 100px;
  padding-inline-start: 0;
}

.aside_right ul > li {
  background: #eee;
  list-style-type: none;
  margin-bottom: 5px;
}

.aside_right li > a {
  text-decoration: none;
  display: block;
  background: white;
  text-align: center;
  padding: 5px;
}

.aside_right li em {
  float: right;
}