<ul class="list list_tile">
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
  <li><a href="#">link</a><small>text</small></li>
</ul>