<ul class="list list_tile">
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
  <li data-breakpoints='{"C2":150,"C3":200}' data-observe-resizes><a href="#">link</a></li>
</ul>