<ul class="list list_tile">
  <li>
    <a href="#" class="logo">link</a>
    <small>small text</small>
  </li>
  <li>
    <a href="#" class="logo">link</a>
    <small>small text</small>
  </li>
  <li>
    <a href="#" class="logo">link</a>
    <small>small text</small>
  </li>
  <li>
    <a href="#" class="logo">link</a>
    <small>small text</small>
  </li>
</ul>