<h1>boolean</h1>
{% set example_id  = 'boolean_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://learn.javascript.ru/types#bulevyy-logicheskiy-tip">https://learn.javascript.ru/types#bulevyy-logicheskiy-tip</a></li>
    <li><a href="https://learn.javascript.ru/logical-operators">https://learn.javascript.ru/logical-operators</a></li>
  </ul>
</section>