<h1>null</h1>
{% set example_id  = 'null_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li>инет</li>
  </ul>
</section>