<h1>number</h1>
{% set example_id  = 'number_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://learn.javascript.ru/number">https://learn.javascript.ru/number</a></li>
  </ul>
</section>