<h1>number</h1>
{% set example_id  = 'number_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}
<a href="https://learn.javascript.ru/number">https://learn.javascript.ru/number</a>