<h1>object</h1>
{% set example_id  = 'object_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

{# источники знаний #}
{% set link_1 = 'https://learn.javascript.ru/object' %}
{% set name_1 = 'link1' %}
{% set link_2 = 'https://learn.javascript.ru/object' %}
{% set name_2 = 'link2' %}
{% include 'parts/blocks/knowledge_source.njk' %}

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <a href="https://learn.javascript.ru/object">https://learn.javascript.ru/object</a>
  </ul>
</section>