<h1>string</h1>
{% set example_id  = 'string_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}
<p>Встраивать что-либо в <em>${…}</em> можно только в обратных кавычках <em>` `</em></p>