<h1>symbol</h1>
<p><em>symbol</em> – используется для создания уникальных идентификаторов.</p>
{% set example_id  = 'symbol_type' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}
<a href="https://learn.javascript.ru/symbol">https://learn.javascript.ru/symbol</a>