<h1>Типы в JavaScript</h1>
<p><b>JavaScript</b> является <a href="typing.html">динамически типизированным</a> языком. Одна и таже переменная может иметь значение разного типа.</p>
{% set example_id  = 'dynamic_typing_in_js' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}
<p>Сначала значение переменной <em>x</em> было <b>string</b>, потом стало <b>number</b>.</p>

<div class="columns columns_col-2">
  <section>
    <h2>Основные типы в JS</h2>
    <ol>
      <li><em><a href="global_objects/number.html">number</a></em>  для чисел</li>
      <li><em><a href="global_objects/string.html">string</a></em> для строк</li>
      <li><em><a href="global_objects/boolean.html">boolean</a></em> для true/false</li>
      <li><em><a href="global_objects/null.html">null</a></em> для неизвестных значений</li>
      <li><em><a href="global_objects/undefined.html">undefined</a></em> для неприсвоенных значений</li>
      <li><em><a href="global_objects/object.html">object</a></em> для более сложных структур данных</li>
      <li><em><a href="global_objects/symbol.html">symbol</a></em> для уникальных идентификаторов</li>
    </ol>
  </section>
  <section>
    <h2>Оператор typeof</h2>
    <p>Оператор <em>typeof</em> возвращает тип аргумента</p>
    {% set example_id  = '_typeof' %}
    {% set numeration  = false %}
    {% set split       = false %}
    {% set html        = false %}
    {% set njk         = false %}
    {% set css         = false %}
    {% set js          = true %}
    {% set demo        = false %}
    {% include codeExample %}
  </section>
</div>