<h1>Типы в JavaScript</h1>
<p><b>JavaScript</b> является <a href="typing.html">динамически типизированным</a> языком. Одна и таже переменная может иметь значение разного типа.</p>
{% set example_id  = 'dynamic_typing_in_js' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}
<p>Сначала значение переменной <b>x</b> было string, потом стало number.</p>

<div class="columns columns_col-2">
  <section>
    <h2>Основные типы в JS</h2>
    <ol>
      <li><em>number</em> для чисел</li>
      <li><em>string</em> для строк</li>
      <li><em>boolean</em> для true/false</li>
      <li><em>null</em> для неизвестных значений</li>
      <li><em>undefined</em> для неприсвоенных значений</li>
      <li><em>object</em> для более сложных структур данных</li>
      <li><em class="tip" data-tip-text="НЕ ПОНЯТНО" style="background: tomato">symbol</em> для уникальных идентификаторов</li>
    </ol>
  </section>
  <section>
    <h2>Оператор typeof</h2>
    <p>Оператор <em>typeof</em> возвращает тип аргумента</p>
    {% set example_id  = '_typeof' %}
    {% set numeration  = false %}
    {% set split       = false %}
    {% set html        = false %}
    {% set njk         = false %}
    {% set css         = false %}
    {% set js          = true %}
    {% set demo        = false %}
    {% include codeExample %}
  </section>
</div>