<h1>Преобразования типов</h1>

<section class="link-list">
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://learn.javascript.ru/type-conversions">https://learn.javascript.ru/type-conversions</a></li>
  </ul>
</section>