<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Memory_Management#Garbage_collection">Garbage collection</a></li>
<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/garbage-collection">Сборка мусора</a></li>
<li>{% include habr_icon %}<a target="_blank" href="https://habr.com/ru/post/112676/">Garbage Collection наглядно</a> (на примере Java)</li>