<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Memory_Management">Memory Management</a></li>
<li>{% include habr_icon %}<a target="_blank" href="https://habr.com/ru/post/240021/">Визуализация алгоритмов для сборки мусора</a></li>