<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Memory_Management">Управление памятью</a>
<a data-icon="habr" href="https://habr.com/ru/company/ruvds/blog/338150/">Управление памятью, четыре вида утечек памяти и борьба с ним</a>