{% extends "base.njk" %}

{% set title       = 'Стрелочные функции' %}
{% set description = 'Подробно о стрелочных функциях в JavaScript' %}

{% set document    = 'arrow_functions' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'functions' %}
{% set subsegment  = 'arrow_functions' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}