<section>
  <h1>Метод <em>{{file_name}}()</em></h1>
  <p>Отображает предупреждающее диалоговое окно.</p>
  {% set example_id = 'prompt_method' %}
  {% set numeration = true %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
</section>