{% extends "base.njk" %}

{% set document    = 'loops' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'loops' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block head %}
  <title>Циклы в JavaScript</title>
  <meta name="description" content="Описание циклов в JavaScript" />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{# block aside_right %}{% include aside_right %}{% endblock #}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}