{% extends "base.njk" %}

{% set title       = 'Сборка мусора в JavaScript' %}
{% set description = 'О том, как происходит сборка мусора в JavaScript' %}

{% set document    = 'garbage_collection' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'memory_management' %}
{% set subsegment  = 'garbage_collection' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{% block aside_bottom %}{% include aside_bottom %}{% endblock %}
{% block main %}{% include content %}{% endblock %}