{% extends "base.njk" %}

{% set title       = 'Справочник по Git' %}
{% set description = 'Мои заметки по использованию Git' %}

{% set document    = 'git' %}
{% set category    = 'docs' %}
{% set subcategory = '' %}
{% set segment     = '' %}
{% set subsegment  = '' %}

{% set syntax_highlight = false %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Справочник по Git</h1>
  <p>Мои заметки по использованию Git.</p>
  {% include 'parts/navigation/git_docs.njk' %}

{% endblock %}