{# шаблое для закладки #}
{# НЕ УДАЛОСЬ понять как генерировать keyword из массива второго уровня #}
<ul class="bookmarks list_no-marked">
  <li>
    <a href="#">здесь должна быть ссылка на интересную статью</a>
    <div>
      <em>keyword1</em> <em>keyword2</em> <em>keyword3</em>
    </div>
  </li>
</ul>


<style>
  em[class="2019"] { background: chartreuse; }
</style>

<ol>
  <li><em class="img">IMG</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://calibreapp.com/blog/compress-images-in-prs/">автоматическое сжатие изображений в пулл-реквестах</a></li>
  <li><em class="img">IMG</em>            <em>-</em>        <em class="en">RU</em> <em class="2019">2019</em> <a href="https://medium.com/@ABatickaya/responsive-imgs-998f103a7a32">полное руководство по отзывчивым изображениям</a></li>
  <li><em class="git">GIT</em>            <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/post/468205/">GIT изнутри: введение</a></li>
  <li><em class="htaccess">htaccess</em>  <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/company/promopult/blog/462029/">19 полезных возможностей файла .htaccess</a></li>
  <li><em class="speed">speed</em>        <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://webkit.org/blog/8970/how-web-content-can-affect-power-usage/">как фронтенд влияет на расход аккумулятора</a></li>
  <li><em class="html">HTML</em>          <em>-</em>        <em class="ru">RU</em> <em class="date">-</em>    <a href="https://abuzov.ru/tablica-html-tegov/">расшифровка тегов html</a></li>
  <li><em class="url">URL</em>            <em>-</em>        <em class="ru">RU</em> <em class="date">-</em>    <a href="https://www.internet-technologies.ru/articles/chto-takoe-url-adres-i-kak-s-nim-rabotat.html">что такое URL адрес и как с ним работать</a></li>
  <li><em class="html">HTML</em>          <em>-</em>        <em class="en">EN</em> <em class="date">2017</em> <a href="https://www.themelocation.com/best-html5-practices/">30 необходимых практик для написания современного и эффективного HTML5</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://medium.com/@stasonmars/%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%BE-%D0%BF%D1%80%D0%BE-%D0%BC%D0%B5%D1%82%D0%BE%D0%B4-filter-%D0%B2-javascript-1fcb239a0d74">подробно про метод filter() в JavaScript</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="date">2017</em> <a href="https://habr.com/ru/post/342922/">делаем фильтры «по красоте»</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/company/ruvds/blog/468229/">заметка о void в JavaScript и TypeScript</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://dailycoding.io/article/EEw4zMC2gRgUMXp6CUpN">руководство по обработке ошибок в JavaScript</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://css-tricks.com/filtering-data-client-side-comparing-css-jquery-and-react/">Когда стоит задача отфильтровать какие-то данные на стороне клиента</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/post/466623/">создание слайдера диапазона значений для фильтра без использования jQuery</a></li>
  <li><em class="js">JS</em>              <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://tproger.ru/translations/javascript-code-caching-for-devs/">Кэширование кода для JavaScript-разработчиков на примере Chrome</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="ru">RU</em> <em class="date">-</em>    <a href="https://cssgrid-generator.netlify.com/">простой генератор CSS-гридов Сары Дрэснер</a></li>
  <li><em class="network">network</em>    <em>-</em>        <em class="ru">RU</em> <em class="date">2015</em> <a href="https://habr.com/ru/post/250821/">как измерить качество сети передачи данных</a></li>
  <li><em class="speed">speed</em>        <em>-</em>        <em class="ru">RU</em> <em class="date">2014</em> <a href="https://blog.selectel.ru/staticheskie-sajty-nastrojka-i-optimizaciya/">cтатические сайты: настройка и оптимизация</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/2</em>   <em class="ru">RU</em> <em class="date">2016</em> <a href="https://habr.com/ru/company/selectel/blog/278167/">HTTP/2 готовимся к переходу</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/2</em>   <em class="ru">RU</em> <em class="date">2016</em> <a href="https://habr.com/ru/company/nix/blog/304518/">как HTTP/2 сделает веб быстрее</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/2</em>   <em class="ru">RU</em> <em class="date">2015</em> <a href="https://habr.com/ru/company/infobox/blog/268599/">включаем HTTP/2 в NGINX для сайта</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/2</em>   <em class="ru">RU</em> <em class="date">2018</em> <a href="https://habr.com/ru/post/430188/">настройка HTTP/2 на примере Apache 2.4, PHP 7 и Ubuntu 18.04 LTS</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/3</em>   <em class="ru">RU</em> <em class="date">2018</em> <a href="https://habr.com/ru/company/globalsign/blog/429820/">протокол HTTP-over-QUIC официально становится HTTP/3</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/3</em>   <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/post/438810/">HTTP/3 от корней до кончиков</a></li>
  <li><em class="speed">speed</em>        <em>HTTP/3</em>   <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/news/t/468297/">в Chrome Canary добавили поддержку протокола HTTP/3</a></li>
  <li><em class="speed">speed</em>        <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/company/ruvds/blog/470868/">Время до первого байта: что это такое и почему это важно.</a></li>
  <li><em class="webgl">WebGL</em>        <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://habr.com/ru/company/oleg-bunin/blog/450832/">история одной анимации</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em>    <a href="https://habr.com/ru/post/469395/">где и как использовать мультиколонки (CSS Columns)</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="date">-</em>    <a href="https://www.w3schools.com/CSSref/CSS_colors.asp">названия цветов в CSS</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://css-tricks.com/logical-operations-with-css-variables/">логические операции на CSS-переменных</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://csspoints.com/css-toggle-button/">несколько toggle-кнопок на чистом CSS</a></li>
  <li><em class="html">HTML</em>          <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://blog.logrocket.com/how-to-do-semantics-the-right-way/">Как правильно “делать” семантику</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">RU</em> <em class="date">2014</em> <a href="https://webformyself.com/css-eksperimenty-s-polem-i-knopkoj-poiska/">CSS эксперименты с полем и кнопкой поиска</a></li>
  <li><em class="css">JS</em>             <em>-</em>        <em class="en">RU</em> <em class="date">2017</em> <a href="https://habr.com/ru/company/ruvds/blog/338150/">Как работает JS: управление памятью, четыре вида утечек памяти и борьба с ними</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://hankchizljaw.com/wrote/a-modern-css-reset/">Современный сброс стилей CSS (от Энди Белл)</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://hacks.mozilla.org/2019/06/indicating-focus-to-improve-accessibility/">Показываем фокус для улучшения доступности (от Хидде де Врис)</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://codepen.io/mirisuzanne/pen/BaBKowO">Новый способ офомления маркеров списков (от Мириам Сюзан)</a> <em class="tip_green"><a href="https://www.youtube.com/watch?v=2awepiNoaZI&feature=youtu.be">видео</a></em></li>
  <li><em class="tools">TOOLS</em>        <em>-</em>        <em class="ru">RU</em> <em class="2019">2019</em> <a href="https://proglib.io/p/5-sovetov-i-hitrostey-dlya-visual-studio-code-2019-10-13">5 советов и хитростей для Visual Studio Code</a></li>
  <li><em class="css">CSS</em>            <em>-</em>        <em class="en">EN</em> <em class="2019">2019</em> <a href="https://zellwk.com/blog/design-focus-style/">Проектируем стили для фокуса</a></li>
  <li><em>-</em>                          <em>-</em>        <em>-</em>             <em class="date">????</em> <a href="#"></a></li>
  <li><em>-</em>                          <em>-</em>        <em>-</em>             <em class="date">????</em> <a href="#"></a></li>
  <li><em>-</em>                          <em>-</em>        <em>-</em>             <em class="date">????</em> <a href="#"></a></li>
</ol>