<style>
  em[class="img"] { background: orange; }
  em[class="git"] { background: tomato; }
  em[class="js"] { background: yellow; }
  em[class="htaccess"] { background: lightgreen; }
  em[class="html"] { background: skyblue; }
</style>

<ol>
  <li><em class="img">IMG</em>            <em class="en">EN</em> <a href="https://calibreapp.com/blog/compress-images-in-prs/">автоматическое сжатие изображений в пулл-реквестах</a></li>
  <li><em class="img">IMG</em>            <em class="ru">RU</em> <a href="https://medium.com/@ABatickaya/responsive-imgs-998f103a7a32">полное руководство по отзывчивым изображениям Элада Шехтера</a></li>
  <li><em class="git">GIT</em>            <em class="ru">RU</em> <a href="https://habr.com/ru/post/468205/">GIT изнутри: введение</a></li>
  <li><em class="js">JS</em>              <em class="ru">RU</em> <a href="https://habr.com/ru/post/466623/">создание слайдера диапазона значений для фильтра без использования jQuery</a></li>
  <li><em class="htaccess">htaccess</em>  <em class="ru">RU</em> <a href="https://habr.com/ru/company/promopult/blog/462029/">19 полезных возможностей файла .htaccess</a></li>
  <li><em class="speed">оптимизация</em>  <em class="en">EN</em> <a href="https://webkit.org/blog/8970/how-web-content-can-affect-power-usage/">как фронтенд влияет на расход аккумулятора</a></li>
  <li><em class="html">HTML</em>          <em class="ru">RU</em> <a href="https://abuzov.ru/tablica-html-tegov/">расшифровка тегов html</a></li>
  <li><em class="url">URL</em>            <em class="ru">RU</em> <a href="https://www.internet-technologies.ru/articles/chto-takoe-url-adres-i-kak-s-nim-rabotat.html">что такое URL адрес и как с ним работать</a></li>
  <li><em class="html">HTML</em>          <em class="en">EN</em> <a href="https://www.themelocation.com/best-html5-practices/">30 необходимых практик для написания современного и эффективного HTML5</a></li>
  <li><em class="js">JS</em>              <em class="ru">RU</em> <a href="https://habr.com/ru/post/342922/">делаем фильтры «по красоте»</a></li>
  <li><em class="css">CSS</em>            <em class="ru">RU</em> <a href="https://cssgrid-generator.netlify.com/">простой генератор CSS-гридов Сары Дрэснер</a></li>
  <li><em class="network">network</em>    <em class="ru">RU</em> <a href="https://habr.com/ru/post/250821/">качество сетей передачи данных (программные и аппаратные измерения)</a></li>
  <li><em>-</em>                          <em>-</em>             <a href="#"></a></li>
</ol>