{# навигационная цепочка ("хлебные крошки") #}

<ul class="breadcrumbs">
  {# show always #}    <li> <a href="/">home</a>
  {% if category    %} <li> <a href="../">{{ category }}</a>                               {% endif %}
  {% if subcategory %} <li> <a href="../{{ subcategory }}">{{ subcategory }}</a>           {% endif %}
  {% if subsegment  %} <li> <a href="../{{ subcategory }}/{{ segment }}">{{ segment }}</a> {% endif %}
  
  {# ДОДЕЛАТЬ! #}    <li> <span>{{ document }}</span>

</ul>