{# навигационная цепочка ("хлебные крошки") #}

<ul class="breadcrumbs">
  {# показывать всегда #} <li><a href="../../../">home</a>
  {% if category    %}    <li><a href="../">{{ category }}</a>  {% endif %}
  {% if subcategory %}    <li><a href="../">{{ subcategory }}</a>  {% endif %}
  {% if segment     %}    <li><a href="../">{{ segment }}</a>      {% endif %}
  {% if subsegment  %}    <li><a href="../">{{ subsegment }}</a>   {% endif %}
  {# показывать всегда #} <li><span>{{ document }}</span>
</ul>