<ul>
  <details>
    <summary>Компоненты веб-страницы</summary>
    <ul>
      <li><a href="structural_blocks">structural blocks</a></li>
      <li><a href="lists">lists</a></li>
      <li><a href="tile">tile</a></li>
    </ul>
  </details>
  <details>
    <summary>Селекторы</summary>
    <ul>
      <li><a href="selectors">список селекторов</a></li>
    </ul>
  </details>
</ul>