<div class="selectors">
  <table id="type_selectors">
    <caption>Селекторы по элементу</caption>
      <tr>
        <td>01</td>
        <td><a href="type_selectors.html">div</a></td>
        <td>выберет все <b>div</b></td>
      </tr>
  </table>

  <table id="class_selectors">
    <caption>Селекторы по классу</caption>
    <tr>
      <td>01</td>
      <td>.class</td>
      <td>description</td>
    </tr>
  </table>

  <table id="id_selectors">
    <caption>Селекторы по идентификатору</caption>
    <tr>
      <td>01</td>
      <td>#id</td>
      <td>description</td>
    </tr>
  </table>

  <table id="universal_selectors">
    <caption>Универсальные селекторы</caption>
    <tr>
      <td>01</td>
      <td>*</td>
      <td>description</td>
    </tr>
    <tr>
      <td>02</td>
      <td>ns|*</td>
      <td>description</td>
    </tr>
    <tr>
      <td>03</td>
      <td>*|*</td>
      <td>description</td>
    </tr>
    <tr>
      <td>04</td>
      <td>|*</td>
      <td>description</td>
    </tr>
  </table>

  <table id="attribute_selectors">
    <caption>Селекторы по атрибуту</caption>
    <tr>
      <td>01</td>
      <td>a[title]</td>
      <td>выберет все элементы <b>a</b> с атрибутом <b>tittle</b></td>
    </tr>
    <tr>
      <td>02</td>
      <td>a[href="https://example.org"]</td>
      <td>description</td>
    </tr>
    <tr>
      <td>03</td>
      <td>a[data-filetype="image"]</td>
      <td>description</td>
    </tr>
    <tr>
      <td>04</td>
      <td>a[href*="example"]</td>
      <td>description</td>
    </tr>
    <tr>
      <td>05</td>
      <td>a[href$=".jpg"]</td>
      <td>description</td>
    </tr>
    <tr>
      <td>06</td>
      <td>a[class~="logo"]</td>
      <td>description</td>
    </tr>
    <tr>
      <td>07</td>
      <td>a[href^="http"]</td>
      <td>description</td>
    </tr>
  </table>

  <table id="combinators">
    <caption>Комбинаторы</caption>
    <tr>
      <td>01</td>
      <td>ul + li</td>
      <td>description</td>
    </tr>
    <tr>
      <td>02</td>
      <td>p ~ span</td>
      <td>description</td>
    </tr>
    <tr>
      <td>03</td>
      <td>ul > li</td>
      <td>выберет все прямые <b>li</b> у маркированного списка</td>
    </tr>
    <tr>
      <td>04</td>
      <td>ol#cities > li</td>
      <td>выберет все прямые <b>li</b> у нумерованного списка с <b>id="cities"</b></td>
    </tr>
    <tr>
      <td>05</td>
      <td>div span</td>
      <td>description</td>
    </tr>
  </table>

  <table id="pseudo-classes">
    <caption>Селекторы псевдоклассов</caption>
    <tr>
      <td>01</td>
      <td>:active</td>
      <td>description</td>
    </tr>
    <tr>
      <td>02</td>
      <td>:any-link</td>
      <td>description</td>
    </tr>
    <tr>
      <td>03</td>
      <td>:blank</td>
      <td>description</td>
    </tr>
    <tr>
      <td>04</td>
      <td>:checked</td>
      <td>description</td>
    </tr>
    <tr>
      <td>05</td>
      <td>:current</td>
      <td>description</td>
    </tr>
    <tr>
      <td>06</td>
      <td>:default</td>
      <td>description</td>
    </tr>
    <tr>
      <td>07</td>
      <td>:defined</td>
      <td>description</td>
    </tr>
    <tr>
      <td>08</td>
      <td>:dir()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>09</td>
      <td>:disabled</td>
      <td>description</td>
    </tr>
    <tr>
      <td>10</td>
      <td>:drop</td>
      <td>description</td>
    </tr>
    <tr>
      <td>11</td>
      <td>:empty</td>
      <td>description</td>
    </tr>
    <tr>
      <td>12</td>
      <td>:enabled</td>
      <td>description</td>
    </tr>
    <tr>
      <td>13</td>
      <td>:first</td>
      <td>description</td>
    </tr>
    <tr>
      <td>14</td>
      <td>:first-child</td>
      <td>description</td>
    </tr>
    <tr>
      <td>15</td>
      <td>:first-of-type</td>
      <td>description</td>
    </tr>
    <tr>
      <td>16</td>
      <td>:fullscreen</td>
      <td>description</td>
    </tr>
    <tr>
      <td>17</td>
      <td>:future</td>
      <td>description</td>
    </tr>
    <tr>
      <td>18</td>
      <td>:focus</td>
      <td>description</td>
    </tr>
    <tr>
      <td>19</td>
      <td>:focus-visible</td>
      <td>description</td>
    </tr>
    <tr>
      <td>20</td>
      <td>:focus-within</td>
      <td>description</td>
    </tr>
    <tr>
      <td>21</td>
      <td>:has()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>22</td>
      <td>:host</td>
      <td>description</td>
    </tr>
    <tr>
      <td>23</td>
      <td>:host()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>24</td>
      <td>:host-context()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>25</td>
      <td>:hover</td>
      <td>description</td>
    </tr>
    <tr>
      <td>26</td>
      <td>:indeterminate</td>
      <td>description</td>
    </tr>
    <tr>
      <td>27</td>
      <td>:in-range</td>
      <td>description</td>
    </tr>
    <tr>
      <td>28</td>
      <td>:invalid</td>
      <td>description</td>
    </tr>
    <tr>
      <td>29</td>
      <td>:is()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>30</td>
      <td>:lang()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>31</td>
      <td>:last-child</td>
      <td>description</td>
    </tr>
    <tr>
      <td>32</td>
      <td>:last-of-type</td>
      <td>description</td>
    </tr>
    <tr>
      <td>33</td>
      <td>:left</td>
      <td>description</td>
    </tr>
    <tr>
      <td>34</td>
      <td>:link</td>
      <td>description</td>
    </tr>
    <tr>
      <td>35</td>
      <td>:local-link</td>
      <td>description</td>
    </tr>
    <tr>
      <td>36</td>
      <td>:not()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>37</td>
      <td>:nth-child()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>38</td>
      <td>:nth-col()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>39</td>
      <td>:nth-last-child()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>40</td>
      <td>:nth-last-col()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>41</td>
      <td>:nth-last-of-type()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>42</td>
      <td>:nth-of-type()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>43</td>
      <td>:only-child</td>
      <td>description</td>
    </tr>
    <tr>
      <td>44</td>
      <td>:only-of-type</td>
      <td>description</td>
    </tr>
    <tr>
      <td>45</td>
      <td>:optional</td>
      <td>description</td>
    </tr>
    <tr>
      <td>46</td>
      <td>:out-of-range</td>
      <td>description</td>
    </tr>
    <tr>
      <td>47</td>
      <td>:past</td>
      <td>description</td>
    </tr>
    <tr>
      <td>48</td>
      <td>:placeholder-shown</td>
      <td>description</td>
    </tr>
    <tr>
      <td>49</td>
      <td>:read-only</td>
      <td>description</td>
    </tr>
    <tr>
      <td>50</td>
      <td>:read-write</td>
      <td>description</td>
    </tr>
    <tr>
      <td>51</td>
      <td>:required</td>
      <td>description</td>
    </tr>
    <tr>
      <td>52</td>
      <td>:right</td>
      <td>description</td>
    </tr>
    <tr>
      <td>53</td>
      <td>:root</td>
      <td>description</td>
    </tr>
    <tr>
      <td>54</td>
      <td>:scope</td>
      <td>description</td>
    </tr>
    <tr>
      <td>55</td>
      <td>:target</td>
      <td>description</td>
    </tr>
    <tr>
      <td>56</td>
      <td>:target-within</td>
      <td>description</td>
    </tr>
    <tr>
      <td>57</td>
      <td>:user-invalid</td>
      <td>description</td>
    </tr>
    <tr>
      <td>58</td>
      <td>:valid</td>
      <td>description</td>
    </tr>
    <tr>
      <td>59</td>
      <td>:visited</td>
      <td>description</td>
    </tr>
    <tr>
      <td>60</td>
      <td>:where()</td>
      <td>description</td>
    </tr>
  </table>

  <table id="pseudo-elements">
    <caption>Селекторы псевдоэлементов</caption>
    <tr>
      <td>01</td>
      <td>::before</td>
      <td>description</td>
    </tr>
    <tr>
      <td>02</td>
      <td>::after</td>
      <td>description</td>
    </tr>
    <tr>
      <td>03</td>
      <td>::cue</td>
      <td>description</td>
    </tr>
    <tr>
      <td>04</td>
      <td>::cue-region()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>05</td>
      <td>::backdrop</td>
      <td>description</td>
    </tr>
    <tr>
      <td>06</td>
      <td>::first-letter</td>
      <td>description</td>
    </tr>
    <tr>
      <td>07</td>
      <td>::first-line</td>
      <td>description</td>
    </tr>
    <tr>
      <td>08</td>
      <td>::grammar-error</td>
      <td>description</td>
    </tr>
    <tr>
      <td>09</td>
      <td>::marker</td>
      <td>description</td>
    </tr>
    <tr>
      <td>10</td>
      <td>::part()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>11</td>
      <td>::placeholder</td>
      <td>description</td>
    </tr>
    <tr>
      <td>12</td>
      <td>::selection</td>
      <td>description</td>
    </tr>
    <tr>
      <td>13</td>
      <td>::slotted()</td>
      <td>description</td>
    </tr>
    <tr>
      <td>14</td>
      <td>::spelling-error</td>
      <td>description</td>
    </tr>
  </table>
</div>