<h2>Про Conventional Commits</h2>
<p>Как делать осмысленные коммиты</p>
<a href="https://habr.com/ru/company/yandex/blog/431432/">Как генерировать осмысленные коммиты. Применяем стандарт Conventional Commits</a>