<h2>Про Conventional Commits</h2>
<p>Как делать осмысленные коммиты</p>
<ol>
  <li><a href="https://habr.com/ru/company/yandex/blog/431432/">Как генерировать осмысленные коммиты. Применяем стандарт Conventional Commits</a></li>
  <li><a href="https://tproger.ru/translations/benefits-of-trunk-based-development/">Пушить сразу в мастер — хорошо!</a></li>
</ol>