<input type="search" placeholder="не работает">

<ul>
  <li><a href="elements/html.html">&lt;html&gt;</a></li>
  <li><a href="elements/head.html">&lt;head&gt;</a></li>
  <li><a href="elements/title.html">&lt;title&gt;</a></li>
  <li><a href="elements/base.html">&lt;base&gt;</a></li>
  <li><a href="elements/link.html">&lt;link&gt;</a></li>
  <li><a href="elements/meta.html">&lt;meta&gt;</a></li>
  <li><a href="elements/style.html">&lt;style&gt;</a></li>
  <li><a href="elements/body.html">&lt;body&gt;</a></li>
  <li><a href="elements/article.html">&lt;article&gt;</a></li>
  <li><a href="elements/section.html">&lt;section&gt;</a></li>
  <li><a href="elements/nav.html">&lt;nav&gt;</a></li>
  <li><a href="elements/aside.html">&lt;aside&gt;</a></li>
  <li><a href="elements/h1.html">&lt;h1&gt;</a></li>
  <li><a href="elements/h2.html">&lt;h2&gt;</a></li>
  <li><a href="elements/h4.html">&lt;h4&gt;</a></li>
  <li><a href="elements/h5.html">&lt;h5&gt;</a></li>
  <li><a href="elements/h6.html">&lt;h6&gt;</a></li>
  <li><a href="elements/header.html">&lt;header&gt;</a></li>
  <li><a href="elements/footer.html">&lt;footer&gt;</a></li>
  <li><a href="elements/p.html">&lt;p&gt;</a></li>
  <li><a href="elements/address.html">&lt;address&gt;</a></li>
  <li><a href="elements/hr.html">&lt;hr&gt;</a></li>
  <li><a href="elements/pre.html">&lt;pre&gt;</a></li>
  <li><a href="elements/blockquote.html">&lt;blockquote&gt;</a></li>
  <li><a href="elements/ol.html">&lt;ol&gt;</a></li>
  <li><a href="elements/ul.html">&lt;ul&gt;</a></li>
  <li><a href="elements/li.html">&lt;li&gt;</a></li>
  <li><a href="elements/dl.html">&lt;dl&gt;</a></li>
  <li><a href="elements/dt.html">&lt;dt&gt;</a></li>
  <li><a href="elements/dd.html">&lt;dd&gt;</a></li>
  <li><a href="elements/figure.html">&lt;figure&gt;</a></li>
  <li><a href="elements/figuration.html">&lt;figuration&gt;</a></li>
  <li><a href="elements/main.html">&lt;main&gt;</a></li>
  <li><a href="elements/div.html">&lt;div&gt;</a></li>
  <li><a href="elements/a.html">&lt;a&gt;</a></li>
  <li><a href="elements/em.html">&lt;em&gt;</a></li>
  <li><a href="elements/strong.html">&lt;strong&gt;</a></li>
  <li><a href="elements/small.html">&lt;small&gt;</a></li>
  <li><a href="elements/s.html">&lt;s&gt;</a></li>
  <li><a href="elements/cite.html">&lt;cite&gt;</a></li>
  <li><a href="elements/q.html">&lt;q&gt;</a></li>
  <li><a href="elements/dfn.html">&lt;dfn&gt;</a></li>
  <li><a href="elements/abbr.html">&lt;abbr&gt;</a></li>
  <li><a href="elements/ruby.html">&lt;ruby&gt;</a></li>
  <li><a href="elements/rb.html">&lt;rb&gt;</a></li>
  <li><a href="elements/rt.html">&lt;rt&gt;</a></li>
  <li><a href="elements/rtc.html">&lt;rtc&gt;</a></li>
  <li><a href="elements/rp.html">&lt;rp&gt;</a></li>
  <li><a href="elements/data.html">&lt;data&gt;</a></li>
  <li><a href="elements/time.html">&lt;time&gt;</a></li>
  <li><a href="elements/code.html">&lt;code&gt;</a></li>
  <li><a href="elements/var.html">&lt;var&gt;</a></li>
  <li><a href="elements/samp.html">&lt;samp&gt;</a></li>
  <li><a href="elements/kbd.html">&lt;kbd&gt;</a></li>
  <li><a href="elements/sub.html">&lt;sub&gt;</a></li>
  <li><a href="elements/sup.html">&lt;sup&gt;</a></li>
  <li><a href="elements/i.html">&lt;i&gt;</a></li>
  <li><a href="elements/b.html">&lt;b&gt;</a></li>
  <li><a href="elements/u.html">&lt;u&gt;</a></li>
  <li><a href="elements/mark.html">&lt;mark&gt;</a></li>
  <li><a href="elements/bdi.html">&lt;bdi&gt;</a></li>
  <li><a href="elements/bdo.html">&lt;bdo&gt;</a></li>
  <li><a href="elements/span.html">&lt;span&gt;</a></li>
  <li><a href="elements/br.html">&lt;br&gt;</a></li>
  <li><a href="elements/wbr.html">&lt;wbr&gt;</a></li>
  <li><a href="elements/ins.html">&lt;ins&gt;</a></li>
  <li><a href="elements/del.html">&lt;del&gt;</a></li>
  <li><a href="elements/picture.html">&lt;picture&gt;</a></li>
  <li><a href="elements/img.html">&lt;img&gt;</a></li>
  <li><a href="elements/iframe.html">&lt;iframe&gt;</a></li>
  <li><a href="elements/embded.html">&lt;embded&gt;</a></li>
  <li><a href="elements/object.html">&lt;object&gt;</a></li>
  <li><a href="elements/param.html">&lt;param&gt;</a></li>
  <li><a href="elements/video.html">&lt;video&gt;</a></li>
  <li><a href="elements/audio.html">&lt;audio&gt;</a></li>
  <li><a href="elements/track.html">&lt;track&gt;</a></li>
  <li><a href="elements/map.html">&lt;map&gt;</a></li>
  <li><a href="elements/area.html">&lt;area&gt;</a></li>
  <li><a href="elements/table.html">&lt;table&gt;</a></li>
  <li><a href="elements/caption.html">&lt;caption&gt;</a></li>
  <li><a href="elements/colgroup.html">&lt;colgroup&gt;</a></li>
  <li><a href="elements/col.html">&lt;col&gt;</a></li>
  <li><a href="elements/tbody.html">&lt;tbody&gt;</a></li>
  <li><a href="elements/thead.html">&lt;thead&gt;</a></li>
  <li><a href="elements/tfoot.html">&lt;tfoot&gt;</a></li>
  <li><a href="elements/trhtml">&lt;tr&gt;</a></li>
  <li><a href="elements/td.html">&lt;td&gt;</a></li>
  <li><a href="elements/th.html">&lt;th&gt;</a></li>
  <li><a href="elements/form.html">&lt;form&gt;</a></li>
  <li><a href="elements/lebelhtml">&lt;lebel&gt;</a></li>
  <li><a href="elements/input.html">&lt;input&gt;</a></li>
  <li><a href="elements/button.html">&lt;buttongt;</a></li>
  <li><a href="elements/select.html">&lt;select&gt;</a></li>
  <li><a href="elements/datalist.html">&lt;datalist&gt;</a></li>
  <li><a href="elements/optgroup.html">&lt;optgroup&gt;</a></li>
  <li><a href="elements/option.html">&lt;option&gt;</a></li>
  <li><a href="elements/progress.html">&lt;progress&gt;</a></li>
  <li><a href="elements/meter.html">&lt;meter&gt;</a></li>
  <li><a href="elements/fieldset.html">&lt;fieldset&gt;</a></li>
  <li><a href="elements/legend.html">&lt;legend&gt;</a></li>
  <li><a href="elements/details.html">&lt;details&gt;</a></li>
  <li><a href="elements/summary.html">&lt;summary&gt;</a></li>
  <li><a href="elements/dialog.html">&lt;dialog&gt;</a></li>
  <li><a href="elements/script.html">&lt;script&gt;</a></li>
  <li><a href="elements/noscript.html">&lt;noscript&gt;</a></li>
  <li><a href="elements/template.html">&lt;template&gt;</a></li>
  <li><a href="elements/canvas.html">&lt;canvas&gt;</a></li>
</ul>