<ul>
  <details>
    <summary>HTML</summary>
    <ul>
      <li><a href="HTML_basics">Основы HTML</a></li>
      <li><a href="elements">Список элементов (тегов)</a></li>
    </ul>
  </details>
  <details>
    <summary>Несортированное</summary>
    <ul>
      <li><a href="dom">DOM</a></li>
      <li><a href="attributes">attributes</a></li>
      <li><a href="properties">свойства</a></li>
    </ul>
  </details>
</ul>