<ul class='list_no-marked'>
  {% for item in html_elem %}
  <li><a href="{{item.name}}.html">&lt;{{item.name}}&gt;</a>
  {% endfor %}
</ul>

{# из-за имени массива html_elements по какой-то причене не генерировался список #}
{# пришлось исправыить на html_elem #}