<input type="search" placeholder="не работает">

<ul>
  <li><a href="elements/html">&lt;html&gt;</a></li>
  <li><a href="elements/head">&lt;head&gt;</a></li>
  <li><a href="elements/title">&lt;title&gt;</a></li>
  <li><a href="elements/base">&lt;base&gt;</a></li>
  <li><a href="elements/link">&lt;link&gt;</a></li>
  <li><a href="elements/meta">&lt;meta&gt;</a></li>
  <li><a href="elements/style">&lt;style&gt;</a></li>
  <li><a href="elements/body">&lt;body&gt;</a></li>
  <li><a href="elements/article">&lt;article&gt;</a></li>
  <li><a href="elements/section">&lt;section&gt;</a></li>
  <li><a href="elements/nav">&lt;nav&gt;</a></li>
  <li><a href="elements/aside">&lt;aside&gt;</a></li>
  <li><a href="elements/h1">&lt;h1&gt;</a></li>
  <li><a href="elements/h2">&lt;h2&gt;</a></li>
  <li><a href="elements/h4">&lt;h4&gt;</a></li>
  <li><a href="elements/h5">&lt;h5&gt;</a></li>
  <li><a href="elements/h6">&lt;h6&gt;</a></li>
  <li><a href="elements/header">&lt;header&gt;</a></li>
  <li><a href="elements/footer">&lt;footer&gt;</a></li>
  <li><a href="elements/p">&lt;p&gt;</a></li>
  <li><a href="elements/address">&lt;address&gt;</a></li>
  <li><a href="elements/hr">&lt;hr&gt;</a></li>
  <li><a href="elements/pre">&lt;pre&gt;</a></li>
  <li><a href="elements/blockquote">&lt;blockquote&gt;</a></li>
  <li><a href="elements/ol">&lt;ol&gt;</a></li>
  <li><a href="elements/ul">&lt;ul&gt;</a></li>
  <li><a href="elements/li">&lt;li&gt;</a></li>
  <li><a href="elements/dl">&lt;dl&gt;</a></li>
  <li><a href="elements/dt">&lt;dt&gt;</a></li>
  <li><a href="elements/dd">&lt;dd&gt;</a></li>
  <li><a href="elements/figure">&lt;figure&gt;</a></li>
  <li><a href="elements/figuration">&lt;figuration&gt;</a></li>
  <li><a href="elements/main">&lt;main&gt;</a></li>
  <li><a href="elements/div">&lt;div&gt;</a></li>
  <li><a href="elements/a">&lt;a&gt;</a></li>
  <li><a href="elements/em">&lt;em&gt;</a></li>
  <li><a href="elements/strong">&lt;strong&gt;</a></li>
  <li><a href="elements/small">&lt;small&gt;</a></li>
  <li><a href="elements/s">&lt;s&gt;</a></li>
  <li><a href="elements/cite">&lt;cite&gt;</a></li>
  <li><a href="elements/q">&lt;q&gt;</a></li>
  <li><a href="elements/dfn">&lt;dfn&gt;</a></li>
  <li><a href="elements/abbr">&lt;abbr&gt;</a></li>
  <li><a href="elements/ruby">&lt;ruby&gt;</a></li>
  <li><a href="elements/rb">&lt;rb&gt;</a></li>
  <li><a href="elements/rt">&lt;rt&gt;</a></li>
  <li><a href="elements/rtc">&lt;rtc&gt;</a></li>
  <li><a href="elements/rp">&lt;rp&gt;</a></li>
  <li><a href="elements/data">&lt;data&gt;</a></li>
  <li><a href="elements/time">&lt;time&gt;</a></li>
  <li><a href="elements/code">&lt;code&gt;</a></li>
  <li><a href="elements/var">&lt;var&gt;</a></li>
  <li><a href="elements/samp">&lt;samp&gt;</a></li>
  <li><a href="elements/kbd">&lt;kbd&gt;</a></li>
  <li><a href="elements/sub">&lt;sub&gt;</a></li>
  <li><a href="elements/sup">&lt;sup&gt;</a></li>
  <li><a href="elements/i">&lt;i&gt;</a></li>
  <li><a href="elements/b">&lt;b&gt;</a></li>
  <li><a href="elements/u">&lt;u&gt;</a></li>
  <li><a href="elements/mark">&lt;mark&gt;</a></li>
  <li><a href="elements/bdi">&lt;bdi&gt;</a></li>
  <li><a href="elements/bdo">&lt;bdo&gt;</a></li>
  <li><a href="elements/span">&lt;span&gt;</a></li>
  <li><a href="elements/br">&lt;br&gt;</a></li>
  <li><a href="elements/wbr">&lt;wbr&gt;</a></li>
  <li><a href="elements/ins">&lt;ins&gt;</a></li>
  <li><a href="elements/del">&lt;del&gt;</a></li>
  <li><a href="elements/picture">&lt;picture&gt;</a></li>
  <li><a href="elements/img">&lt;img&gt;</a></li>
  <li><a href="elements/iframe">&lt;iframe&gt;</a></li>
  <li><a href="elements/embded">&lt;embded&gt;</a></li>
  <li><a href="elements/object">&lt;object&gt;</a></li>
  <li><a href="elements/param">&lt;param&gt;</a></li>
  <li><a href="elements/video">&lt;video&gt;</a></li>
  <li><a href="elements/audio">&lt;audio&gt;</a></li>
  <li><a href="elements/track">&lt;track&gt;</a></li>
  <li><a href="elements/map">&lt;map&gt;</a></li>
  <li><a href="elements/area">&lt;area&gt;</a></li>
  <li><a href="elements/table">&lt;table&gt;</a></li>
  <li><a href="elements/caption">&lt;caption&gt;</a></li>
  <li><a href="elements/colgroup">&lt;colgroup&gt;</a></li>
  <li><a href="elements/col">&lt;col&gt;</a></li>
  <li><a href="elements/tbody">&lt;tbody&gt;</a></li>
  <li><a href="elements/thead">&lt;thead&gt;</a></li>
  <li><a href="elements/tfoot">&lt;tfoot&gt;</a></li>
  <li><a href="elements/tr">&lt;tr&gt;</a></li>
  <li><a href="elements/td">&lt;td&gt;</a></li>
  <li><a href="elements/th">&lt;th&gt;</a></li>
  <li><a href="elements/form">&lt;form&gt;</a></li>
  <li><a href="elements/lebel">&lt;lebel&gt;</a></li>
  <li><a href="elements/input">&lt;input&gt;</a></li>
  <li><a href="elements/button">&lt;button&gt;</a></li>
  <li><a href="elements/select">&lt;select&gt;</a></li>
  <li><a href="elements/datalist">&lt;datalist&gt;</a></li>
  <li><a href="elements/optgroup">&lt;optgroup&gt;</a></li>
  <li><a href="elements/option">&lt;option&gt;</a></li>
  <li><a href="elements/progress">&lt;progress&gt;</a></li>
  <li><a href="elements/meter">&lt;meter&gt;</a></li>
  <li><a href="elements/fieldset">&lt;fieldset&gt;</a></li>
  <li><a href="elements/legend">&lt;legend&gt;</a></li>
  <li><a href="elements/details">&lt;details&gt;</a></li>
  <li><a href="elements/summary">&lt;summary&gt;</a></li>
  <li><a href="elements/dialog">&lt;dialog&gt;</a></li>
  <li><a href="elements/script">&lt;script&gt;</a></li>
  <li><a href="elements/noscript">&lt;noscript&gt;</a></li>
  <li><a href="elements/template">&lt;template&gt;</a></li>
  <li><a href="elements/canvas">&lt;canvas&gt;</a></li>
</ul>