<section class="toc">
  <h2>Содержание</h2>
  <details class="toc__section">
    <summary>1. Введение</summary>
    <ul>
      <li><a href="#">1.1. Цель</a>
      <li><a href="#">1.2. Требования</a>
      <li><a href="#">1.3. Терминология</a>
      <li><a href="#">1.4. Общее описание</a>
    </ul>
  </details>
  <details class="toc__section">
    <summary>2. Письменные соглашения и обобщенная грамматика</summary>
    <ul>
      <li><a href="#">2.1. Увеличенная нормальная запись Бекуса-Наура (BNF)</a>
      <li><a href="#">2.2. Основные правила</a>
    </ul>
  </details>
  <details class="toc__section">
    <summary>3. Параметры протокола</summary>
    <ul>
      <li><a href="#">3.1. Версия HTTP</a>
      <li>
        <details>
          <summary>3.2. Универсальные Идентификаторы Ресурсов (URI)</summary>
          <ul>
            <li><a href="#">3.2.1. Общий синтаксис</a>
            <li><a href="#">3.2.2. HTTP URL</a>
            <li><a href="#">3.2.3. Сравнение URI</a>
          </ul>
        </details>
      </li>
      <li><a href="#">3.4. Кодовые таблицы (character sets)</a>
      <li><a href="#">3.5. Кодирование содержимого (content codings)</a>
      <li><a href="#">3.6. Кодирование передачи (transfer codings)</a>
      <li><a href="#">3.7. Медиа типы (Media Types)</a>
      <li><a href="#">3.8. Лексемы программ (Product Tokens)</a>
    </ul>
  </details>
</section>