<ul>
  <details>
    <summary>Основы JavaScript</summary>
    <ul>
      <li><a href="variables">variables<em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
      <li><a href="types">types<em class="tip tip_red" data-tip-text="не понятен symbol">&#10007;</em></a></li>
      <li><a href="operators">operators<em class="tip tip_red" data-tip-text="ЕСТЬ НЕ ПРОЙДЕННОЕ">&#10007;</em></a></li>
      <li><a href="loops">loops<em class="tip tip_red" data-tip-text="начато..">&#10007;</em></a></li>
      <li><a href="methods">methods<em class="tip tip_red" data-tip-text="Только alert, prompt и confirm">&#10007;</em></a></li>
      <li><a href="statements">statements<em class="tip tip_red" data-tip-text="начато..">&#10007;</em></a></li>
      <li><a href="functions">functions<em class="tip tip_red" data-tip-text="начато..">&#10007;</em></a></li>
      <li><a href="global_objects">global objects<em class="tip tip_red" data-tip-text="начато..">&#10007;</em></a></li>
      <li><a href="memory_management">memory management<em class="tip tip_red" data-tip-text="начато..">&#10007;</em></a></li>
    </ul>
  </details>
  <details>
    <summary>ООП</summary>
    <ul>
      <li><a href="oop">oop_test</a></li>
    </ul>
  </details>
</ul>