<ul>
  {% for item in javascript_docs %}
  <details>
    <summary>{{item.category}}</summary>
    <ul>
    {% for subitem in item.subcategories %}
      <li><a href="{{path}}{{subitem.link}}">{{subitem.name}}</a></li>
    {% endfor %}
    </ul>
  </details>
  {% endfor %}
</ul>