<ul>
  <details>
    <summary>Основы JavaScript</summary>
    <ul>
      <li><a href="variables">переменные<em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
      <li><a href="types">типы<em class="tip tip_red" data-tip-text="не понятен symbol">&#10004;</em></a></li>
      <li><a href="operators">операторы<em class="tip tip_red" data-tip-text="ЕСТЬ НЕ ПРОЙДЕННОЕ">&#10004;</em></a></li>
      <li><a href="loops">циклы<em class="tip tip_red" data-tip-text="начато..">&#10004;</em></a></li>
      <li><a href="methods">методы<em class="tip tip_red" data-tip-text="Только alert, prompt и confirm">&#10004;</em></a></li>
      <li><a href="statements">конструкции<em class="tip tip_red" data-tip-text="начато..">&#10004;</em></a></li>
      <li><a href="functions">функции<em class="tip tip_red" data-tip-text="начато..">&#10004;</em></a></li>
    </ul>
  </details>
  <details>
    <summary>ООП</summary>
    <ul>
      <li><a href="oop">oop_test</a></li>
    </ul>
  </details>
</ul>