<h3>Терминология</h3>

<nav class="nav_checklist">
  <a href="functions/definition" data-uncompleted>definition</a>
  <a href="functions/call" data-uncompleted>сalling</a>
  <a href="functions/hoisting">hoisting</a>
  <a href="functions/scope">scope</a>
  <a href="functions/stack">function stack</a>
  <a href="functions/closures">closures</a>
  <a href="functions/name_conflicts">name conflicts</a>
  <a href="functions/arguments">arguments</a>
  <a href="functions/parameters">parameters</a>
  <a href="functions/arrow_functions">arrow functions</a>
  <a href="functions/this">this</a>
  <a href="functions/throw">throw</a>
  <a href="memory_management/garbage_collection" data-completed>garbage collector</a>
</nav>