<h3>Терминология</h3>

<nav class="nav_checklist">
  <a href="functions/definition/definition.html" data-uncompleted>definition</a>
  <a href="functions/definition/call.html" data-uncompleted>сalling</a>
  <a href="functions/definition/hoisting.html">hoisting</a>
  <a href="functions/definition/scope.html">scope</a>
  <a href="functions/definition/stack.html">function stack</a>
  <a href="functions/definition/closures.html">closures</a>
  <a href="functions/definition/name_conflicts.html">name conflicts</a>
  <a href="functions/definition/arguments.html">arguments</a>
  <a href="functions/definition/parameters.html">parameters</a>
  <a href="functions/definition/arrow_functions.html">arrow functions</a>
  <a href="functions/definition/this.html">this</a>
  <a href="functions/definition/throw.html">throw</a>
  <a href="memory_management/garbage_collection/garbage_collection.html" data-completed>garbage collector</a>
</nav>