<h3>Терминология</h3>

<nav class="nav_checklist">
  <a href="functions/declaration.html" data-uncompleted>function declaration</a>
  <a href="functions/call.html" data-uncompleted>сalling functions</a>
  <a href="functions/hoisting.html">hoisting</a>
  <a href="functions/scope.html">scope</a>
  <a href="functions/stack.html">function stack</a>
  <a href="functions/closures.html">closures</a>
  <a href="functions/name_conflicts.html">name conflicts</a>
  <a href="functions/arguments.html">arguments</a>
  <a href="functions/parameters.html">parameters</a>
  <a href="functions/arrow_functions.html">arrow functions</a>
  <a href="functions/this.html">this</a>
  <a href="functions/throw.html">throw</a>
  <a href="memory_management/garbage_collection.html" data-completed>garbage collector</a>
</nav>