<section>
  <h4>Значения</h4>
  <ul>
    <li><a href="global_objects/#.html">Infinity<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">NaN<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">undefined<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">null<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Функции</h4>
  <ul>
    <li><a href="#">eval()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">uneval()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">isFinite()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">isNaN()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">parseFloat()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">parseInt()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">decodeURI()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">decodeURIComponent()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">encodeURI()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">encodeURIComponent()<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Фундаментальные объекты</h4>
  <ul>
    <li><a href="global_objects/object.html">Object<em class="tip tip_red" data-tip-text="изучить">&#10004;</em></a></li>
    <li><a href="#">Function<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Boolean<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Symbol<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Error<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">EvalError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">InternalError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">RangeError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">ReferenceError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">SyntaxError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">TypeError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">URIError<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Числа и даты</h4>
  <ul>
    <li><a href="#">Number<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Math<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Date<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Обработка текста</h4>
  <ul>
    <li><a href="#">String<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">RegExp<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Индексированные коллекции</h4>
  <ul>
    <li><a href="#">Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Int8Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Uint8Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Uint8ClampedArray<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Int16Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Uint16Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Int32Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Uint32Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Float32Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Float64Array<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Индексированные коллекции</h4>
  <ul>
    <li><a href="#">Map<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Set<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">WeakMap<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">WeakSet<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Структурированные данные</h4>
  <ul>
    <li><a href="#">ArrayBuffer<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">DataView<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">JSON<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Объекты управляющих абстракций</h4>
  <ul>
    <li><a href="#">Promise<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Рефлексия</h4>
  <ul>
    <li><a href="#">Reflect<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Proxy<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Интернационализация</h4>
  <ul>
    <li><a href="#">Intl<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.Collator<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.DateTimeFormat<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.NumberFormat<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Интернационализация</h4>
  <ul>
    <li><a href="#">Intl<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.Collator<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.DateTimeFormat<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Intl.NumberFormat<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>

<section>
  <h4>Нестандартные объекты</h4>
  <ul>
    <li><a href="#">Generator<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">Iterator<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">ParallelArray<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
    <li><a href="#">StopIteration<em class="tip tip_red" data-tip-text="изучить">&#10007;</em></a></li>
  </ul>
</section>