<input type="search" placeholder="сделать поиск">

<section>
  <h4>Значения</h4>
  <nav class="nav_checklist">
    <a href="#">Infinity</a>
    <a href="#">NaN</a>
    <a href="global_objects/undefined.html" data-completed>undefined</a>
    <a href="global_objects/null.html" data-completed>null</a>
  </nav>
</section>

<section>
  <h4>Функции</h4>
  <nav class="nav_checklist">
    <a href="#">eval()</a>
    <a href="#">uneval()</a>
    <a href="#">isFinite()</a>
    <a href="#">isNaN()</a>
    <a href="#">parseFloat()</a>
    <a href="#">parseInt()</a>
    <a href="#">decodeURI()</a>
    <a href="#">decodeURIComponent()</a>
    <a href="#">encodeURI()</a>
    <a href="#">encodeURIComponent()</a>
  </nav>
</section>

<section>
  <h4>Фундаментальные объекты</h4>
  <nav class="nav_checklist">
    <a href="global_objects/object.html" data-completed>Object</a>
    <a href="#">Function</a></li>
    <a href="global_objects/boolean.html" data-completed>Boolean</a>
    <a href="global_objects/symbol.html" data-completed>Symbol</a>
    <a href="#">Error</a>
    <a href="#">EvalError</a>
    <a href="#">InternalError</a>
    <a href="#">RangeError</a>
    <a href="#">ReferenceError</a>
    <a href="#">SyntaxError</a>
    <a href="#">TypeError</a>
    <a href="#">URIErro</a>
  </nav>
</section>

<section>
  <h4>Числа и даты</h4>
  <nav class="nav_checklist">
    <a href="global_objects/number.html" data-completed>Number</a>
    <a href="#">Math</a>
    <a href="#">Date</a>
  </nav>
</section>

<section>
  <h4>Обработка текста</h4>
  <nav class="nav_checklist">
    <a href="global_objects/string.html" data-completed>String</a>
    <a href="#">RegExp</a>
  </nav>
</section>

<section>
  <h4>Индексированные коллекции</h4>
  <nav class="nav_checklist">
    <a href="#">Array</a>
    <a href="#">Int8Array</a>
    <a href="#">Uint8Array</a>
    <a href="#">Uint8ClampedArray</a>
    <a href="#">Int16Array</a>
    <a href="#">Uint16Array</a>
    <a href="#">Int32Array</a>
    <a href="#">Uint32Array</a>
    <a href="#">Float32Array</a>
    <a href="#">Float64Array</a>
  </nav>
</section>

<section>
  <h4>Индексированные коллекции</h4>
  <nav class="nav_checklist">
    <a href="#">Map</a>
    <a href="global_objects/set.html" data-completed>Set</a>
    <a href="#">WeakMap</a>
    <a href="#">WeakSet</a>
  </nav>
</section>

<section>
  <h4>Структурированные данные</h4>
  <nav class="nav_checklist">
    <a href="#">ArrayBuffer</a>
    <a href="#">DataView</a>
    <a href="#">JSON</a>
  </nav>
</section>

<section>
  <h4>Объекты управляющих абстракций</h4>
  <nav class="nav_checklist">
    <a href="#">Promise</a>
  </nav>
</section>

<section>
  <h4>Рефлексия</h4>
  <nav class="nav_checklist">
    <a href="#">Reflect</a>
    <a href="#">Proxy</a>
  </nav>
</section>

<section>
  <h4>Интернационализация</h4>
  <nav class="nav_checklist">
    <a href="#">Intl</a>
    <a href="#">Intl.Collator</a>
    <a href="#">Intl.DateTimeFormat</a>
    <a href="#">Intl.NumberFormat</a>
  </nav>
</section>

<section>
  <h4>Нестандартные объекты</h4>
  <nav class="nav_checklist">
    <a href="#">Generator</a>
    <a href="#">Iterator</a>
    <a href="#">ParallelArray</a>
    <a href="#">StopIteration</a>
  </nav>
</section>