<ul>
  <li><a href="methods/alert.html">alert()</a>     <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="methods/prompt.html">prompt()</a>   <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li> 
  <li><a href="methods/confirm.html">confirm()</a> <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
</ul>

<section>
  <h2>Методы массивов</h2>
  <ul>
    <li><a href="methods/filter.html">filter()</a> <em class="tip" data-tip-text="начато" style="background: tomato;">&#10004;</em></li>
  </ul>
</section>