<nav class="nav_checklist">
  <a href="memory_management/garbage_collection.html" data-uncompleted>garbage collection</a>
  <a href="memory_management/mark_and_sweep.html" data-uncompleted>mark-and-sweep</a>
</nav>