<input type="search" placeholder="сделать поиск">

<br>
<br>

<nav class="nav_checklist">
  <a href="methods/alert" data-completed>alert()</a>
  <a href="methods/prompt" data-completed>prompt()</a>
  <a href="methods/confirm" data-completed>confirm()</a>
</nav>


<section>
  <h2>Методы массивов</h2>
  <nav class="nav_checklist">
    <a href="methods/filter" data-completed>filter()</a>
    <a href="methods/sort" data-completed>sort()</a>
  </nav>
</section>

<section>
  <h3>Методы <em>Object</em></h3>
  <nav class="nav_checklist">
    <a href="methods/assign">Object.assign()</a>
    <a href="methods/create">Object.create()</a>
    <a href="methods/define_property">Object.defineProperty()</a>
    <a href="methods/define_properties">Object.defineProperties()</a>
    <a href="methods/freeze" data-completed>Object.freeze()</a>
    <a href="methods/get_own_property_descriptor">Object.getOwnPropertyDescriptor()</a>
    <a href="methods/get_own_property_names">Object.getOwnPropertyNames()</a>
    <a href="methods/get_own_property_symbols.html">Object.getOwnPropertySymbols()</a>
    <a href="methods/get_prototype_of">Object.getPrototypeOf()</a>
    <a href="methods/is">Object.is()</a>
    <a href="methods/is_extensible">Object.isExtensible()</a>
    <a href="methods/is_frozen">Object.isFrozen()</a>
    <a href="methods/is_sealed">Object.isSealed()</a>
    <a href="methods/keys">Object.keys()</a>
    <a href="methods/observe">Object.observe()</a>
    <a href="methods/prevent_extensions">Object.preventExtensions()</a>
    <a href="methods/seal">Object.seal()</a>
    <a href="methods/set_prototype_of">Object.setPrototypeOf()</a>
  </nav>
</section>