<ul>
  <li><a href="memory_management/garbage_collection.html">garbage collection<em class="tip tip_red" data-tip-text="разобрать">&#10007;</em></a></li>
  <li><a href="memory_management/mark_and_sweep.html">mark-and-sweep<em class="tip tip_red" data-tip-text="разобрать">&#10007;</em></a></li> 
</ul>