<ul>
  <li><a href="methods/alert.html">alert()</a>     <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="methods/prompt.html">prompt()</a>   <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li> 
  <li><a href="methods/confirm.html">confirm()</a> <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
</ul>