<section>
  <h5>Арифметические операторы</h5>
  <ul>
    {% for item in arithmetic_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Инкремент и декремент</h5>
  <ul>
    {% for item in increment_and_decrement %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Унарные операторы</h5>
  <ul>
    {% for item in unary_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Операторы сравнения</h5>
  <ul>
    {% for item in comparison_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Операторы равенства</h5>
  <ul>
    {% for item in equality_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Побитовые операторы</h5>
  <ul>
    {% for item in bitwise_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Логические операторы</h5>
  <ul>
    {% for item in logical_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Операторы присваивания</h5>
  <ul>
    {% for item in assignment_operators %}
    <li><a href="{{item.link}}"><span>{{item.name}}</span>{{item.description}}</a>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Прочее</h5>
  <ul name="javascript-operators">
    <li><a href="comma.html">запятая</a></li>
    <li><a href="operator-precedence.html">приоритет операторов</a></li>
  </ul>
</section>