<ul class="list_no-marked">
  <li><a href="addition">+</a></li>
  <li><a href="subtraction">-</a></li>
  <li><a href="division">/</a></li>
  <li><a href="multiplication">*</a></li>
  <li><a href="remainder">%</a></li>
  <li><a href="exponentiation">**</a></li>
  <li><a href="increment">i++</a></li>
  <li><a href="decrement">i--</a></li>
  <li><a href="unary_plus">+i</a></li>
  <li><a href="unary_negation">-i</a></li>
  <li><a href="logical_not">!</a></li>
  <li><a href="greater_than">></a></li>
  <li><a href="less_than"><</a></li>
  <li><a href="greater_than_or_equal">>=</a></li>
  <li><a href="less_than_or_equal"><=</a></li>
  <li><a href="equality">==</a></li>
  <li><a href="inequality">!=</a></li>
  <li><a href="identity">===</a></li>
  <li><a href="nonidentity">!==</a></li>
  <li><a href="bitwise_and">&</a></li>
  <li><a href="bitwise_or">|</a></li>
  <li><a href="bitwise_xor">^</a></li>
  <li><a href="logical_and">&&</a></li>
  <li><a href="logical_or">||</a></li>
  <li><a href="conditional_operator">?</a></li>
  <li><a href="assignment">=</a></li>
  <li><a href="multiplication_assignment">*=</a></li>
  <li><a href="division_assignment">/=</a></li>
  <li><a href="remainder_assignment">%=</a></li>
  <li><a href="addition_assignment">+=</a></li>
  <li><a href="subtraction_assignment">-=</a></li>
  <li><a href="left_shift_assignment"> <<= </a></li>
  <li><a href="right_shift_assignment"> >>= </a></li>
  <li><a href="unsigned_right_shift_assignment"> >>>= </a></li>
  <li><a href="bitwise_and_assignment">&=</a></li>
  <li><a href="bitwise_xor_assignment">^=</a></li>
  <li><a href="bitwise_or_assignment">|=</a></li>
  <li><a href="comma">,</a></li>
</ul>