<ul>
  <li><a href="statements/if.html">if<em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="statements/else_if.html">else...if<em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li> 
  <li><a href="statements/switch.html">switch<em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
</ul>