<nav class="nav_checklist">
  <a href="statements/if.html" data-completed>if</a>
  <a href="statements/else_if.html" data-completed>else...if</a>
  <a href="statements/switch.html" data-completed>switch</a>
</nav>