<ul>
  <li><a href="statements/if.html">if</a>       <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="statements/else_if.html">else...if</a>       <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li> 
  <li><a href="statements/switch.html">switch</a>     <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="#">-</a>       <em class="tip" data-tip-text="НЕ ПОНЯТНО" style="background: tomato;">&#10004;</em></li>
</ul>