<ul>
  <li><a href="types/number.html"><span title="числа">number</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="types/string.html"><span title="строки">string</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li> 
  <li><a href="types/boolean.html"><span title="true/false">boolean</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="types/null.html"><span title="значение неизвестно">null</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="types/undefined.html"><span title="значение не было присвоено">undefined</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="types/object.html"><span title="объект">object</span><em class="tip tip_green" data-tip-text="все понятно">&#10004;</em></a></li>
  <li><a href="types/symbol.html"><span title="символ">symbol</span><em class="tip tip_red" data-tip-text="НЕ ПОНЯТНО">&#10004;</em></a></li>
</ul>

<ul>
  <li><a href="types/type_conversions.html"><span>преобразования типов</span><em class="tip tip_red" data-tip-text="начато">&#10004;</em></a></li>
</ul>