<ul>
  <li><a href="number.html">number</a>       <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="string.html">string</a>       <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li> 
  <li><a href="boolean.html">boolean</a>     <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="null.html">null</a>           <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="undefined.html">undefined</a> <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="object.html">object</a>       <em class="tip" data-tip-text="все понятно" style="background: chartreuse;">&#10004;</em></li>
  <li><a href="symbol.html">symbol</a>       <em class="tip" data-tip-text="НЕ ПОНЯТНО" style="background: tomato;">&#10004;</em></li>
</ul>

<ul>
  <li><a href="type_conversions.html">преобразования типов</a> <em class="tip" data-tip-text="начато" style="background: tomato;">&#10004;</em></li>
</ul>