<input type="checkbox" id="nav-toggle" hidden>
<label for="nav-toggle" class="nav__toggle" onclick></label>
<nav class="nav nav_main">
  <ul>
    <li><a href="/about.html">About me</a>
    <li><a href="/portfolio/">Works</a>
    <li><a href="/docs/">Reference</a>
  </ul>
</nav>