<nav class="nav">
  <ul class="list">
    <li class="list__item"><span>HTML</span>{% include html_list %}</li>
    <li class="list__item"><span>CSS</span>{% include css_list %}</li>
    <li class="list__item"><span>JavaScript</span>{% include javascript_list %}</li>
  </ul>
</nav>