<h1>Метод <em>{{document}}()</em></h1>
<p>Отображает предупреждающее диалоговое окно.</p>
{% set example_id = 'alert_method' %}
{% set numeration = true %}
{% set js         = true %}
{% set running    = true %}
{% include codeExample %}