<h1>CSS селекторы</h1>


<section>
  <hr>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://learn.javascript.ru/css-selectors">Знаете ли вы селекторы?</a></li>
    <li><a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_%D0%A1%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B">CSS-селекторы</a></li>
    <li><a href="https://webformyself.com/30-selektorov-css-kotorye-nuzhno-zapomnit/">30 селекторов CSS, которые нужно запомнить</a></li>
    <li><a href="https://webref.ru/layout/advanced-html-css/complex-selectors">Комплексные селекторы</a></li>
  </ul>
</section>