    <li>{% include learn_javascript_icon %}<a href="https://learn.javascript.ru/types#bulevyy-logicheskiy-tip">Булевый (логический) тип</a></li>
    <li>{% include learn_javascript_icon %}<a href="https://learn.javascript.ru/logical-operators">Логические операторы</a></li>