<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/types">Типы данных</a></li>
<li>{% include medium_icon %}<a target="_blank" href="https://medium.com/devschacht/javascript-typeof-43591ab15bef">Разбираемся в проверке JavaScript-типов с помощью typeof</a></li>
<li>{% include habr_icon %}<a target="_blank" href="https://habr.com/ru/post/161205/">Ликбез по типизации в языках программирования</a></li>