<li><a href="https://learn.javascript.ru/types">learn.javascript.ru/types</a></li>
<li><a href="https://medium.com/devschacht/javascript-typeof-43591ab15bef">разбираемся в проверке JavaScript-типов с помощью typeof</a></li>
<li><a href="https://habr.com/ru/post/161205/">ликбез по типизации в языках программирования</a></li>