<h1>&lt;{{document}}&gt;</h1>
{% set example_id  = 'base' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = true %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = false %}
{% set demo        = false %}
{% include codeExample %}