{% extends "base.njk" %}

{# variables #}
{% set title        = 'division' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Division operator in JavaScript</title>
  <meta name="description" content="Оператор делит два операнда, где левый - это делимый операнд, a правый - его делитель." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }} [ / ]</h1>
  <small>группа: арифметические операторы</small>
  <p>Оператор <b>деление</b> возвращает частное двух операндов, где левый - это делимый операнд, a правый - его делитель.</p>

  {% set example_id = 'division' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>0.5</td>
      <td>результат деления значения <b>x</b> на зеачение <b>y</b></td>
    </tr>
  </table>

{% endblock %}