<h1>DOM (Document Object Model)</h1>
<p><em>DOM</em> - это модель документа, которая представляет содержимое страницы в виде объектов.</p>
  <div class='columns'>
    <section>
        <h2>HTML</h2>
        <p>Пример простейшего HTML документа</p>
        {% set example_id  = 'dom' %}
        {% set numeration  = false %}
        {% set split       = false %}
        {% set html        = true %}
        {% set njk         = false %}
        {% set css         = false %}
        {% set js          = false %}
        {% set demo        = false %}
        {% include codeExample %}
    </section>
    <section>
      <h2>DOM</h2>
      <p>DOM представаляет HTML документ в виде дерева тегов</p>
      <img src="../../../img/docs/html/dom/dom-tree.jpg" alt="DOM дерево">
      <h3>Условные обозначения</h3>
      <table>
        <tr>
          <td style="width: 220px"><em>html</em> <em>head</em> <em>title</em> <em>body</em>  <em>p</em></td>
          <td>теги являются узлами-элементами</td>
        </tr>
        <tr>
          <td style="width: 220px"><em>#text: заголовок</em> <br> <em>#text: какой-то текст</em></td>
          <td>текстовые узлы</td>
        </tr>
        <tr>
          <td style="width: 220px"><em>#text:</em></td>
          <td>пустые текстовые узлы образуются из-за переноса строк и пробелов</td>
        </tr>
      </table>
      <p><a href="http://software.hixie.ch/utilities/js/live-dom-viewer/">Live DOM Viewer</a> - здесь можно увидеть как формируется DOM</p>
    </section>
    <section>
      <h2>Как это видит пользователь</h2>
      <img src="../../../img/docs/html/dom/render.jpg" alt="рендер HTML в браузере">
    </section>
  </div>


<hr>

<section>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction">https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction</a></li>
    <li><a href="https://learn.javascript.ru/browser-environment#dom-document-object-model">https://learn.javascript.ru/browser-environment#dom-document-object-model</a></li>
    <li><a href="https://proglib.io/p/what-is-dom/">https://proglib.io/p/what-is-dom/</a></li>
  </ul>
</section>