<h1>DOM (Document Object Model)</h1>
<a href="testing.html">testing</a>
<p><em>DOM</em> - это модель документа, которая представляет содержимое страницы в виде объектов.</p>

<div class='columns'>
  <section>
      <h2>Как выглядит HTML</h2>
      <p>Пример простейшего HTML документа</p>
      {% set example_id  = 'dom' %}
      {% set numeration  = false %}
      {% set split       = false %}
      {% set html        = true %}
      {% set njk         = false %}
      {% set css         = false %}
      {% set js          = false %}
      {% set demo        = false %}
      {% include codeExample %}
  </section>
  <section>
    <h2>Как выглядит DOM</h2>
    <p>DOM представаляет HTML документ в виде дерева тегов</p>
    <div style="background: white">
      <img src="../../../img/docs/html/dom/dom-tree.jpg" alt="DOM дерево">
    </div>
    <p><a href="http://software.hixie.ch/utilities/js/live-dom-viewer/">Live DOM Viewer</a> - здесь можно увидеть как формируется DOM</p>
  </section>
  <section>
    <h2>Как отрисовывает браузер</h2>
    <div style="background: white">
      <img src="../../../img/docs/html/dom/render.jpg" alt="рендер HTML в браузере">
    </div>
  </section>
</div>

<section>
  <h2>Условные обозначения</h2>
  <table>
    <tr>
      <td><em>html</em> <em>head</em> <em>title</em> <em>body</em> <em>p</em></td>
      <td>теги являются узлами-элементами, которые могут иметь потомков</td>
    </tr>
    <tr>
      <td><em>#text: any text</em></td>
      <td>текстовые узлы, содержат в себе только строку текста и у него не может быть потомков</td>
    </tr>
    <tr>
      <td><em>#text:</em></td>
      <td>пустые текстовые узлы образуются из-за переноса строк и пробелов</td>
    </tr>
  </table>
</section>

<div class="columns">
  <section>
    <h2>Выборка DOM элементов в консоли</h2>
    <p>Как быстро получить узел из Elements в Console?</p>
    <p>Чтобы быстро открыть консоль находясь в режиме инпектирования, можно нажать <kbd>Esc</kbd></p>
    <figure>
      <p><img src="../../../img/docs/html/dom/consol_selectors.gif" alt="выборка DOM в консоли"></p>
      <figcaption>Источник: <a href="https://habr.com/ru/post/254007/">https://habr.com/ru/post/254007/</a></figcaption>
    </figure>
    <table>
      <caption>Некоторые комманды</caption>
      <tr>
        <td>$ ('DIV')</td>
        <td>выделит первый элемент DIV на странице</td>
      </tr>
      <tr>
        <td>$$ ('DIV')</td>
        <td>веведет список всех DIV-ов на странице</td>
      </tr>
      <tr>
        <td>$0</td>
        <td>выделит последний элемент, выбранный во вкладке Elements</td>
      </tr>
      <tr>
        <td>$1</td>
        <td>выделит предпоследний элемент, выбранный во вкладке Elements</td>
      </tr>
      <tr>
        <td>$0.style.background = 'red'</td>
        <td>сделает выбраный элемент красным</td>
      </tr>
    </table>
  </section>

</div>



<section>
  <hr>
  <h4>Источники знаний:</h4>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction">What is the DOM?</a></li>
    <li><a href="https://learn.javascript.ru/dom-nodes">DOM дерево</a></li>
    <li><a href="https://proglib.io/p/what-is-dom/">Что такое DOM и чем не является?</a></li>
    <li><a href="https://habr.com/ru/post/254007/">15 советов и хитростей инструментов разработчика Chrome</a></li>
  </ul>
</section>