.aside_top {
  flex: 1 100%; /* не трогать */
  order: 1; /* не трогать */
  height: var(--asideTop-height); /* не трогать */
  overflow: auto; /* не трогать */
  background: whitesmoke;
  z-index: 20; /* должен быть выше чем у .banner */
  position: sticky;
  top: 50;
}

/* РЕШИТЬ ПОЗЖЕ */
/* на маленьких экранах нужно дать понять пользователям, что .aside_top можно скроллить влево/вправо */
/* сделать плавный автоскролл до последнего item (если он за пределами экрана) */