.aside_top {
  flex: 1 100%; /* не трогать */
  order: 1; /* не трогать */
  height: var(--asideTop-height); /* не трогать */
  overflow: auto; /* не трогать */
}

/* РЕШИТЬ ПОЗЖЕ */
/* на маленьких экранах нужно дать понять пользователям, что .aside_top можно скроллить влево/вправо */
/* сделать плавный автоскролл до последнего item (если он за пределами экрана) */

.LG > .aside_top {
  padding-left: var(--asideLeft-width); /* не трогать */
  padding-right: var(--asideRight-width); /* не трогать */
}