<h1>Вызов функций</h1>

<p>Вызов производится по <b>имени</b> функции:</p>

{% set example_id  = 'call_syntax' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}

<p>О выборе имен для функции написано <a href="https://learn.javascript.ru/function-basics#function-naming">здесь</a></p>



<br>
<br>
<br>
<a href="functions/declaration.html#function-definition">function-definition</a> <br>
<a href="functions/declaration.html#function-expression">function-expression</a>