<h1>Вызов функций</h1>

<p>Вызов производится по имени функции:</p>

{% set example_id  = 'call_syntax' %}
{% set numeration  = false %}
{% set split       = false %}
{% set html        = false %}
{% set njk         = false %}
{% set css         = false %}
{% set js          = true %}
{% set demo        = false %}
{% include codeExample %}