<h1>Объявление функций</h1>

<section id="function-declaration">
  <h2>Function declarations</h2>
  {% set example_id  = 'function_declaration' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
  <p>При вызове функции <em>funcName()</em>, значения в скобках копируются в локальную переменную <em>arg</em>, затем используются в теле функции.</p>
</section>

<section id="function-expression">
  <h2>Function expressions</h2>
  {% set example_id  = 'function_expression' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
</section>