<h1>Объявление функций</h1>

<section>
  <h2>Function declarations</h2>
  {% set example_id  = 'function_declaration' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}

  <p>Функция состоит следующих частей:</p>
  <ul>
    <li>ключевое слово <b>function</b></li>
    <li>имя функции</li>
    <li>параметры (в круглых скобках)</li>
    <li>инструкции (в фигурных скобках)</li>
  </ul>

  <p>При вызове функции <em>funcName()</em>, значения в скобках копируются в локальную переменную <em>arg</em>, затем используются в теле функции.</p>

</section>

<section>
  <h2>Function expressions</h2>
  {% set example_id  = 'function_expression' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
</section>