<h1>Объявление функций</h1>
<p>Здесь я попытаюсь понять какие бывают способы объявления функций, когда лучше использовать тот или иной способ, а так-же прочие тонкости.</p>

<section>
  <h2>Способы объявления</h2>
  <table>
    <tr>
      <td style="width:50%">
        <h3>method #1</h3>
        <small>объявление функции</small>
        {% set example_id  = 'method_1' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
      <td>
        <h3>method #2</h3>
        <small>функциональное выражение</small>
        {% set example_id  = 'method_2' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
    </tr>
      <td>
        <h3>method #3</h3>
        <small>функциональное выражение с группирующими операторами</small>
        {% set example_id  = 'method_3' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
      <td>
        <h3>method #4</h3>
        <small>именованное функциональное выражение</small>
        {% set example_id  = 'method_4' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
    </tr>
      <td>
        <h3>method #5</h3>
        <small>немедленно исполняемое функциональное выражение (IIFE), которое возвращает функцию</small>
        {% set example_id  = 'method_5' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
      <td>
        <h3>method #6</h3>
        <small>конструктор Function</small>
        {% set example_id  = 'method_6' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
    </tr>
    </tr>
      <td>
        <h3>method #7</h3>
        <small>особый случай: конструктор объекта</small>
        {% set example_id  = 'method_7' %}
        {% set js          = true %}
        {% include codeExample %}
      </td>
    </tr>
  </table>
  
</section>


<section id="function-definition">
  <h2>Function definition</h2>
  <p>через ключевое слово 'function'</p>
  {% set example_id  = 'function_definition' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
  <p>При вызове функции <em>funcName()</em>, значения в скобках копируются в локальную переменную <em>arg</em>, затем используются в теле функции.</p>
</section>

<section id="function-expression">
  <h2>Function expressions</h2>
  <p>в виде выражения</p>
  {% set example_id  = 'function_expression' %}
  {% set numeration  = false %}
  {% set split       = false %}
  {% set html        = false %}
  {% set njk         = false %}
  {% set css         = false %}
  {% set js          = true %}
  {% set demo        = false %}
  {% include codeExample %}
</section>