  <h1>Функции в JavaScript</h1>

  <p>Повторяющие части кода можно обеденить в функцию и вызвать ее по имени когда это необходимо.</p>

  <div class='columns columns_three'>
    <section>
        <h2>Объявление функции</h2>
        {% set example_id  = 'declaring_function' %}
        {% set numeration  = false %}
        {% set split       = false %}
        {% set html        = false %}
        {% set njk         = false %}
        {% set css         = false %}
        {% set js          = true %}
        {% set demo        = false %}
        {% include codeExample %}
    </section>
    <section></section>
    <section></section>
  </div>