<a data-icon="learn-js" href="https://learn.javascript.ru/function-basics#obyavlenie-funktsii">Объявление функции</a>
<a data-icon href="http://langtoday.com/?p=303">Разные способы определения функций в JavaScript (это сумасшествие!)</a>
<a  data-icon href="http://kangax.github.io/nfe/">Named function expressions demystified (by Juriy "kangax" Zaytsev)</a>