<li>{% include mdn_icon %}<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Guide/Functions">Функции</a></li>
<li>{% include learn_javascript_icon %}<a target="_blank" href="https://learn.javascript.ru/function-basics">Функции</a></li>