<a data-icon="mdn" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Guide/Functions">Functions</a>
<a data-icon="learn-js" href="https://learn.javascript.ru/function-basics">Function basics</a>