{% extends "base.njk" %}

{# variables #}

{# ===================================== #}

{% block head %}
  <title>Web Technology Reference</title>
  <meta name="description" content="These are my personal notes on web technologies. Everything written here is based on official documentation and my personal experience." />
{% endblock %}

{% block main %}

  <h1>Web docs</h1>

  <ul class="list list_tile">
    {% for category in docs %}
    <li>
      <a href="{{category.link}}">{{category.name}}</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}