{% extends "base.njk" %}

{# variables #}

{# ===================================== #}

{% block head %}
  <title>Web Technology Reference</title>
  <meta name="description" content="These are my personal notes on web technologies. Everything written here is based on official documentation and my personal experience." />
{% endblock %}

{% block main %}

  <h1>Web docs</h1>

  <div class="tile tile_small">
    {% for category in docs %}
    <div class="tile__item">
      <a href="{{category.link}}">{{category.name}}</a>
    </div>
    {% endfor %}
  </div>

{% endblock %}