<h1>UX наблюдения</h1>
<p>Случаи из реальной жизни, связанные с User Experience</p>

<dl>
  <dt>Всплывающие сообщения</dt>
   <dd>Пользователь сначала tap-tap в любом месте экрана с целью убрать уведомление. А уж потом жмут крестик. Но ход мыслей у всех разный. Кто-то может наоборот искать крестик. <b>Вывод: лучше оставить оба метода скрытия.</b></dd>
</dl>