<h1>Справочник по JavaScript</h1>
<p>Мои заметки по языку JavaScript. Выдержки из официальной документации, применение на практике</p>

<h2>Разбор JS приложений</h2>
<a href="apps">all apps</a>
{% include 'parts/navigation/js_apps.njk' %}