.tile > li {
  position: relative;
  display: grid;
  height: 0;
  padding-bottom: 100%;
  background: #eee;
  outline: 1px solid #dadada;
}

.tile > li > p,
.tile > li > a {
  margin: 0;
  position: absolute;
  top: calc(50% - 19px);
  left: 0;
  right: 0;
  text-align: center;
  background: red;
}

/* контейнер, содержащий ссылку и текст */
.tile div {
  /*display: grid;*/
  /*grid-template-rows: 40% 60%;*/
  /*position: absolute;*/
  /*top: 0;   */
  /*right: 0; */
  /*bottom: 0;*/
  /*left: 0;  */
}

/* для ссылок на всю ширину элемента */
.link_stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  background: yellow;
}

/*
.tile a > span {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  border: 2px solid #eee;
  background: white;
  box-sizing: border-box;
}

*/
.tile li:hover {
  outline: 1px solid black;
}

/*
.tile p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  grid-row: 2;
  text-align: center;
  font-size: 13px;
}

.tile button {
  justify-self: center;
  align-self: end;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

*/