.tile__item {
  display: grid;
  grid-auto-rows: max-content auto;
  text-decoration: none;
  border-radius: 3px;
  background: darkorchid;
  opacity: 0.7;
  position: relative;
}

/* "резиновые квадраты" */
.tile__item:after {
  content: "";
	padding-top: 100%;
}

/* hover & focus */
.tile__item:hover {
  opacity: 1;
}

.tile__item > a {
  position: absolute;
  display: block;
  text-align: center;
  padding-top: 40%;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
}

.tile__item > h3 {
  line-height: 2em;
  font-size: 0.6em;
  font-weight: 100;
  background: black;
  color: white;
  margin: 0;
  padding: 7px 10px;
  border-radius: 3px 3px 0 0;
}

.tile__item > p {
  font-size: 0.7em;
  background: #ecebeb;
  color: black;
  margin: 0;
  padding: 15px 10px;
  border-radius: 0 0 3px 3px;
}