.tile > li {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 100%;
  background: #eee;
  outline: 1px solid #dadada;
}

.tile li:hover {
  outline: 1px solid black;
}

/* общие стили для <p> и <a> */
.tile > li > p,
.tile > li > a {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

/* текст */
.tile > li > p {
  background: pink;
}

/* ссылка */
.tile > li > a {
  background: yellow;
}

/* ссылки на всю ширину элемента */
.tile > li > .link_stretch {
  transform: translate(0, 0);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: calc(50% - 0.7em);
  text-decoration: none;
}

/* кнопка */
.tile > li > button {
  position: absolute;
  bottom: 15%;
}