{% extends "base.njk" %}

{% set title       = 'Оператор строго НЕ равно в JS' %}
{% set description = 'Оператор возвращает true, если операнды не равны, или их типы отличаются друг от друга' %}

{% set document    = 'nonidentity' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'operators' %}
{% set subsegment  = 'nonidentity' %}

{% set syntax_highlight = true %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}