{% extends "base.njk" %}

{% set document    = 'checklist' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'lists' %}
{% set subsegment  = 'checklist' %}

{% block head %}
  <title>list_checklist</title>
  <meta name="description" content="Модификатор _checklist." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}