{% extends "base.njk" %}

{% set document    = 'lists' %}
{% set category    = 'docs' %}
{% set subcategory = 'css' %}
{% set segment     = 'lists' %}
{% set subsegment  = '' %}

{% set syntax_highlight = true %}

{% block head %}
  <title>Styling lists using the BEM methodology</title>
  <meta name="description" content="Примеры оформления списков с помощью CSS и БЭМ." />
  <script src="{{split_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block aside_right %}{% include aside_right %}{% endblock %}
{# block aside_bottom %}{% include aside_bottom %}{% endblock #}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>{% include split_init %}</script>
{% endblock %}