pre {
	box-sizing: border-box;
	width: 100%;
	margin: 15px 0;
	overflow: auto;
	font-size: 12px;
	line-height: 20px;
  background: #efefef;
  border-radius: 5px;
  box-shadow: 1px 1px 8px -6px black;
	padding: 10px;
	color: #333;
}

pre a {
  color: #333;
}