/* класс баннер делает секцию на вест экран */
.banner {
  display: grid;
  grid-auto-columns: auto auto;
  grid-auto-rows: 1fr 1fr;
  margin-top: calc(0px - var(--asideTop-height));
  margin-left: calc(0px - var(--main_padding-left));
  margin-right: calc(0px - var(--main_padding-right));
  margin-bottom: 0;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* затемнение для размещения светлого текста */
.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.banner > h1 {
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 3em;
  margin: 0;
}

.banner > p {
  justify-self: center;
  align-self: start;
  color: white;
}

/* список background-image */

.banner[name='hero'] {
  margin-top: 0; /* reset отступа --asideTop-height */
  background-image: url('img/australia-bay_large.jpg');
}


/* тест */
.banner[name='tile'] {
  background: pink;
}

.banner[name='tile'] > h1 {
  justify-self: end;
  align-self: end;
  font-size: 5em;
  grid-column: 1;
}

.banner[name='tile'] > p {
  justify-self: end;
  grid-column: 1;
  grid-row: 2;
}

.banner[name='tile'] > img {
  grid-column: 2;
  grid-row: 1 / 3;
  align-self: center;
}