/* класс баннер делает секцию на вест экран */
.banner {
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-column-gap: 20px;
  margin-top: 0;
  margin-left: calc(0px - var(--main_padding-left));
  margin-right: calc(0px - var(--main_padding-right));
  margin-bottom: 0;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.SM > .banner {
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

/* затемнение для размещения светлого текста */
.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* заголовки в .banner */
.banner > h1 {
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 3em;
  margin-bottom: 0;
}

.SM > .banner > h1 {
  
  align-self: end;
}

/* абзацы в .banner */
.banner > p {
  justify-self: center;
  text-align: center; 
  color: white;
}

.SM > .banner > p {
  align-self: start;
  text-align: right;
  grid-column: 1;
  grid-row: 2;
}

/* изображения в .banner */
.banner > img {
  max-width: 100%;
}

.SM > .banner > img {
  grid-column: 2;
  grid-row: 1 / 3;
}


/* список background-image */
.banner[name='hero'] {
  background-image: url('img/australia-bay_large.jpg');
  height: 60vh;
}

.banner[name='tire-fitting'] {
  grid-auto-rows: 30% 30px auto;
  background-image: url('img/tire-fitting/shinka_large.jpg');
  height: 100vh;
  justify-items: center;
}

.banner[name='tire-fitting'] h1 {
 text-transform: uppercase;
 font-size: 5em;
}

.banner[name='tire-fitting'] span {
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 4em;
  transform: rotate(-7deg);
}