{% extends "base.njk" %}

{# variables #}
{% set title        = 'присваивание' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}
{% set directory = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Оператор присваивания</title>
  <meta name="description" content="Оператор для присваивания значений в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>

  <section>
    {# assign #}
    {% set title = 'cинтаксис' %}
    {% set description = 'присваивание производится знаком равно ( = ).' %}
    {% set onclick = 'onclick=' %}
    {% set function = "assign()" %}
    {% set code = 'examples/javascript/operators/assign.njk' %}
    {% include codeExample %}
  </section>

  <section>
    {# assign_priority #}
    {% set title = 'приоритет присваивания' %}
    {% set description = 'оператор присваивания имеет низкий приоритет, поэтому сначала всегда производится арифметика, а затем результат присваивается переменной.' %}
    {% set onclick = 'onclick=' %}
    {% set function = "assign_priority()" %}
    {% set code = 'examples/javascript/operators/assign_priority.njk' %}
    {% include codeExample %}
    <table>
      <tr>
        <td>5</td>
        <td>сначала выполнены арифметические операции, затем результат присваивается переменной <b>x</b></td>
      </tr>
    </table>
  </section>

  <section>
    {# assign_by_chain #}
    {% set title = 'направление присваивания' %}
    {% set description = 'Производится справа налево.' %}
    {% set onclick = 'onclick=' %}
    {% set function = "assign_by_chain()" %}
    {% set code = 'examples/javascript/operators/assign_by_chain.njk' %}
    {% include codeExample %}
    <table>
      <tr>
        <td>4</td>
        <td>сначала вычислится самое правое выражение 2+2 и присвоится переменной <b>c</b></td>
      </tr>
      <tr>
        <td>4</td>
        <td>затем <b>c</b> присвоится <b>b</b> (b = c)</td>
      </tr>
      <tr>
        <td>4</td>
        <td>затем <b>b</b> присвоится <b>a</b> (b = a)</td>
      </tr>
    </table>
  </section>

  <section>
    {# assign_abbreviated_syntax #}
    {% set title = 'сокращенный синтаксис' %}
    {% set description = 'при помощи совмещённых операторов можно укорачивать запись' %}
    {% set onclick = 'onclick=' %}
    {% set function = "assign_abbreviated_syntax()" %}
    {% set code = 'examples/javascript/operators/assign_abbreviated_syntax.njk' %}
    {% include codeExample %}
  </section>

{% endblock %}