{% extends "base.njk" %}

{# variables #}
{% set title        = 'бинарный минус' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Бинарный минус</title>
  <meta name="description" content="Как действует бинарный минус в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Выполняет вычитание.</p>

  {% set example_id = 'binary_minus' %}
  {% set numeration = '' %}
  {% set split = '' %}
  {% set html = '' %}
  {% set njk = '' %}
  {% set css = '' %}
  {% set js = 'binary_minus' %}
  {% set demo = '' %}
  {% include codeExample %}

{% endblock %}