{% extends "base.njk" %}

{# variables #}
{% set title        = 'бинарный плюс' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# ===================================== #}

{% block head %}
  <title>Бинарный плюс</title>
  <meta name="description" content="Как действует бинарный плюс в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Выполняет сложение двух операндов (чисел), объединеняет строки, преобразует строки в числа.</p>

  {% set example_id = 'binary_plus' %}
  {% set numeration = '' %}
  {% set split = '' %}
  {% set html = '' %}
  {% set njk = '' %}
  {% set css = '' %}
  {% set js = 'examples/javascript/operators/binary_plus.js' %}
  {% set demo = '' %}
  {% include codeExample_beta %}
  <table>
    <tr>
      <td>2</td>
      <td>сложение двух числел</td>
    </tr>
    <tr>
      <td>11</td>
      <td>объединение двух строк</td>
    </tr>
    <tr>
      <td>11</td>
      <td>если один из аргументов является строкой, то второй будет также преобразован к строке <b>*</b></td>
    </tr>
    <tr>
      <td>0</td>
      <td>другие операторы наоборот преобразуют строки в числа</td>
    </tr>
  </table>
  <p><span>* </span><small>Это особенность только "<b>бинарного плюса</b>", остальные арифметические операторы работают только с числами и приводят строки к числам.</small></p>

{% endblock %}