{% extends "base.njk" %}

{# variables #}
{% set title        = 'бинарный минус' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# ===================================== #}

{% block head %}
  <title>Бинарный минус</title>
  <meta name="description" content="Как действует бинарный минус в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Выполняет вычитание.</p>

  {% set example_id = 'binary_minus' %} {# требуется для работы кнопок checkbox/label #}
  {% set numeration = '' %} {# true = включена / '' (пустая строка) = отключена #}
  {% set split = '' %} {# true = включен / '' (пустая строка) = отключен #}
  {% set html = '' %} {# путь к примеру html #}
  {% set njk = '' %} {# путь к примеру njk #}
  {% set css = '' %} {# путь к примеру css #}
  {% set js = 'examples/javascript/operators/binary_minus.js' %} {# путь к примеру js #}
  {% set demo = '' %}
  {% include codeExample_beta %}

{% endblock %}