{% extends "base.njk" %}

{# variables #}
{% set title        = 'запятая' %}
{% set category     = 'справочник' %}
{% set subcategory  = 'javascript' %}
{% set segment      = 'javascript' %}
{% set subsegment   = 'операторы' %}
{% set code_language = 'language-js' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Запятая</title>
  <meta name="description" content="Оператор 'запятая' в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Позволяет перечислять выражения, разделяя их запятой.</p>

  {% set example_id = 'comma' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  
  <p>Каждое из них вычисляется и отбрасывается, за исключением последнего, которое возвращается.</p>
  <b>Запятая имеет самый низкий приоритет [ 1 ]</b>

{% endblock %}