{% extends "base.njk" %}

{# variables #}
{% set title        = 'инкремент' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set examples_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Инкремент</title>
  <meta name="description" content="Оператор для увеличения значения на единицу в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Увеличивает значение на 1, существуют два вида инкремента и действуют они по-разному.</p>

  <section>
    <h2>Постфикcный инкремент</h2>
    <p>Увеличивает значение на 1, но при этом возвращает старое значение.</p>
    {% set example_id = 'postfix_increment' %}
    {% set numeration = '' %}
    {% set split = '' %}
    {% set html = '' %}
    {% set njk = '' %}
    {% set css = '' %}
    {% set js = 'postfix_increment.js' %}
    {% set demo = '' %}
    {% include codeExample %}
    <table>
      <tr>
        <td>1</td>
        <td>значение <b>i</b> увелилось на 1 и сохранилось в <b>a</b> , а вывелось старое</td>
      </tr>
      <tr>
        <td>2</td>
        <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно увеличилось</td>
      </tr>
    </table>
  </section>

  <section>
    <h2>Префикcный инкремент</h2>
    <p>Увеличивает значение на 1 и возвращает новое значение.</p>
    {% set example_id = 'prefix_increment' %}
    {% set numeration = '' %}
    {% set split = '' %}
    {% set html = '' %}
    {% set njk = '' %}
    {% set css = '' %}
    {% set js = 'prefix_increment.js' %}
    {% set demo = '' %}
    {% include codeExample %}
    <table>
      <tr>
        <td>2</td>
        <td>значение <b>i</b> увелилось на 1 и сохранилось в <b>a</b> , вывелось уже измененное</td>
      </tr>
      <tr>
        <td>2</td>
        <td>в качестве проверки выводим <b>i</b> и видим, что значение действительно увеличилось</td>
      </tr>
    </table>
  </section>

  <b>Инкремент/декремент можно применить только к переменной: 5++ даст ошибку.</b>


{% endblock %}