{% extends "base.njk" %}

{# variables #}
{% set title           = 'operators' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment_del     = 'delete' %}
{% set subsegment_del  = 'delete' %}

{# ===================================== #}

{% block head %}
  <title>Все операторы JavaScript</title>
  <meta name="description" content="Список всех операторов в JavaScript." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }} in JavaScript</h1>

  <ul name="javascript-operators">
    <li>&#10004; <a href="addition.html">сложение (бинарный плюс)</a><br><small> [ A + A ] арифметические операторы</small></li>
    <li>&#10004; <a href="subtraction.html">вычитание (бинарный минус)</a><br><small> [ A - A ] арифметические операторы</small></li>
    <li>&#10004; <a href="division.html">деление</a><br><small> [ / ] арифметические операторы</small></li>
    <li>&#10004; <a href="multiplication.html">умножение</a><br><small> [ * ] арифметические операторы</small></li>
    <li>&#10004; <a href="remainder.html">остаток от деления</a><br><small> [ % ] арифметические операторы</small></li>
    <li>&#10004; <a href="exponentiation.html">возведение в степень</a><br><small> [ ** ] арифметические операторы</small></li>
    <li>&#10004; <a href="increment.html">инкремент</a><br><small> [ A++ или ++A ] инкремент и декремент</small></li>
    <li>&#10004; <a href="decrement.html">декремент</a><br><small> [ A-- или --A ] инкремент и декремент</small></li>
    <li>&#10004; <a href="unary-plus.html">унарный плюс</a><br><small> [ +A ] унарные операторы</small></li>
    <li>&#10004; <a href="unary-negation.html">унарный минус</a><br><small> [ -A ] унарные операторы</small></li>
    <li>&#10004; <a href="logical_not.html">логическое НЕ</a><br><small> [ ! ] унарные операторы</small></li>
    <li>&#10004; <a href="greater_than.html">больше</a><br><small> [ &gt; ] операторы сравнения</small></li>
    <li>&#10004; <a href="less_than.html">меньше</a><br><small>[ &lt; ] операторы сравнения</small></li>
    <li>&#10004; <a href="greater_than_or_equal.html">больше или равно</a><br><small> [ &gt;= ] операторы сравнения</small></li>
    <li>&#10004; <a href="less_than_or_equal.html">меньше или равно</a><br><small> [ &lt;= ] операторы сравнения</small></li>
    <li>&#10004; <a href="equality.html">равно</a><br><small> [ == ] операторы равенства</small></li>
    <li>&#10004; <a href="inequality.html">не равно</a><br><small> [ != ] операторы равенства</small></li>
    <li>&#10004; <a href="identity.html">строго равно</a><br><small> [ === ] операторы равенства</small></li>
    <li>&#10004; <a href="nonidentity.html">строго не равно</a><br><small> [ !== ] операторы равенства</small></li>
    <li>- <a href="bitwise_and.html">побитовое И</a><br><small> [ a &amp; b ] побитовые операторы</small></li>
    <li>- <a href="bitwise_or.html">побитовое ИЛИ</a><br><small> [ a | b ] побитовые операторы</small></li>
    <li>- <a href="bitwise_xor.html">побитовое исключающее ИЛИ</a><br><small> [ a ^ b ] побитовые операторы</small></li>
    <li>&#10004; <a href="logical_and.html">логическое И</a><br><small> [ a &amp;&amp;  b ] логические операторы</small></li>
    <li>&#10004; <a href="logical_or.html">логическое ИЛИ</a><br><small> [ a || b ] логические операторы</small></li>
    <li>&#10004; <a href="conditional_operator.html">условный (тернарный) оператор</a><br><small> [ условие ? выражение1 : выражение2 ] условные операторы</small></li>
    <li>&#10004; <a href="assign.html">присваивание</a><br><small> [ = ] операторы присваивания</small></li>
    <li><a href="#">присваивание с умножением</a><br><small> [ *= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с делением</a><br><small> [ /= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с взятием остатка от деления</a><br><small> [ %= ] операторы присваивания</small></li>
    <li><a href="#">присваивание со сложением</a><br><small> [ += ] операторы присваивания</small></li>
    <li><a href="#">присваивание с вычитанием</a><br><small> [ -= ] операторы присваивания</small></li>
    <li><a href="#">присваивание со сдвигом влево</a><br><small> [ &lt;&lt;= ] операторы присваивания</small></li>
    <li><a href="#">присваивание со знаковым сдвигом вправо</a><br><small> [ >>= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с беззнаковым сдвигом вправо</a><br><small> [ >>>= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с побитовым И</a><br><small> [ &amp;= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с побитовым ИСКЛЮЧАЮЩИМ ИЛИ</a><br><small> [ ^= ] операторы присваивания</small></li>
    <li><a href="#">присваивание с побитовым ИЛИ</a><br><small> [ |= ] операторы присваивания</small></li>
    <li><a href="comma.html">запятая</a><br><small> [ , ]</small></li>
    <li><a href="operator-precedence.html">приоритет операторов</a></li>
  </ul>


{% endblock %}