{% extends "base.njk" %}

{# variables #}
{% set title           = 'operators' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment_del     = 'delete' %}
{% set subsegment_del  = 'delete' %}

{# ===================================== #}

{% block head %}
  <title>All operators in JavaScript</title>
  <meta name="description" content="List of all javascript operators with usage examples." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>All operators in JavaScript</h1>

  <section>
    <h3>Арифметические операторы</h3>
    <ul class="tile">
      {% for item in arithmetic_operators %}
      <li>
        <div>
          <a href="{{item.link}}">{{item.name}}</a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Инкремент и декремент</h3>
    <ul class="tile">
      {% for item in increment_and_decrement %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Унарные операторы</h3>
    <ul class="tile">
      {% for item in unary_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Операторы сравнения</h3>
    <ul class="tile">
      {% for item in comparison_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Операторы равенства</h3>
    <ul class="tile">
      {% for item in equality_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Побитовые операторы</h3>
    <ul class="tile">
      {% for item in bitwise_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Логические операторы</h3>
    <ul class="tile">
      {% for item in logical_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Операторы присваивания</h3>
    <ul class="tile">
      {% for item in assignment_operators %}
      <li>
        <div>
          <a href="{{item.link}}"><span>{{item.name}}</span></a>
          <p>{{item.description}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Прочее</h3>
    <ul name="javascript-operators">
      <li><a href="comma.html">запятая</a></li>
      <li><a href="operator-precedence.html">приоритет операторов</a></li>
    </ul>
  </section>

{% endblock %}