{% extends "base.njk" %}

{# variables #}
{% set title        = 'logical NOT' %}
{% set category     = 'docs' %}
{% set subcategory  = 'javascript' %}
{% set segment      = 'operators' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Logical NOT (!) in JavaScript</title>
  <meta name="description" content="Оператор с одним аргументом, который сначала приводит значение к логическому типу true/false, затем возвращает его противоположное значение." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Logical NOT [ ! ]</h1>

  {% set example_id = 'logical_not' %}
  {% set numeration = false %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
  <table>
    <tr>
      <td>-</td>
      <td>сначала оператор<b>НЕ (!)</b> преобразует значение <b>x</b> к логическому типу <b>true/false</b></td>
    </tr>
    <tr>
      <td>-</td>
      <td>затем возвращает его противоположное значение</td>
    </tr>
  </table>

{% endblock %}