{% extends "base.njk" %}

{# variables #}
{% set title        = 'унарный минус' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# ===================================== #}

{% block head %}
  <title>Унарный минус</title>
  <meta name="description" content="Как действует унарный минус в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>

  <section>
    {# unary-minus #}
    {% set title = 'Описание' %}
    {% set description = 'Применяется к одному операнду и меняет знак числа на противоположный.' %}
    {% set onclick = 'onclick=' %}
    {% set function = "unary_minus()" %}
    {% set code = 'examples/javascript/operators/unary_minus.njk' %}
    {% include codeExample %}
  </section>


{% endblock %}