{% extends "base.njk" %}

{# variables #}
{% set title        = 'унарный плюс' %}
{% set category        = 'справочник' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'операторы' %}
{% set subsegment_del  = 'delete' %}
{% set code_language = 'language-js' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set examples_dir    = 'examples/javascript/operators/' %}

{# ===================================== #}

{% block head %}
  <title>Унарный плюс</title>
  <meta name="description" content="Как действует унарный плюс в JavaScript." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>{{ title | capitalize }}</h1>
  <p>Преобразует строковое значение в числовое.</p>

  {% set example_id = 'unary_plus' %}
  {% set numeration = '' %}
  {% set split = '' %}
  {% set html = '' %}
  {% set njk = '' %}
  {% set css = '' %}
  {% set js = 'unary_plus.js' %}
  {% set demo = '' %}
  {% include codeExample_beta %}
  <table>
    <tr>
      <td>12</td>
      <td>произойдет обычная конкатенация строк</td>
    </tr>
    <tr>
      <td>3</td>
      <td>сначала выполнится преобразование в число, затем сложение</td>
    </tr>
  </table>

{% endblock %}