<h1>{{file_name | capitalize }}</h1>
<p>Оператор использует двоичное представление обоих операндов, выполняет над ними побитовое OR и присваивает результат переменной.</p>

{% set example_id = 'bitwise_or_assignment' %}
{% set numeration = false %}
{% set split      = false %}
{% set html       = false %}
{% set njk        = false %}
{% set css        = false %}
{% set js         = true %}
{% set demo       = false %}
{% include codeExample %}