{% extends "base.njk" %}

{% set file_name   = 'alert' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'methods' %}
{% set subsegment  = '' %}

{% block head %}
  <title>{{file_name}}() method in JavaScript</title>
  <meta name="description" content="Отображает предупреждающее диалоговое окно." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

<h1>Список методов JavaScript</h1>

<section class="list">
  {% include 'parts/navigation/js_methods.njk' %}
</section>

<section class="content">
  <h2>{{file_name}}()</h2>
  <p>Отображает предупреждающее диалоговое окно.</p>
  {% set example_id = 'alert_method' %}
  {% set numeration = true %}
  {% set split      = false %}
  {% set html       = false %}
  {% set njk        = false %}
  {% set css        = false %}
  {% set js         = true %}
  {% set demo       = false %}
  {% include codeExample %}
</section>

{% endblock %}


{% block inlineScripts %}

<script>
  let main = document.getElementsByTagName('main');
  main[0].classList.add("main_two-columns");
</script>

{% endblock %}