{% extends "base.njk" %}

{% set file_name   = 'alert' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'methods' %}
{% set subsegment  = '' %}

{% block head %}
  <title>{{file_name}}() method in JavaScript</title>
  <meta name="description" content="Отображает предупреждающее диалоговое окно." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}
  <section class="content">
    <h1>Метод {{file_name}}()</h1>
    <p>Отображает предупреждающее диалоговое окно.</p>
    {% set example_id = 'alert_method' %}
    {% set numeration = true %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>
{% endblock %}


{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}