{% extends "base.njk" %}

{% set document    = 'confirm' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'methods' %}
{% set subsegment  = 'confirm' %}

{% block head %}
  <title>{{document}}() method in JavaScript</title>
  <meta name="description" content="Отображает диалог с сообщением, на которое пользователь должен ответить 'OK' или 'Отмена'." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
  <style>{% include highlight_item %}</style>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}
{% block main %}{% include content %}{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}