{% extends "base.njk" %}

{% set file_name   = 'methods' %}
{% set category    = 'docs' %}
{% set subcategory = 'javascript' %}
{% set segment     = 'methods' %}
{% set subsegment  = 'delete' %}

{% block head %}
  <title>All methods in JavaScript</title>
  <meta name="description" content="List of all javascript methods with usage examples." />
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Список методов JavaScript</h1>

  <section class="content">
    <input type="search" placeholder='поиск не работает'>
    <button>Найти</button>
  </section>

{% endblock %}

{% block inlineScripts %}
  {# место для инлайновых скриптов #}
{% endblock %}