{% extends "base.njk" %}

{# variables #}
{% set title           = 'confirm()' %}
{% set category        = 'docs' %}
{% set subcategory     = 'javascript' %}
{% set segment         = 'methods' %}
{% set subsegment_del  = 'delete' %}

{# путь к примерам code-example-beta [НЕ УДАЛЯТЬ] #}
{% set example_dir    = 'examples/javascript/methods/' %}

{# ===================================== #}

{% block head %}
  <title>{{title}} method in JavaScript</title>
  <meta name="description" content="Отображает диалог с сообщением, на которое пользователь должен ответить 'OK' или 'Отмена'." />
  <link rel="stylesheet" href="{{prism_css}}">
  <script src="{{prism_js}}" async></script>
{% endblock %}

{% block aside_top %}{% include aside_top %}{% endblock %}
{% block aside_left %}{% include aside_left %}{% endblock %}

{% block main %}

  <h1>Список методов JavaScript</h1>

  <section class="list">
    {% include 'parts/navigation/js_methods.njk' %}
  </section>

  <section class="content">
    <h2>{{ title}}</h2>
    <p>Отображает предупреждающее диалоговое окно.</p>
    {% set example_id = 'confirm_method' %}
    {% set numeration = true %}
    {% set split      = false %}
    {% set html       = false %}
    {% set njk        = false %}
    {% set css        = false %}
    {% set js         = true %}
    {% set demo       = false %}
    {% include codeExample %}
  </section>

{% endblock %}

{% block inlineScripts %}
  {# инлайновые скрипты для этой страницы #}
  <script>
    let main = document.getElementsByTagName('main');
    main[0].classList.add("main_two-columns");
  </script>
{% endblock %}